[unified]-database-to-smartsheet-wH7UAC8jZ7INam71.json
{"updatedAt":"2026-03-19T05:09:22.950Z","createdAt":"2026-01-09T08:35:16.185Z","id":"wH7UAC8jZ7INam71","name":"[Unified] database-to-smartsheet","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-2800,1376],"id":"3d7294b6-4fb4-4bc7-be64-cb391a202938","name":"Error Trigger"},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{ JSON.stringify({\n  cardsV2: [{\n    cardId: 'push-error',\n    card: {\n      header: {\n        title: 'PUSH SMARTSHEET ERROR 🚨',\n        subtitle: $json.workflow.name\n      },\n      sections: [{\n        widgets: [\n          {\n            decoratedText: {\n              topLabel: 'Last Node',\n              text: `<b>${$json.execution.lastNodeExecuted}</b>`\n            }\n          },\n          {\n            decoratedText: {\n              topLabel: 'Error',\n              text: $json.execution.error.message\n            }\n          },\n          {\n            buttonList: {\n              buttons: [{\n                text: 'View Details',\n                onClick: { openLink: { url: $json.execution.url } }\n              }]\n            }\n          }\n        ]\n      }]\n    }\n  }]\n}) }}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[-2576,1376],"id":"5d272ed4-648f-4b5c-9e64-d8504bd5ff7f","name":"Error Notification","webhookId":"95c5bad4-3ae5-436b-9119-1e28b22722cb","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging"},"sheetName":{"__rl":true,"value":1691917800,"mode":"list","cachedResultName":"N8N configs"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2576,2368],"id":"1bee42f5-da7e-437c-be6b-ddda2e941122","name":"Load Smartsheet Config","executeOnce":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"jsCode":"const configRows = $input.all();\nconst categories = [];\n\nfor (const row of configRows) {\n  const field = row.json.field || '';\n  const content = row.json.content || '';\n  const categoriesList = row.json.categories_list || '';\n  \n  if (field.includes('smartsheet ID')) {\n    const categoryGroup = field.replace(' smartsheet ID', '').toLowerCase();\n    const cats = categoriesList.split(',').map(c => c.trim().toLowerCase()).filter(Boolean);\n    \n    if (content && cats.length > 0) {\n      categories.push({\n        json: {\n          category_group: categoryGroup,\n          smartsheet_id: content,\n          categories: cats,\n          imported_games_sheet: categoryGroup\n        }\n      });\n    }\n  }\n}\n\nreturn categories;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2352,2368],"id":"79abff8f-6327-48ab-b48e-457dd93657e0","name":"Parse Config"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.category_group }}","rightValue":"puzzle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.category_group }}","rightValue":"arcade","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.category_group }}","rightValue":"simulation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2128,2352],"id":"48a309e4-9d3e-446e-b4c5-6aed9a9493bb","name":"Switch Category"},{"parameters":{"documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"puzzle"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1904,1792],"id":"7d4a3078-3cff-4c3a-b7a5-7bfa17b8bcab","name":"Load IDs - Puzzle","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"arcade"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1904,2368],"id":"a82c7202-0530-43f9-921b-5cd5303ded1c","name":"Load IDs - Arcade","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"simulation"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1904,2944],"id":"db1907d8-d6fc-475e-9b11-dbc05380e5be","name":"Load IDs - Simulation","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"jsCode":"const categoryData = $('Switch Category').item.json;\nconst importedGames = $input.all();\nconst importedIds = importedGames.map(item => item.json.ID).filter(Boolean);\nconst importedIdsString = importedIds.length > 0 ? importedIds.join('|') : 'NONE';\n\nreturn [{ json: { ...categoryData, imported_ids_string: importedIdsString } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,1792],"id":"185ccba7-89f8-4e0e-b149-a761e748eae3","name":"Prep SQL - Puzzle"},{"parameters":{"jsCode":"const categoryData = $('Switch Category').item.json;\nconst importedGames = $input.all();\nconst importedIds = importedGames.map(item => item.json.ID).filter(Boolean);\nconst importedIdsString = importedIds.length > 0 ? importedIds.join('|') : 'NONE';\n\nreturn [{ json: { ...categoryData, imported_ids_string: importedIdsString } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,2368],"id":"e0beb62b-3324-4bd1-afdd-08c9702b3f1a","name":"Prep SQL - Arcade"},{"parameters":{"jsCode":"const categoryData = $('Switch Category').item.json;\nconst importedGames = $input.all();\nconst importedIds = importedGames.map(item => item.json.ID).filter(Boolean);\nconst importedIdsString = importedIds.length > 0 ? importedIds.join('|') : 'NONE';\n\nreturn [{ json: { ...categoryData, imported_ids_string: importedIdsString } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,2944],"id":"25900728-118a-44f0-b065-8685d7a0a50b","name":"Prep SQL - Simulation"},{"parameters":{"operation":"executeQuery","query":"WITH imported_games AS (\n  SELECT unnest(string_to_array($1, '|')) AS game_id\n)\nSELECT gi.game_id, gi.title, gi.os,\n  COALESCE(gi.initial_release, gi.temp_release) AS initial_release,\n  gi.app_link, gi.created_date,\n  CASE WHEN dev.developer_name IS NULL THEN dev.dev_company ELSE dev.developer_name END AS publisher_name,\n  gi.metadata -> 'categories' AS categories\nFROM game_info gi\nLEFT JOIN developer dev ON gi.publisher_id = dev.id\nLEFT JOIN imported_games ig ON gi.game_id = ig.game_id\nWHERE COALESCE(gi.initial_release, gi.temp_release) BETWEEN ($2::date - INTERVAL '30 days') AND $2::date\n  AND (gi.type IS NULL OR gi.type::TEXT ILIKE '%sync%')\n  AND gi.app_link IS NOT NULL AND gi.is_active = True\n  AND ig.game_id IS NULL\n  AND EXISTS (SELECT 1 FROM jsonb_array_elements_text(gi.metadata -> 'categories') AS cat WHERE lower(cat) = ANY(string_to_array(lower($3), '|')));","options":{"queryReplacement":"={{ $json.imported_ids_string }},{{ $now.format('yyyy-MM-dd') }},={{ $json.categories.join('|') }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1456,1792],"id":"59429ad3-5844-4d86-8829-92d7b6b754a7","name":"SQL - Puzzle","executeOnce":true,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"operation":"executeQuery","query":"WITH imported_games AS (\n  SELECT unnest(string_to_array($1, '|')) AS game_id\n)\nSELECT gi.game_id, gi.title, gi.os,\n  COALESCE(gi.initial_release, gi.temp_release) AS initial_release,\n  gi.app_link, gi.created_date,\n  CASE WHEN dev.developer_name IS NULL THEN dev.dev_company ELSE dev.developer_name END AS publisher_name,\n  gi.metadata -> 'categories' AS categories\nFROM game_info gi\nLEFT JOIN developer dev ON gi.publisher_id = dev.id\nLEFT JOIN imported_games ig ON gi.game_id = ig.game_id\nWHERE COALESCE(gi.initial_release, gi.temp_release) BETWEEN ($2::date - INTERVAL '30 days') AND $2::date\n  AND (gi.type IS NULL OR gi.type::TEXT ILIKE '%sync%')\n  AND gi.app_link IS NOT NULL AND gi.is_active = True\n  AND ig.game_id IS NULL\n  AND EXISTS (SELECT 1 FROM jsonb_array_elements_text(gi.metadata -> 'categories') AS cat WHERE lower(cat) = ANY(string_to_array(lower($3), '|')));","options":{"queryReplacement":"={{ $json.imported_ids_string }},{{ $now.format('yyyy-MM-dd') }},={{ $json.categories.join('|') }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1456,2368],"id":"de89067c-c5fb-47f0-8d43-f38243d346fe","name":"SQL - Arcade","executeOnce":true,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"operation":"executeQuery","query":"WITH imported_games AS (\n  SELECT unnest(string_to_array($1, '|')) AS game_id\n)\nSELECT gi.game_id, gi.title, gi.os,\n  COALESCE(gi.initial_release, gi.temp_release) AS initial_release,\n  gi.app_link, gi.created_date,\n  CASE WHEN dev.developer_name IS NULL THEN dev.dev_company ELSE dev.developer_name END AS publisher_name,\n  gi.metadata -> 'categories' AS categories\nFROM game_info gi\nLEFT JOIN developer dev ON gi.publisher_id = dev.id\nLEFT JOIN imported_games ig ON gi.game_id = ig.game_id\nWHERE COALESCE(gi.initial_release, gi.temp_release) BETWEEN ($2::date - INTERVAL '30 days') AND $2::date\n  AND (gi.type IS NULL OR gi.type::TEXT ILIKE '%sync%')\n  AND gi.app_link IS NOT NULL AND gi.is_active = True\n  AND ig.game_id IS NULL\n  AND EXISTS (SELECT 1 FROM jsonb_array_elements_text(gi.metadata -> 'categories') AS cat WHERE lower(cat) = ANY(string_to_array(lower($3), '|')));","options":{"queryReplacement":"={{ $json.imported_ids_string }},{{ $now.format('yyyy-MM-dd') }},={{ $json.categories.join('|') }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1456,2944],"id":"adbbd60f-d9aa-492f-8812-4aa453427f00","name":"SQL - Simulation","executeOnce":true,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"jsCode":"// Filter out items without game_id (SQL returns success:true even with no data)\nconst allItems = $input.all();\nconst games = allItems.filter(item => item.json.game_id);\nconst categoryData = $('Prep SQL - Puzzle').first().json;\nconst count = games.length;\n\nreturn [{ json: { category: 'puzzle', count, games: games.map(g => g.json), smartsheet_id: categoryData.smartsheet_id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,1792],"id":"d392b343-d8b3-446a-a701-0e8fc27b95ce","name":"Process - Puzzle"},{"parameters":{"jsCode":"// Filter out items without game_id (SQL returns success:true even with no data)\nconst allItems = $input.all();\nconst games = allItems.filter(item => item.json.game_id);\nconst categoryData = $('Prep SQL - Arcade').first().json;\nconst count = games.length;\n\nreturn [{ json: { category: 'arcade', count, games: games.map(g => g.json), smartsheet_id: categoryData.smartsheet_id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,2368],"id":"4fa75387-59a1-478b-8036-7a78573208ba","name":"Process - Arcade"},{"parameters":{"jsCode":"// Filter out items without game_id (SQL returns success:true even with no data)\nconst allItems = $input.all();\nconst games = allItems.filter(item => item.json.game_id);\nconst categoryData = $('Prep SQL - Simulation').first().json;\nconst count = games.length;\n\nreturn [{ json: { category: 'simulation', count, games: games.map(g => g.json), smartsheet_id: categoryData.smartsheet_id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,2944],"id":"1b0ae8b0-6409-40f3-9492-6a5b32a6453f","name":"Process - Simulation"},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/columns","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,1696],"id":"e1e1e00d-6ae1-4a06-99a3-6a64cbf45e11","name":"Fetch Cols - Puzzle","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/columns","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,2272],"id":"12a03320-8f06-4334-893b-776b76e7d7e1","name":"Fetch Cols - Arcade","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/columns","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,2848],"id":"ecfd03bd-28ad-486a-a04c-005577b521d5","name":"Fetch Cols - Simulation","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"jsCode":"const columns = $json.data || [];\nconst gameData = $('If').first().json;\nconst games = gameData.games;\nconst colByTitle = Object.fromEntries(columns.map(c => [String(c.title).trim(), c.id]));\n\nfunction pushCell(cells, t, v) { const id = colByTitle[t]; if (id && v != null && v !== '') cells.push({ columnId: String(id), value: v, strict: false }); }\nfunction toDateYMD(v) { if (!v) return v; const d = new Date(v); if (isNaN(d.getTime())) return String(v); return `${d.getUTCFullYear()}-${String(d.getUTCMonth()+1).padStart(2,'0')}-${String(d.getUTCDate()).padStart(2,'0')}`; }\nfunction catAt(cats, idx) { if (Array.isArray(cats)) return cats[idx]; if (typeof cats === 'string') return cats.split(/[;,|]/).map(s=>s.trim()).filter(Boolean)[idx]; return undefined; }\n\nconst rows = games.map(g => {\n  const cells = [];\n  const os = String(g.os || '').toLowerCase();\n  pushCell(cells, 'Game Name', (g.title || '').replace(/:/g, '').trim());\n  pushCell(cells, 'Release Date', toDateYMD(g.initial_release));\n  pushCell(cells, 'GameID', g.game_id);\n  pushCell(cells, 'Genre 1', catAt(g.categories, 0));\n  pushCell(cells, 'Genre 2', catAt(g.categories, 1));\n  pushCell(cells, 'Created', toDateYMD(g.created_date));\n  pushCell(cells, 'Import Date', toDateYMD(new Date()));\n  if (os === 'ios') { pushCell(cells, 'IOS Link', g.app_link); pushCell(cells, 'Publisher Name (IOS)', g.publisher_name); }\n  else { pushCell(cells, 'AND Link', g.app_link); pushCell(cells, 'Publisher Name (AND)', g.publisher_name); }\n  return { toTop: true, cells };\n});\n\nreturn [{ json: { rows, category: 'puzzle', count: games.length, smartsheet_id: gameData.smartsheet_id, game_ids: games.map(g => g.game_id) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,1696],"id":"6f161ea9-eb30-4834-b7f1-a0cebadfffcd","name":"Build Rows - Puzzle"},{"parameters":{"jsCode":"const columns = $json.data || [];\nconst gameData = $('If1').first().json;\nconst games = gameData.games;\nconst colByTitle = Object.fromEntries(columns.map(c => [String(c.title).trim(), c.id]));\n\nfunction pushCell(cells, t, v) { const id = colByTitle[t]; if (id && v != null && v !== '') cells.push({ columnId: String(id), value: v, strict: false }); }\nfunction toDateYMD(v) { if (!v) return v; const d = new Date(v); if (isNaN(d.getTime())) return String(v); return `${d.getUTCFullYear()}-${String(d.getUTCMonth()+1).padStart(2,'0')}-${String(d.getUTCDate()).padStart(2,'0')}`; }\nfunction catAt(cats, idx) { if (Array.isArray(cats)) return cats[idx]; if (typeof cats === 'string') return cats.split(/[;,|]/).map(s=>s.trim()).filter(Boolean)[idx]; return undefined; }\n\nconst rows = games.map(g => {\n  const cells = [];\n  const os = String(g.os || '').toLowerCase();\n  pushCell(cells, 'Game Name', (g.title || '').replace(/:/g, '').trim());\n  pushCell(cells, 'Release Date', toDateYMD(g.initial_release));\n  pushCell(cells, 'GameID', g.game_id);\n  pushCell(cells, 'Genre 1', catAt(g.categories, 0));\n  pushCell(cells, 'Genre 2', catAt(g.categories, 1));\n  pushCell(cells, 'Created', toDateYMD(g.created_date));\n  pushCell(cells, 'Import Date', toDateYMD(new Date()));\n  if (os === 'ios') { pushCell(cells, 'IOS Link', g.app_link); pushCell(cells, 'Publisher Name (IOS)', g.publisher_name); }\n  else { pushCell(cells, 'AND Link', g.app_link); pushCell(cells, 'Publisher Name (AND)', g.publisher_name); }\n  return { toTop: true, cells };\n});\n\nreturn [{ json: { rows, category: 'arcade', count: games.length, smartsheet_id: gameData.smartsheet_id, game_ids: games.map(g => g.game_id) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,2272],"id":"49119916-cf78-451c-87d7-6a25414f31b7","name":"Build Rows - Arcade"},{"parameters":{"jsCode":"const columns = $json.data || [];\nconst gameData = $('If2').first().json;\nconst games = gameData.games;\nconst colByTitle = Object.fromEntries(columns.map(c => [String(c.title).trim(), c.id]));\n\nfunction pushCell(cells, t, v) { const id = colByTitle[t]; if (id && v != null && v !== '') cells.push({ columnId: String(id), value: v, strict: false }); }\nfunction toDateYMD(v) { if (!v) return v; const d = new Date(v); if (isNaN(d.getTime())) return String(v); return `${d.getUTCFullYear()}-${String(d.getUTCMonth()+1).padStart(2,'0')}-${String(d.getUTCDate()).padStart(2,'0')}`; }\nfunction catAt(cats, idx) { if (Array.isArray(cats)) return cats[idx]; if (typeof cats === 'string') return cats.split(/[;,|]/).map(s=>s.trim()).filter(Boolean)[idx]; return undefined; }\n\nconst rows = games.map(g => {\n  const cells = [];\n  const os = String(g.os || '').toLowerCase();\n  pushCell(cells, 'Game Name', (g.title || '').replace(/:/g, '').trim());\n  pushCell(cells, 'Release Date', toDateYMD(g.initial_release));\n  pushCell(cells, 'GameID', g.game_id);\n  pushCell(cells, 'Genre 1', catAt(g.categories, 0));\n  pushCell(cells, 'Genre 2', catAt(g.categories, 1));\n  pushCell(cells, 'Created', toDateYMD(g.created_date));\n  pushCell(cells, 'Import Date', toDateYMD(new Date()));\n  if (os === 'ios') { pushCell(cells, 'IOS Link', g.app_link); pushCell(cells, 'Publisher Name (IOS)', g.publisher_name); }\n  else { pushCell(cells, 'AND Link', g.app_link); pushCell(cells, 'Publisher Name (AND)', g.publisher_name); }\n  return { toTop: true, cells };\n});\n\nreturn [{ json: { rows, category: 'simulation', count: games.length, smartsheet_id: gameData.smartsheet_id, game_ids: games.map(g => g.game_id) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,2848],"id":"4d2be4b1-011f-4268-ab5c-9c9bb75bcf32","name":"Build Rows - Simulation"},{"parameters":{"method":"POST","url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/rows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rows }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,1696],"id":"f0a15e9a-4305-43bc-a8e0-540f00bc1a5f","name":"POST - Puzzle","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/rows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rows }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,2272],"id":"f37b21b0-1d51-4308-8f1a-ba48885cf7c4","name":"POST - Arcade","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.smartsheet_id }}/rows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rows }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,2848],"id":"bd7d9525-3bde-45c8-a12e-d8dccd7f8050","name":"POST - Simulation","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const buildData = $('Build Rows - Puzzle').first().json;\nreturn buildData.game_ids.map(id => ({ json: { ID: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,1600],"id":"54d1844a-dcdd-41ea-b72f-a9ad48e9397a","name":"Extract IDs - Puzzle"},{"parameters":{"jsCode":"const buildData = $('Build Rows - Arcade').first().json;\nreturn buildData.game_ids.map(id => ({ json: { ID: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,2176],"id":"2750ed02-24d9-4974-8f49-5db4d03295de","name":"Extract IDs - Arcade"},{"parameters":{"jsCode":"const buildData = $('Build Rows - Simulation').first().json;\nreturn buildData.game_ids.map(id => ({ json: { ID: id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,2752],"id":"4880cde2-0c6f-47e0-b192-43c25605c5f9","name":"Extract IDs - Simulation"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"puzzle"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,1600],"id":"fb4762af-0b86-4038-b59f-666258947c30","name":"Add IDs - Puzzle Sheet","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"full"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,1600],"id":"1f759ad8-adc0-4f1d-b11e-ee5a8905c562","name":"Add IDs - Full (Puzzle)","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"arcade"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"release_date","displayName":"release_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,2176],"id":"32b23ec8-1d6c-41cf-ba0b-dd43bcc0ddeb","name":"Add IDs - Arcade Sheet","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"full"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,2176],"id":"c37f5941-e0fa-4ff7-9c6f-0cb17b6c5c24","name":"Add IDs - Full (Arcade)","executeOnce":false,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"simulation"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"release_date","displayName":"release_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,2752],"id":"898f1996-a2a1-46a9-9f2a-4dded9a51a04","name":"Add IDs - Simulation Sheet","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uY2BgcS2_r3uPghBPn4pyV9q66QSapkJPXOBoZgiank","mode":"list","cachedResultName":"[Signal] Imported Game IDs"},"sheetName":{"__rl":true,"mode":"name","value":"full"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,2752],"id":"e8b64830-5ffc-4c7a-a682-574314657af4","name":"Add IDs - Full (Simulation)","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"jsCode":"const count = $('Build Rows - Puzzle').first().json.count;\nreturn [{ json: { category: 'puzzle', count } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1600],"id":"ad2c2cbb-b038-499b-9129-822ea315a702","name":"Done - Puzzle"},{"parameters":{"jsCode":"const count = $('Build Rows - Arcade').first().json.count;\nreturn [{ json: { category: 'arcade', count } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2176],"id":"e8170dfc-43a7-43fa-983d-bb2abe230ca4","name":"Done - Arcade"},{"parameters":{"jsCode":"const count = $('Build Rows - Simulation').first().json.count;\nreturn [{ json: { category: 'simulation', count } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2752],"id":"4ca9e02c-87d8-4c4a-88db-3226246150d8","name":"Done - Simulation"},{"parameters":{"jsCode":"const items = $input.all();\nlet puzzleCount = 0, arcadeCount = 0, simulationCount = 0;\nlet puzzleError = false, arcadeError = false, simulationError = false;\nlet puzzleErrorMsg = '', arcadeErrorMsg = '', simulationErrorMsg = '';\nfor (const item of items) {\n  const cat = item.json.category;\n  const count = item.json.count || 0;\n  const hasError = item.json.error === true;\n  const errorMsg = item.json.error_message || '';\n  if (cat === 'puzzle') { puzzleCount = count; puzzleError = hasError; puzzleErrorMsg = errorMsg; }\n  else if (cat === 'arcade') { arcadeCount = count; arcadeError = hasError; arcadeErrorMsg = errorMsg; }\n  else if (cat === 'simulation') { simulationCount = count; simulationError = hasError; simulationErrorMsg = errorMsg; }\n}\nconst total = puzzleCount + arcadeCount + simulationCount;\nconst hasAnyError = puzzleError || arcadeError || simulationError;\nconst puzzleDisplay = puzzleError ? '⛔ ' + puzzleErrorMsg : String(puzzleCount);\nconst arcadeDisplay = arcadeError ? '⛔ ' + arcadeErrorMsg : String(arcadeCount);\nconst simulationDisplay = simulationError ? '⛔ ' + simulationErrorMsg : String(simulationCount);\nreturn [{ json: { puzzle_count: puzzleCount, arcade_count: arcadeCount, simulation_count: simulationCount, total_count: total, puzzle_display: puzzleDisplay, arcade_display: arcadeDisplay, simulation_display: simulationDisplay, has_error: hasAnyError } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,2368],"id":"815468eb-2c8d-432a-99a6-218ba249a888","name":"Count Summary"},{"parameters":{"spaceId":"spaces/AAQAHvco23k","jsonParameters":true,"messageJson":"={{\nJSON.stringify({\n  \"cardsV2\": [\n    {\n      \"cardId\": \"smartsheet-import-log\",\n      \"card\": {\n        \"header\": {\n          \"title\": $json.has_error ? '⚠️ Smartsheet Push (Có lỗi)' : '✅ Smartsheet Push Success',\n          \"subtitle\": $now.format('dd/MM/yyyy - HH:mm')\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"TỔNG SỐ GAME ĐÃ IMPORT\",\n                  \"text\": `<b>${$json.total_count}</b> games`,\n                  \"startIcon\": {\n                    \"knownIcon\": \"STAR\"\n                  }\n                }\n              },\n              {\n                \"divider\": {}\n              },\n              {\n                \"decoratedText\": {\n                  \"text\": \"Puzzle - Word - Casual - Music - Trivia\",\n                  \"bottomLabel\": `Số lượng: ${$json.puzzle_display}`,\n                  \"wrapText\": true\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"text\": \"Arcade - Action - Adventure\",\n                  \"bottomLabel\": `Số lượng: ${$json.arcade_display}`,\n                  \"wrapText\": true\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"text\": \"Simulation - Strategy\",\n                  \"bottomLabel\": `Số lượng: ${$json.simulation_display}`,\n                  \"wrapText\": true\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n})\n}}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[1456,2368],"id":"1432f0e1-fa58-4eb2-b8f4-4a8bec973b8a","name":"Send Notification","webhookId":"5f9fdb58-fe62-4c29-a528-a4d5ed8030c8","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"jsCode":"return [{ json: { category: 'puzzle', count: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1984],"id":"bf551dd2-c1aa-4ea0-bc7f-186b77a24228","name":"No Games - Puzzle"},{"parameters":{"jsCode":"return [{ json: { category: 'arcade', count: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2560],"id":"01eefd70-dbb8-4e0d-8134-a56c4eb67b06","name":"No Games - Arcade"},{"parameters":{"jsCode":"return [{ json: { category: 'simulation', count: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,3136],"id":"724f21b6-bb44-4582-95fb-727da96028f0","name":"No Games - Simulation"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"853a9038-23d5-4799-8acd-43a196084f90","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1008,1792],"id":"5781eb5b-8eca-487c-9700-8e63cd93a2a2","name":"If"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4dc23577-9e20-4150-93b9-b9f2740f004d","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1008,2368],"id":"4cfc3770-2465-4ef7-b198-bf0a5d53c71c","name":"If1"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"fa126c68-4b5a-48e8-90ad-bbead1e35844","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1008,2944],"id":"51a502de-af5e-43dc-a84f-01657306aac1","name":"If2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1008,2352],"id":"2710b6aa-6dff-4fb5-acd5-d620d248b0b0","name":"Merge All Done"},{"parameters":{"workflowId":{"__rl":true,"value":"PqtFP3xm06p48tcz","mode":"list","cachedResultUrl":"/workflow/PqtFP3xm06p48tcz","cachedResultName":"Production — Auto Assign Game Evaluator"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1680,2368],"id":"cb749e7a-2a09-48b3-a341-60e7d7b23152","name":"Call 'Auto Assign Game Evaluator'","executeOnce":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2800,2368],"id":"4060942e-d498-40e0-8b37-fb73cc13ad11","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{ json: { category: 'puzzle', count: 0, error: true, error_message: 'Smartsheet Full' } }];"},"id":"error-puzzle","name":"Error - Puzzle","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1792]},{"parameters":{"jsCode":"return [{ json: { category: 'arcade', count: 0, error: true, error_message: 'Smartsheet Full' } }];"},"id":"error-arcade","name":"Error - Arcade","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2368]},{"parameters":{"jsCode":"return [{ json: { category: 'simulation', count: 0, error: true, error_message: 'Smartsheet Full' } }];"},"id":"error-simulation","name":"Error - Simulation","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2944]}],"connections":{"Error Trigger":{"main":[[{"node":"Error Notification","type":"main","index":0}]]},"Load Smartsheet Config":{"main":[[{"node":"Parse Config","type":"main","index":0}]]},"Parse Config":{"main":[[{"node":"Switch Category","type":"main","index":0}]]},"Switch Category":{"main":[[{"node":"Load IDs - Puzzle","type":"main","index":0}],[{"node":"Load IDs - Arcade","type":"main","index":0}],[{"node":"Load IDs - Simulation","type":"main","index":0}]]},"Load IDs - Puzzle":{"main":[[{"node":"Prep SQL - Puzzle","type":"main","index":0}]]},"Load IDs - Arcade":{"main":[[{"node":"Prep SQL - Arcade","type":"main","index":0}]]},"Load IDs - Simulation":{"main":[[{"node":"Prep SQL - Simulation","type":"main","index":0}]]},"Prep SQL - Puzzle":{"main":[[{"node":"SQL - Puzzle","type":"main","index":0}]]},"Prep SQL - Arcade":{"main":[[{"node":"SQL - Arcade","type":"main","index":0}]]},"Prep SQL - Simulation":{"main":[[{"node":"SQL - Simulation","type":"main","index":0}]]},"SQL - Puzzle":{"main":[[{"node":"Process - Puzzle","type":"main","index":0}]]},"SQL - Arcade":{"main":[[{"node":"Process - Arcade","type":"main","index":0}]]},"SQL - Simulation":{"main":[[{"node":"Process - Simulation","type":"main","index":0}]]},"Process - Puzzle":{"main":[[{"node":"If","type":"main","index":0}]]},"Process - Arcade":{"main":[[{"node":"If1","type":"main","index":0}]]},"Process - Simulation":{"main":[[{"node":"If2","type":"main","index":0}]]},"Fetch Cols - Puzzle":{"main":[[{"node":"Build Rows - Puzzle","type":"main","index":0}]]},"Fetch Cols - Arcade":{"main":[[{"node":"Build Rows - Arcade","type":"main","index":0}]]},"Fetch Cols - Simulation":{"main":[[{"node":"Build Rows - Simulation","type":"main","index":0}]]},"Build Rows - Puzzle":{"main":[[{"node":"POST - Puzzle","type":"main","index":0}]]},"Build Rows - Arcade":{"main":[[{"node":"POST - Arcade","type":"main","index":0}]]},"Build Rows - Simulation":{"main":[[{"node":"POST - Simulation","type":"main","index":0}]]},"Extract IDs - Puzzle":{"main":[[{"node":"Add IDs - Puzzle Sheet","type":"main","index":0}]]},"Extract IDs - Arcade":{"main":[[{"node":"Add IDs - Arcade Sheet","type":"main","index":0}]]},"Extract IDs - Simulation":{"main":[[{"node":"Add IDs - Simulation Sheet","type":"main","index":0}]]},"Add IDs - Puzzle Sheet":{"main":[[{"node":"Add IDs - Full (Puzzle)","type":"main","index":0}]]},"Add IDs - Full (Puzzle)":{"main":[[{"node":"Done - Puzzle","type":"main","index":0}]]},"Add IDs - Arcade Sheet":{"main":[[{"node":"Add IDs - Full (Arcade)","type":"main","index":0}]]},"Add IDs - Full (Arcade)":{"main":[[{"node":"Done - Arcade","type":"main","index":0}]]},"Add IDs - Simulation Sheet":{"main":[[{"node":"Add IDs - Full (Simulation)","type":"main","index":0}]]},"Add IDs - Full (Simulation)":{"main":[[{"node":"Done - Simulation","type":"main","index":0}]]},"Done - Puzzle":{"main":[[{"node":"Merge All Done","type":"main","index":0}]]},"Done - Arcade":{"main":[[{"node":"Merge All Done","type":"main","index":1}]]},"Done - Simulation":{"main":[[{"node":"Merge All Done","type":"main","index":2}]]},"Count Summary":{"main":[[{"node":"Send Notification","type":"main","index":0}]]},"No Games - Puzzle":{"main":[[{"node":"Merge All Done","type":"main","index":0}]]},"No Games - Arcade":{"main":[[{"node":"Merge All Done","type":"main","index":1}]]},"No Games - Simulation":{"main":[[{"node":"Merge All Done","type":"main","index":2}]]},"If":{"main":[[{"node":"Fetch Cols - Puzzle","type":"main","index":0}],[{"node":"No Games - Puzzle","type":"main","index":0}]]},"If1":{"main":[[{"node":"Fetch Cols - Arcade","type":"main","index":0}],[{"node":"No Games - Arcade","type":"main","index":0}]]},"If2":{"main":[[{"node":"Fetch Cols - Simulation","type":"main","index":0}],[{"node":"No Games - Simulation","type":"main","index":0}]]},"Merge All Done":{"main":[[{"node":"Count Summary","type":"main","index":0}]]},"Send Notification":{"main":[[{"node":"Call 'Auto Assign Game Evaluator'","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Load Smartsheet Config","type":"main","index":0}]]},"Error - Puzzle":{"main":[[{"node":"Merge All Done","type":"main","index":0}]]},"Error - Arcade":{"main":[[{"node":"Merge All Done","type":"main","index":1}]]},"Error - Simulation":{"main":[[{"node":"Merge All Done","type":"main","index":2}]]},"POST - Puzzle":{"main":[[{"node":"Extract IDs - Puzzle","type":"main","index":0}],[{"node":"Error - Puzzle","type":"main","index":0}]]},"POST - Arcade":{"main":[[{"node":"Extract IDs - Arcade","type":"main","index":0}],[{"node":"Error - Arcade","type":"main","index":0}]]},"POST - Simulation":{"main":[[{"node":"Extract IDs - Simulation","type":"main","index":0}],[{"node":"Error - Simulation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d7d3262-d708-4c27-b16c-4b254f23f79e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T08:35:16.190Z","createdAt":"2026-01-09T08:35:16.190Z","role":"workflow:owner","workflowId":"wH7UAC8jZ7INam71","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}