[unified]-import-daily-game-z9cXrG6cJnhYbveI.json
{"updatedAt":"2026-03-19T05:08:53.579Z","createdAt":"2026-01-07T11:00:32.957Z","id":"z9cXrG6cJnhYbveI","name":"[Unified] Import Daily Game","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-32,496],"id":"26d2756a-26ad-4537-b54c-598c34f18e9f","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"data.apps","options":{"destinationFieldName":"apps"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,496],"id":"de9357e5-5525-4bc6-aac1-7fd5e808eea1","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"a219b3ad-1db0-4cc8-bed9-3f540db1d2fc","name":"publisher_id","value":"={{ $('Split Out').item.json.apps.publisher_id }}","type":"string"},{"id":"9350d777-3177-4ea9-b5ac-85416f9ed20f","name":"os","value":"={{ $('Split Out').item.json.apps.os }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,400],"id":"5a8974b2-b225-4b8f-b422-e1a4e3cfea2f","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"07JCV0TlUMrNcpZG","mode":"list","cachedResultUrl":"/workflow/07JCV0TlUMrNcpZG","cachedResultName":"Production — [Unified] Developer Account"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[672,304],"id":"81a1a279-f1cf-417c-ab3b-2e5a16ad7082","name":"Run Flow \"Developer Account\"","disabled":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"metadata":"={\"categories\":{{ $('Loop Over Items').item.json.converted_categories?.toJsonString() }},\"support_url\":{{ ($('Loop Over Items').item.json.apps.support_url ?? \"\").toJsonString() }},\"website_url\":{{ ($('Loop Over Items').item.json.apps.website_url ?? \"\").toJsonString() }},\"privacy_policy_url\":{{ ($('Loop Over Items').item.json.apps.privacy_policy_url ?? \"\").toJsonString()}},\"content_rating\":{{ ($('Loop Over Items').item.json.apps.content_rating ?? \"\").toJsonString() }},\"screenshot_urls\":{{ ($('Loop Over Items').item.json.apps.screenshot_urls ?? \"\").toJsonString() }},\"description\":{{ ($('Loop Over Items').item.json.apps.description ?? \"\").toJsonString() }},\"subtitle\":{{ ($('Loop Over Items').item.json.apps.subtitle ?? \"\").toJsonString() }},\"promo_text\":{{ ($('Loop Over Items').item.json.apps.promo_text ?? \"\").toJsonString() }}}","game_id":"={{ $('Loop Over Items').item.json.apps.app_id }}","title":"={{ $('Loop Over Items').item.json.apps.name }}","publisher_id":"={{ $('Loop Over Items').item.json.apps.publisher_id }}","os":"={{ $('Loop Over Items').item.json.apps.os }}","icon_url":"={{ $('Loop Over Items').item.json.apps.icon_url }}","app_link":"={{ $('Loop Over Items').item.json.apps.url }}","unified_app_id":"={{ $('Loop Over Items').item.json.apps.unified_app_id }}","bundle_id":"={{ $('Loop Over Items').item.json.apps.bundle_id }}","modified_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","is_active":"={{ $('Loop Over Items').item.json.apps.active }}","initial_release":"={{\n(\n  $('Loop Over Items').item.json.apps.release_date \n    ? $('Loop Over Items').item.json.apps.release_date \n    : ($('Loop Over Items').item.json.apps.country_release_date \n        ? $('Loop Over Items').item.json.apps.country_release_date \n        : $('Loop Over Items').item.json.apps.updated_date)\n).split('T')[0]\n}}","update_release":"={{$('Loop Over Items').item.json.apps.updated_date.split('T')[0] }}","publisher_country":"={{ $('Loop Over Items').item.json.apps.publisher_country }}","type":"sync","temp_release":"={{ null }}","total_update_count":0},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"custom_fields","displayName":"custom_fields","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"total_update_count","displayName":"total_update_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"publisher_country","displayName":"publisher_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"game_concept","displayName":"game_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"temp_release","displayName":"temp_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1584,272],"id":"e6811868-452c-44a3-91d4-df54ffda54a9","name":"Insert & Update Game Info","retryOnFail":false,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"game_id":"={{ $json.game_id }}","created_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"outputColumns":["game_id","title","created_date","metadata","publisher_id","os"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2976,496],"id":"900e7376-810c-487d-ba3c-32270d52848d","name":"Check New Game","credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3232,496],"id":"78af210b-fc61-41d4-84dd-87344a94d1e4","name":"Wait1","webhookId":"5bc4af25-e2f8-4616-9697-0d6ad8f8b7c7"},{"parameters":{"workflowId":{"__rl":true,"value":"ZMiyyBa26fcCUjon","mode":"list","cachedResultUrl":"/workflow/ZMiyyBa26fcCUjon","cachedResultName":"Production — [Unified] Automated Tagging"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3488,496],"id":"9a56ff18-b55e-4513-b16a-32719babae6d","name":"Auto Tagging Top Publisher","disabled":true},{"parameters":{"content":"## Extract file json","height":304,"width":480},"type":"n8n-nodes-base.stickyNote","position":[-112,352],"typeVersion":1,"id":"dcdcb7d7-6ad1-4392-91d3-49260b52dfd5","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"UPDATE game_info\nSET update_metadata = $1::jsonb\nWHERE game_id = $2;\n","options":{"queryReplacement":"={{[\n({\n  updates: [\n    {\n      version: $('Split Out').item.json.apps.version ?? '',\n      updated_date: $json.initial_release\n        ? $json.initial_release.toDateTime().format('yyyy-MM-dd')\n        : null,\n      notes: 'Initial Releases',\n      drive_id: '',\n      youtube_id: $json.youtube_id ?? ''\n    }\n  ]\n}),\n$json.game_id\n]}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3488,288],"id":"c8a4c0ed-308b-4f44-9c45-e556116c9b0d","name":"Update Version Metadata1","credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-16,48],"id":"ebc0998b-b766-4c50-84e4-7220b8be0d5c","name":"Error Trigger"},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{\n{\n  \"cardsV2\": [\n    {\n      \"cardId\": \"error-card\",\n      \"card\": {\n        \"header\": {\n          \"title\": \"WORKFLOW EXECUTION ERROR 🚨\",\n          \"subtitle\": \"<b>\" + $json.workflow.name + \" (ID: \" + $json.workflow.id + \")</b>\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Execution\",\n                  \"text\": \"ID: \" + $json.execution.id + \" | Retry Of: \" + ($json.execution.retryOf || '') + \" | Mode: \" + $json.execution.mode\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Last Node\",\n                  \"text\": \"<b>\" + $json.execution.lastNodeExecuted + \"</b>\"\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Error Message\",\n                  \"text\": \"<b>\" + $json.execution.error.message + \"</b>\"\n                }\n              },\n              {\n                \"textParagraph\": {\n                  \"text\": \"<b>\" + ($json.execution.error.description || '') + \"</b>\"\n                }\n              },\n              {\n                \"buttonList\": {\n                  \"buttons\": [\n                    {\n                      \"text\": \"View Execution Details\",\n                      \"onClick\": {\n                        \"openLink\": {\n                          \"url\": $json.execution.url\n                        }\n                      }\n                    }\n                  ]\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n}}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[224,48],"id":"0fa7436a-caac-45ea-bb1d-979fb7d345aa","name":"Create a message","webhookId":"da207355-2554-4032-9500-3ebb7c175f7b","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"content":"## Error","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-128,-96],"typeVersion":1,"id":"9048a693-9e34-453e-ab30-35dd0873a56d","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[752,592],"id":"2110bba0-b609-469e-801c-200ae2233fe4","name":"Loop Over Items","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"cd58194d-980a-43b2-be91-00c782fac540","name":"converted_categories","value":"={{ JSON.stringify(\n  $json.apps.categories\n    .filter(id => String(id).startsWith(\"7\") || String(id).startsWith(\"game_\"))\n    .map(id => {\n      const mapping = {\n\n        \"7001\": \"Action\",\n        \"7002\": \"Adventure\",\n        \"7003\": \"Casual\",\n        \"7004\": \"Board\",\n        \"7005\": \"Card\",\n        \"7006\": \"Casino\",\n        \"7009\": \"Family\",\n        \"7011\": \"Music\",\n        \"7012\": \"Puzzle\",\n        \"7013\": \"Racing\",\n        \"7014\": \"Role Playing\",\n        \"7015\": \"Simulation\",\n        \"7016\": \"Sports\",\n        \"7017\": \"Strategy\",\n        \"7018\": \"Trivia\",\n        \"7019\": \"Word\",\n        \"game\": \"Game\",\n        \"game_action\": \"Action\",\n        \"game_adventure\": \"Adventure\",\n        \"game_arcade\": \"Arcade\",\n        \"game_board\": \"Board\",\n        \"game_card\": \"Card\",\n        \"game_casino\": \"Casino\",\n        \"game_casual\": \"Casual\",\n        \"game_educational\": \"Educational\",\n        \"game_music\": \"Music\",\n        \"game_puzzle\": \"Puzzle\",\n        \"game_racing\": \"Racing\",\n        \"game_role_playing\": \"Role Playing\",\n        \"game_simulation\": \"Simulation\",\n        \"game_sports\": \"Sports\",\n        \"game_strategy\": \"Strategy\",\n        \"game_trivia\": \"Trivia\",\n        \"game_word\": \"Word\",\n\n      };\n      return mapping[id] || \"Unknown\";\n    })\n) }}\n","type":"array"},{"id":"b442a336-5330-464c-8566-589dc4811dd6","name":"apps","value":"={{ $json.apps }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,592],"id":"8360c93a-69a1-493e-9ce1-40f88742631c","name":"Convert Category Name","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cb18f08-1f92-411d-bb54-76e1925c6e06","leftValue":"={{ $json.update_metadata }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2720,304],"id":"ece1cbf0-141d-4be5-82a2-5d5e321e3b35","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cb18f08-1f92-411d-bb54-76e1925c6e06","leftValue":"={{ $json.created_date }}","rightValue":"","operator":{"type":"dateTime","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2720,512],"id":"d53a87fd-f10b-4e0e-83d9-5b275a66dd67","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2976,752],"id":"30ccd5a0-f908-4ae8-8439-3854af22c208","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9ef4725b-c70a-463c-b2b0-3bff19145d5d","leftValue":"={{ (   $('Loop Over Items').item.json.apps.release_date      ? $('Loop Over Items').item.json.apps.release_date      : ($('Loop Over Items').item.json.apps.country_release_date          ? $('Loop Over Items').item.json.apps.country_release_date          : $('Loop Over Items').item.json.apps.updated_date) ).split('T')[0] }}","rightValue":"","operator":{"type":"dateTime","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1472,512],"id":"05402e89-58cd-4f7e-9e69-e0dbb7821564","name":"If2"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"metadata":"={\"categories\":{{ $('Loop Over Items').item.json.converted_categories?.toJsonString() }},\"support_url\":{{ ($('Loop Over Items').item.json.apps.support_url ?? \"\").toJsonString() }},\"website_url\":{{ ($('Loop Over Items').item.json.apps.website_url ?? \"\").toJsonString() }},\"privacy_policy_url\":{{ ($('Loop Over Items').item.json.apps.privacy_policy_url ?? \"\").toJsonString()}},\"content_rating\":{{ ($('Loop Over Items').item.json.apps.content_rating ?? \"\").toJsonString() }},\"screenshot_urls\":{{ ($('Loop Over Items').item.json.apps.screenshot_urls ?? \"\").toJsonString() }},\"description\":{{ ($('Loop Over Items').item.json.apps.description ?? \"\").toJsonString() }},\"subtitle\":{{ ($('Loop Over Items').item.json.apps.subtitle ?? \"\").toJsonString() }},\"promo_text\":{{ ($('Loop Over Items').item.json.apps.promo_text ?? \"\").toJsonString() }}}","game_id":"={{ $('Loop Over Items').item.json.apps.app_id }}","title":"={{ $('Loop Over Items').item.json.apps.name }}","publisher_id":"={{ $('Loop Over Items').item.json.apps.publisher_id }}","os":"={{ $('Loop Over Items').item.json.apps.os }}","icon_url":"={{ $('Loop Over Items').item.json.apps.icon_url }}","app_link":"={{ $('Loop Over Items').item.json.apps.url }}","unified_app_id":"={{ $('Loop Over Items').item.json.apps.unified_app_id }}","bundle_id":"={{ $('Loop Over Items').item.json.apps.bundle_id }}","modified_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","is_active":"={{ $('Loop Over Items').item.json.apps.active }}","update_release":"={{$('Loop Over Items').item.json.apps.updated_date.split('T')[0] }}","publisher_country":"={{ $('Loop Over Items').item.json.apps.publisher_country }}","type":"sync","temp_release":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"custom_fields","displayName":"custom_fields","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"total_update_count","displayName":"total_update_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"publisher_country","displayName":"publisher_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"game_concept","displayName":"game_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"temp_release","displayName":"temp_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1584,720],"id":"d2a676cf-d575-4002-a200-f438106aa39e","name":"Insert & Update Game Info2","retryOnFail":false,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4fe39a50-2649-4c7e-aa59-737a18089c64","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4080,720],"id":"4df07fd6-f405-48ec-b1f6-801bb56e2918","name":"If4"},{"parameters":{"method":"HEAD","url":"={{ $json.apps.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1248,544],"id":"a9951b56-c92d-4bcf-bd42-8396d8477a8e","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1","leftValue":"={{ $('Loop Over Items').item.json.apps.valid_countries }}","rightValue":"","operator":{"type":"any","operation":"notExists","singleValue":true}},{"id":"2","leftValue":"={{\n  !Array.isArray($('Loop Over Items').item.json.apps.valid_countries)\n  || $('Loop Over Items').item.json.apps.valid_countries.length === 0\n  || $('Loop Over Items').item.json.apps.valid_countries.includes('VN')\n  || $('Loop Over Items').item.json.apps.valid_countries.includes('US')\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,560],"id":"7eff4809-2a09-4a21-9345-4fea7ed4cb0d","name":"Filter VN/US Countries"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"metadata":"={\"categories\":{{ $('Loop Over Items').item.json.converted_categories?.toJsonString() }},\"support_url\":{{ ($('Loop Over Items').item.json.apps.support_url ?? \"\").toJsonString() }},\"website_url\":{{ ($('Loop Over Items').item.json.apps.website_url ?? \"\").toJsonString() }},\"privacy_policy_url\":{{ ($('Loop Over Items').item.json.apps.privacy_policy_url ?? \"\").toJsonString()}},\"content_rating\":{{ ($('Loop Over Items').item.json.apps.content_rating ?? \"\").toJsonString() }},\"screenshot_urls\":{{ ($('Loop Over Items').item.json.apps.screenshot_urls ?? \"\").toJsonString() }},\"description\":{{ ($('Loop Over Items').item.json.apps.description ?? \"\").toJsonString() }},\"subtitle\":{{ ($('Loop Over Items').item.json.apps.subtitle ?? \"\").toJsonString() }},\"promo_text\":{{ ($('Loop Over Items').item.json.apps.promo_text ?? \"\").toJsonString() }}}","game_id":"={{ $('Loop Over Items').item.json.apps.app_id }}","title":"={{ $('Loop Over Items').item.json.apps.name }}","publisher_id":"={{ $('Loop Over Items').item.json.apps.publisher_id }}","os":"={{ $('Loop Over Items').item.json.apps.os }}","icon_url":"={{ $('Loop Over Items').item.json.apps.icon_url }}","app_link":"={{ $('Loop Over Items').item.json.apps.url }}","unified_app_id":"={{ $('Loop Over Items').item.json.apps.unified_app_id }}","bundle_id":"={{ $('Loop Over Items').item.json.apps.bundle_id }}","modified_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","is_active":"={{ $('Loop Over Items').item.json.apps.active }}","initial_release":"={{\n(\n  $('Loop Over Items').item.json.apps.release_date \n    ? $('Loop Over Items').item.json.apps.release_date \n    : ($('Loop Over Items').item.json.apps.country_release_date \n        ? $('Loop Over Items').item.json.apps.country_release_date \n        : $('Loop Over Items').item.json.apps.updated_date)\n).split('T')[0]\n}}","update_release":"={{$('Loop Over Items').item.json.apps.updated_date.split('T')[0] }}","publisher_country":"={{ $('Loop Over Items').item.json.apps.publisher_country }}","type":"invalid_countries","temp_release":"={{ null }}","total_update_count":0},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"custom_fields","displayName":"custom_fields","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"total_update_count","displayName":"total_update_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"publisher_country","displayName":"publisher_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"game_concept","displayName":"game_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"temp_release","displayName":"temp_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,1152],"id":"eaadd4fe-f27a-4fd4-ba89-76f8d8a20da4","name":"Insert & Update Game Info1","retryOnFail":false,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"game_id":"={{ $json.game_id }}","created_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"outputColumns":["game_id","title","created_date","metadata","publisher_id","os"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2992,1376],"id":"60825e3b-5d76-4015-bd74-4fe4e0ca0907","name":"Check New Game1","credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3248,1376],"id":"9bed4a89-346b-489b-8253-2f06aee36069","name":"Wait","webhookId":"5bc4af25-e2f8-4616-9697-0d6ad8f8b7c7"},{"parameters":{"workflowId":{"__rl":true,"value":"ZMiyyBa26fcCUjon","mode":"list","cachedResultUrl":"/workflow/ZMiyyBa26fcCUjon","cachedResultName":"Production — [Unified] Automated Tagging"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3504,1376],"id":"b6c3daad-4244-42b8-b84f-616d052005f8","name":"Auto Tagging Top Publisher1","disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE game_info\nSET update_metadata = $1::jsonb\nWHERE game_id = $2;\n","options":{"queryReplacement":"={{[\n({\n  updates: [\n    {\n      version: $('Split Out').item.json.apps.version ?? '',\n      updated_date: $json.initial_release\n        ? $json.initial_release.toDateTime().format('yyyy-MM-dd')\n        : null,\n      notes: 'Initial Releases',\n      drive_id: '',\n      youtube_id: $json.youtube_id ?? ''\n    }\n  ]\n}),\n$json.game_id\n]}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3504,1168],"id":"2b1d6d72-a58b-4f79-80c4-989db289e009","name":"Update Version Metadata","credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cb18f08-1f92-411d-bb54-76e1925c6e06","leftValue":"={{ $json.update_metadata }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2736,1184],"id":"4c4e9c08-a536-43f8-a922-66dcb8c09580","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cb18f08-1f92-411d-bb54-76e1925c6e06","leftValue":"={{ $json.created_date }}","rightValue":"","operator":{"type":"dateTime","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2736,1392],"id":"18315b65-a536-4426-9363-5010976ed9de","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2992,1632],"id":"50ae33a8-8f51-435e-8432-2e306d7c9329","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9ef4725b-c70a-463c-b2b0-3bff19145d5d","leftValue":"={{ (   $('Loop Over Items').item.json.apps.release_date      ? $('Loop Over Items').item.json.apps.release_date      : ($('Loop Over Items').item.json.apps.country_release_date          ? $('Loop Over Items').item.json.apps.country_release_date          : $('Loop Over Items').item.json.apps.updated_date) ).split('T')[0] }}","rightValue":"","operator":{"type":"dateTime","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1488,1392],"id":"712ac0cf-9ef1-47e1-a0ed-3d74b7835910","name":"If6"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"game_info","mode":"list","cachedResultName":"game_info"},"columns":{"mappingMode":"defineBelow","value":{"metadata":"={\"categories\":{{ $('Loop Over Items').item.json.converted_categories?.toJsonString() }},\"support_url\":{{ ($('Loop Over Items').item.json.apps.support_url ?? \"\").toJsonString() }},\"website_url\":{{ ($('Loop Over Items').item.json.apps.website_url ?? \"\").toJsonString() }},\"privacy_policy_url\":{{ ($('Loop Over Items').item.json.apps.privacy_policy_url ?? \"\").toJsonString()}},\"content_rating\":{{ ($('Loop Over Items').item.json.apps.content_rating ?? \"\").toJsonString() }},\"screenshot_urls\":{{ ($('Loop Over Items').item.json.apps.screenshot_urls ?? \"\").toJsonString() }},\"description\":{{ ($('Loop Over Items').item.json.apps.description ?? \"\").toJsonString() }},\"subtitle\":{{ ($('Loop Over Items').item.json.apps.subtitle ?? \"\").toJsonString() }},\"promo_text\":{{ ($('Loop Over Items').item.json.apps.promo_text ?? \"\").toJsonString() }}}","game_id":"={{ $('Loop Over Items').item.json.apps.app_id }}","title":"={{ $('Loop Over Items').item.json.apps.name }}","publisher_id":"={{ $('Loop Over Items').item.json.apps.publisher_id }}","os":"={{ $('Loop Over Items').item.json.apps.os }}","icon_url":"={{ $('Loop Over Items').item.json.apps.icon_url }}","app_link":"={{ $('Loop Over Items').item.json.apps.url }}","unified_app_id":"={{ $('Loop Over Items').item.json.apps.unified_app_id }}","bundle_id":"={{ $('Loop Over Items').item.json.apps.bundle_id }}","modified_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","is_active":"={{ $('Loop Over Items').item.json.apps.active }}","update_release":"={{$('Loop Over Items').item.json.apps.updated_date.split('T')[0] }}","publisher_country":"={{ $('Loop Over Items').item.json.apps.publisher_country }}","type":"invalid_countries","temp_release":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["game_id"],"schema":[{"id":"game_id","displayName":"game_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bundle_id","displayName":"bundle_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"publisher_id","displayName":"publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"os","displayName":"os","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"initial_release","displayName":"initial_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"icon_url","displayName":"icon_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"app_link","displayName":"app_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"unified_app_id","displayName":"unified_app_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tagging","displayName":"tagging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"update_metadata","displayName":"update_metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"is_wishlist","displayName":"is_wishlist","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"created_date","displayName":"created_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"update_release","displayName":"update_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"custom_fields","displayName":"custom_fields","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"drive_id","displayName":"drive_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"total_update_count","displayName":"total_update_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"publisher_country","displayName":"publisher_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"game_concept","displayName":"game_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"temp_release","displayName":"temp_release","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,1600],"id":"057cbb63-3e04-4275-bf53-a9d17c5805e7","name":"Insert & Update Game Info3","retryOnFail":false,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4fe39a50-2649-4c7e-aa59-737a18089c64","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4096,1600],"id":"9944f8a5-e843-49cd-bf50-f86dae4781d7","name":"If7"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Convert Category Name","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Run Flow \"Developer Account\"","type":"main","index":0}]]},"Insert & Update Game Info":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Check New Game":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Auto Tagging Top Publisher","type":"main","index":0}]]},"Auto Tagging Top Publisher":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"If4","type":"main","index":0}]]},"Update Version Metadata1":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"If4","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Create a message","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filter VN/US Countries","type":"main","index":0}]]},"Convert Category Name":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Version Metadata1","type":"main","index":0}],[{"node":"Merge2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Check New Game","type":"main","index":0}],[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"Insert & Update Game Info","type":"main","index":0}],[{"node":"Insert & Update Game Info2","type":"main","index":0}]]},"Insert & Update Game Info2":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter VN/US Countries":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"If6","type":"main","index":0}]]},"Insert & Update Game Info1":{"main":[[{"node":"If3","type":"main","index":0},{"node":"If5","type":"main","index":0}]]},"Check New Game1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Auto Tagging Top Publisher1","type":"main","index":0}]]},"Auto Tagging Top Publisher1":{"main":[[{"node":"If7","type":"main","index":0}]]},"Update Version Metadata":{"main":[[{"node":"If7","type":"main","index":0}]]},"If3":{"main":[[{"node":"Update Version Metadata","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"If5":{"main":[[{"node":"Check New Game1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"If6":{"main":[[{"node":"Insert & Update Game Info1","type":"main","index":0}],[{"node":"Insert & Update Game Info3","type":"main","index":0}]]},"Insert & Update Game Info3":{"main":[[{"node":"If3","type":"main","index":0},{"node":"If5","type":"main","index":0}]]},"If7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"data":{"apps":[{"app_id":"com.czn.battle.blackjack.fast","canonical_country":"US","name":"Fast Blackjack Battle","publisher_name":"CAMPOSDev","publisher_id":"CAMPOSDev","humanized_name":"Fast Blackjack Battle","icon_url":"https://play-lh.googleusercontent.com/M2XkEj0a3wcNHDVHLZcba7Omqcgk_f6YlWxHEcKDMg7Nin3PkbHltqseZHW-m5OV0qMliofuRhfFGXr2Qu-q=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.czn.battle.blackjack.fast","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/camposdev/app/fast-blackjack-battle/com.czn.battle.blackjack.fast/","publisher_profile_url":"/publisher/android/CAMPOSDev","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0001","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.czn.battle.blackjack.fast","support_url":null,"website_url":null,"privacy_policy_url":"https://www.freeprivacypolicy.com/live/22eba18d-df5d-4211-b46c-c1dc7452901f","eula_url":null,"publisher_email":"alaakhairy2024@gmail.com","publisher_address":"1 Heather Avenue\nNORWICH\nNR6 6LU\nUnited Kingdom","publisher_country":"United Kingdom","feature_graphic":"https://play-lh.googleusercontent.com/TgARoIqlj-rJDABzUeSsJRuiH-21lG7Ir9SyOCdf2XQR7GEmO57-EiWZ8BmjGDKPOKit0RXzMtvaq5FLE-JeKw","short_description":"Enjoy a relaxing and fun Blackjack card battle experience!","advisories":null,"content_rating":"Mature 17+","unified_app_id":"69549ccf4f0f5d7912401956","screenshot_urls":["https://play-lh.googleusercontent.com/UntMVb01TKmY_YViyddeqrn2a7fHC9TR5AExn99mhtlWGKwlttox5gdDWlNvjATWkXzKpV3u2uH_yhYqXaw5RQ","https://play-lh.googleusercontent.com/nGDHu9lvUpIOuOQIX8pJnwXhid7ymrAZt4DVOEbozRCznv62EXb65rhy1BG03unL4MIsfHK2JGFfE1RN7Ul9CuI","https://play-lh.googleusercontent.com/wDBtvVpjygJuYlDJE7lkdu8Pl4TsIhAGme9mJdw5bpy0HEd-mBU2ROtbd6vAUWYv_q-2aav31ANMMJDjAwGQOw"],"tablet_screenshot_urls":[],"description":"Welcome to Fast Blackjack Battle! This is a simple, easy, and fun casual Blackjack game. Whether you're a Blackjack newbie or a seasoned player looking to unwind, this game will provide you with a pleasant gaming experience. Practice your skills and challenge yourself by playing against the computer, making each game feel fresh and exciting!","subtitle":"","promo_text":"","permissions":{"Camera":["take pictures and videos"],"Microphone":["record audio"],"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","change your audio settings","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ddas.dadsa","canonical_country":"US","name":"Zoo Spot","publisher_name":"Ormatrix","publisher_id":"Ormatrix","humanized_name":"Zoo Spot","icon_url":"https://play-lh.googleusercontent.com/QV8OQ9Sylm-RdY6wkFC6jqPqLZFIyD37BwIQ2YcStktyVCEuLD8clExb6AB-5LlUWmYyKfXxw35uq95vamE3Sl4=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ddas.dadsa","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/ormatrix/app/zoo-spot/com.ddas.dadsa/","publisher_profile_url":"/publisher/android/Ormatrix","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ddas.dadsa","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/zoo-spot/home","eula_url":null,"publisher_email":"info.ormatrix@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/-v-MZI4cP2GBD37j3a0PfKjTImVm2-veHu-WGWoXRa3rRdKF6ErrlGN3P6vFpFkS2LJ-nqMkmVMKEgCyr9VKyek","short_description":"The target little animal will be displayed at the top of the screen.","advisories":null,"content_rating":"Everyone","unified_app_id":"69570c7b27e2c114ae86637e","screenshot_urls":["https://play-lh.googleusercontent.com/NY0_UOzGjV5aj9pj33TP_zrxvq1Mhe19yy2j7l9VwOS0-1Y-9GcaHE42QHiYyayHzOJ9GSeW-fxmZTQkNp7B","https://play-lh.googleusercontent.com/eW4ht-NzWjWz3TwTBnwJr5cXDnaFvtP8KyKnmNG12JFQnCKo9QkNao4rP8tRjKINlA_o3zF9SyKOxY8xf5ly7XQ","https://play-lh.googleusercontent.com/LaIGDMk6XhIpQfuYqFnb62ttKy2JY9NHBCSKiplIylG3weFfD9pP3XZlWy6XmksW8oVmWxJcfssndOvu8M5VBA","https://play-lh.googleusercontent.com/QLRporh7NtbjKt19QLK7TQaCJz6mj6wiVeA-aYqjmz7rDg7MohOXFJdEZSY42QLFOYqcLCysXkiDPUNKhaNhBX4","https://play-lh.googleusercontent.com/zANuZRUcWJti3YlW4SJbsVQOUP0BXudaDOW2ORjjTdunYm1y8PMA48o41JGfGoB3frK6smX0tLEZ2ywhiKT4ug","https://play-lh.googleusercontent.com/9er4eYVFECLs7ccVQ4ajT7cPoA83WQoNgj3hnM37gBMoPoTVJ0H-Dn1L5TieziqRvg27GnqceKzbpSYOv78paw"],"tablet_screenshot_urls":[],"description":"The target little animal will be displayed at the top of the screen.Find and tap the corresponding identical animal in the boxes below.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.dfgweruirwe.Underseaworldmatching","canonical_country":"US","name":"xt7aNeon Bloom","publisher_name":"WUMEI NETWORK","publisher_id":"WUMEI+NETWORK","humanized_name":"xt7aNeon Bloom","icon_url":"https://play-lh.googleusercontent.com/wTDH98ju1Sc9GjE6ghisGg-8FSNp-U12c2KVnmf2RMaeN6HUTAOHUeoWdo63AuegcAEN6wEtoWRcD88cu06SQw=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.dfgweruirwe.Underseaworldmatching","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/wumei-network/app/xt7aneon-bloom/com.dfgweruirwe.Underseaworldmatching/","publisher_profile_url":"/publisher/android/WUMEI+NETWORK","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"2","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.dfgweruirwe.Underseaworldmatching","support_url":"https://sites.google.com/view/iyuiy56hgf/home","website_url":"https://sites.google.com/view/iyuiy56hgf/home","privacy_policy_url":"https://sites.google.com/view/iyuiy56hgf/home","eula_url":null,"publisher_email":"amplomoltentilr19841@gmail.com","publisher_address":"中国\n云南省昆明市\n五华区黑林铺街道办事处黑林铺老村BK453号L\n邮政编码: 650000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/yg78S_ksnoR6JAT_eHIuEkqEkUDaxrlO2QU3CHm0YWqTIPCRSwvKjT_3dOfvFLNiNtGNJjQZ-DuNUr1E7uRLjQ","short_description":"Fun Casual Game","advisories":null,"content_rating":"Everyone","unified_app_id":"6955f55432abe90e24d16c94","screenshot_urls":["https://play-lh.googleusercontent.com/YbY4d08yoSJFY0W74WGaxiiMiLMKbkrm9cjbzrSEqfUcSnLo67KS3QuEzeR2UMKLrh2Vkn0aPLr_GhzmPsc2TQ","https://play-lh.googleusercontent.com/b1cAuv8ZkSBDDn3ZrGBfmfGuR3wWT_yWruydclfBIjIQnKVvGmh0tPbJdeA6Fpl2B3UljGoEk2z6D35neIS7","https://play-lh.googleusercontent.com/9TjOKxmHo9qJ_pkMs6Mb9dbxODQWZGDAyPlrlC5iutzGO6tDwchL2NVQBdG9t4iqVz0YVCAkTSdVtm6TAxLPgdA","https://play-lh.googleusercontent.com/rE-lAR3XlLOQVXgpYRiPehfaha9pon1mZcyDRvspJ3-McSzPvHDixwCiSaJ4J5NzjC4vzlTpzpbMY-VUsNsrtQ"],"tablet_screenshot_urls":[],"description":"xt7aNeon Bloommatches a fish for each shadow, and all you have to do is move the corresponding one<br>Restore up<br>Small fish and placed on the shaded part, can you match all the pairs? Come and give it a try.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.dlmsbi.reflexmaster","canonical_country":"US","name":"Reflex Master","publisher_name":"Tech Tron","publisher_id":"Tech+Tron","humanized_name":"Reflex Master","icon_url":"https://play-lh.googleusercontent.com/b1WwzHNx2bdye91fS6vuscbG0UJvi4Mh3AEoypiowPmFJdx5nyCDUN3bVmMmwdlTHEuAElngxVNl_cmDMSIEDQ=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.dlmsbi.reflexmaster","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/tech-tron/app/reflex-master/com.dlmsbi.reflexmaster/","publisher_profile_url":"/publisher/android/Tech+Tron","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.dlmsbi.reflexmaster","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/reflex-masterr/home","eula_url":null,"publisher_email":"muhammadhamzashakeel51@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/0aJizVImhfkEynhtDihYNa84ymRqnsVQtym4Ro_O469wydHDAZiqVA9SYbKmY-VvhZ1P144vt6zkjMEhJduT8g","short_description":"Test your reflexes with this challenging reaction speed game.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954832fa80e119d67e66ce6","screenshot_urls":["https://play-lh.googleusercontent.com/StzNQP3DyyHIL-88tUM3uRo7UWUw8wV7vtj6_BJjSpTh8u7WVNWed_jXGQBmFuLqMc_d8a6GlAEUEpwy9sIY","https://play-lh.googleusercontent.com/iTpChl3vW1ij-MF3wvSlr-7qbyINvmW12Fqxxdh9KwVFW-F1L26v0qBvXy4zW1esKSWVjDxIJKgtEbThVByZ","https://play-lh.googleusercontent.com/55OPHZt1Ey_xthRbc0vxJw9fQzx0zvzRfuWKQ7cPK3hSUMmOmYoiDObiOl_Ix_bBN_QJ7hjJMWdbl_YiPL_v9Tc","https://play-lh.googleusercontent.com/Ni_TcSb2uM4coJ8fAMAzziF_GBpd0gCaQl6a87Ud-Jt71NRqFLYJvXS3RIg2qukkRFGG2WpvPJjcVP2DVRpG","https://play-lh.googleusercontent.com/xA3LZXWcVInXoygJEiLbBVQ41kAGuM0AXCe3kmgCVLWGW2hZJuTT8C024r7MsjFH1LG6Iy0dBspowLOhYJi-NA","https://play-lh.googleusercontent.com/grX7-tgCa1L13KpwmR9f2zYLbMdZjkWKSlgpHQvpwxA0okgYrOYpIdLuGS_oSJkRclGmelqHxvl41YAhsQvrFA"],"tablet_screenshot_urls":[],"description":"Test your reflexes with this challenging reaction speed game. Tap the screen as fast as possible when the signal appears. Compare your scores with friends and track your improvement over time.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ewf.quickscore","canonical_country":"US","name":"Quick Score","publisher_name":"VPSWEBA","publisher_id":"VPSWEBA","humanized_name":"Quick Score","icon_url":"https://play-lh.googleusercontent.com/C8jxACmJeYjMq749pxRSsTk4l3JNbKjJ7VTIexCrueWRNLe28q_YhcvJBRxhzrO8xJOXObH4LBLEIAcnhjuG=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ewf.quickscore","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/vpsweba/app/quick-score/com.ewf.quickscore/","publisher_profile_url":"/publisher/android/VPSWEBA","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ewf.quickscore","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/quick-scoree/home","eula_url":null,"publisher_email":"infohostsistemas@gmail.com","publisher_address":"Brazil","publisher_country":"Brazil","feature_graphic":"https://play-lh.googleusercontent.com/qPXsHMDUu-OxpHvN0eGwo2n2uxaD9yfeJZ_JiF8wAc2o6U1JrVLxQj15_N-rdrbRznYuJpT8iyWtQqHvK538ZA","short_description":"You will receive 10 points for each successful match.","advisories":null,"content_rating":"Everyone","unified_app_id":"6956693e1255290b7274f4c1","screenshot_urls":["https://play-lh.googleusercontent.com/T9bciLyQzl0qzD5wsPQtoiDr9iqUWX7dr_lb8PdPb9gle3R43hFgOHwgaUQYgpcgqZkYsEeoLd_rOWJEO1oepqA","https://play-lh.googleusercontent.com/q5Btc3agMlmBwQ-lDjQSimHfNoCIA-k9dXz1gMGPl6uSOe2oWAlKlwUeZmPzQA_K3EjnFLYaec_NvnfTzYuXjQ","https://play-lh.googleusercontent.com/krgozBPmxJKkzuIvLX1qECffbbR7eMpsaehPxzwXZr792NUpEpvC4mYS5Bmt3iJxbIw8s3Wyn4rF3X453MKEcNY","https://play-lh.googleusercontent.com/gfCLyK_nNC0YaKenZep6o_ekWfVysppX6ktf7XdbUm7yf1lCbuaLAdmaCCbitzZCH0qTNB-QyIEcgUqk20eFXQ"],"tablet_screenshot_urls":[],"description":"Click below to select the item type, then click on the same item in the area above. You will receive 10 points for each successful match.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ews.grabsnap","canonical_country":"US","name":"Grab Snap","publisher_name":"Cam Applications","publisher_id":"Cam+Applications","humanized_name":"Grab Snap","icon_url":"https://play-lh.googleusercontent.com/BY-M_HptV0bFEHzyQ-IlHDLZZZD-sv4P_f4GiqLehVFz6FR-oFMtVP0FKZ8ETpq4cb04Qi0AHbakDmCJrtYdFg=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ews.grabsnap","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/cam-applications/app/grab-snap/com.ews.grabsnap/","publisher_profile_url":"/publisher/android/Cam+Applications","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.3","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ews.grabsnap","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/grab-snap/home","eula_url":null,"publisher_email":"elinarosadelgermania@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/7h6EQXhTZHGt06CrpCXQ_6r-4ScblRWlOKimJU5B1FiStyERv0ItSOc9r2l2U19Jk1RS-Ufuz9fI5a3h85RC6w","short_description":"Simply hold the screen to reach out and catch various items.","advisories":null,"content_rating":"Everyone","unified_app_id":"6955c4509577c60bbde80953","screenshot_urls":["https://play-lh.googleusercontent.com/JfKVOSIumRcUHRO03FkkYtvJ6o2Xep7sgy6tNDR-9rV9eoWKNnFWm8WoKKRO_00ArpBv-aLado1mUoY0Mp8Bdzs","https://play-lh.googleusercontent.com/G_sXXmwD-BsOukH9BczUaQVJwbs1zfkI3YtloYu7UhAmbCqcuSPhK8PL5tY-YKHUgwluXkhXefP1kfMCm_yjy2A","https://play-lh.googleusercontent.com/QcInw7NLP8YF21S1aXtFMbfG7qvuHzhT2t5PxHUXy2FH77MF_MkSF0LnwDkMOjRZsSXyw4XL4rIZpf6lxUBf","https://play-lh.googleusercontent.com/N1CbxarakabxEXeWQIJyF3AO1JVPJo6JqI1qMOGXF8vEpSV6zJXwYs-lOIRi9VfDt0tkRHbjWPrf6WrBbdU6Pw","https://play-lh.googleusercontent.com/258k4ajOkr7Fjzo19TzA8krv4LzQFjnYQckkH9ZtJVTLIgx01MHPn3kuiL97Qhq0xAHnhfvD8dthLsMGxkrNal4","https://play-lh.googleusercontent.com/rdv-B_rGqXyY_13XHG67Nhnxmcd13PBJCuYTJORVpO3_DeDKO6L-4Hu-VnPSVQBPjK82LfCE-nKHhmx6TEQ-BA"],"tablet_screenshot_urls":[],"description":"Simply hold the screen to reach out and catch various items.Each successful catch will help you accumulate score points.Minimalist casual style allows you to enjoy a relaxing gaming moment anywhere.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ewx.blockjumper","canonical_country":"US","name":"Block Jumper","publisher_name":"Artifis","publisher_id":"Artifis","humanized_name":"Block Jumper","icon_url":"https://play-lh.googleusercontent.com/VZRIXKg6448wOxd124nablizPWru_DcmChD7DudZzhDnlV-rX84YElR0vDslpLqRJiH-v9J6ovMXi7FtBXuQOg=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ewx.blockjumper","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/artifis/app/block-jumper/com.ewx.blockjumper/","publisher_profile_url":"/publisher/android/Artifis","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.5","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ewx.blockjumper","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/block-jumper/home","eula_url":null,"publisher_email":"rydallbalkcomm54274@gmail.com","publisher_address":"Morocco","publisher_country":"Morocco","feature_graphic":"https://play-lh.googleusercontent.com/AAcMYvC4c-p9oHJmB7m8TDkxKq1BdZgEJ4uyouedlhb9wIheb86L7qxdRxMLsAABLD1Ge9QKPG8j1j_r1iKj5vQ","short_description":"Control a block to jump between moving platforms.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954808a127c7f6ff85bd123","screenshot_urls":["https://play-lh.googleusercontent.com/rvEekyCXXHk8MdFl9_gttM2RpKTdOuAE3l4MwBdrRjqgWoe7N5Ylx-kkn2JrMAxKQdCoY9VjZJu899y93pzLl2g","https://play-lh.googleusercontent.com/vKWzfvdg4T4f0nl7kQqQdxE9rI2DLRMfhMEsrxSmLXkmu0f4NKIoWDDe8CHrUg61QLzqlum-5FjoaGUjACwdhPU","https://play-lh.googleusercontent.com/ISmK5sB0DikgRAZf2iMlcvE7OPfWHoW458Yr0cIyx71EZYQreA41Z_mDzi97JBJIEG2LGwmpQ71Gto-GJG6j","https://play-lh.googleusercontent.com/G1IjmQnSf0nErQqgt-KuWPN_Wqaw74W-VpEiHkDoTjKGtUWpTWYmBFFgBA5Ew4RNnLdzS5VDlPf4q7Zj1pJ6PA","https://play-lh.googleusercontent.com/oCAcuGq4TVw1gwbVUZanmRSKGw8S7dghRuStgquOaQJnsRgBOlbX0ptPIbcP8zYu9drOkPffCdBLIvkJw_ad","https://play-lh.googleusercontent.com/CqHtRtrwaRpHRBSxaXrH0tFAZVRHCqcOLnF3IMn8ZJtmRCG5IzbZ_V7d_XqbTP5goDzkE0oYYIitfznSIf1zTQ"],"tablet_screenshot_urls":[],"description":"Control a block to jump between moving platforms. The longer you survive, the higher your score. Test your reflexes in this addictive endless jumper with simple controls and challenging gameplay.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.fil1.fit23","canonical_country":"US","name":"FillFit","publisher_name":"Cleveland-Cliffs Steel Corporation","publisher_id":"Cleveland-Cliffs+Steel+Corporation","humanized_name":"FillFit","icon_url":"https://play-lh.googleusercontent.com/aE7yTmb4lK9TyXr1ewg0Fg5Y_XQ0hxEqCo4J2fhRbfK9fmc21M5LW7oatHhNPiWmXtW0OJLgaBkIfoivak1o=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.fil1.fit23","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/cleveland-cliffs-steel-corporation/app/fillfit/com.fil1.fit23/","publisher_profile_url":"/publisher/android/Cleveland-Cliffs+Steel+Corporation","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"100","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.fil1.fit23","support_url":"https://ads001-449c4.web.app/","website_url":"https://ads001-449c4.web.app/","privacy_policy_url":"https://www.freeprivacypolicy.com/live/c6f59641-38e1-4a55-94ac-de77f36f9023","eula_url":null,"publisher_email":"jobElmqe@gmail.com","publisher_address":"200 Public Sq Ste 3300\nCleveland, OH 44114-2315\nUnited States","publisher_country":"US","feature_graphic":"https://play-lh.googleusercontent.com/ZD4GSIoko18Da1j1eqC7dMiMJYQFH9Mh2iMFO7ljJ5f_YxFfjoiJsLbbEWY2Z5q4AeVwQpXpc0dAjO7yA-fGng","short_description":"Fit blocks into slots until the puzzle is fully completed.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954c509a994310f8ec6d25a","screenshot_urls":["https://play-lh.googleusercontent.com/XF0b-HAZWWqxaBJGRR_FFIoA9XuMLf957Le4ACjYp8GrnuAf81zmATMtgHEUnaYrdGtXgPsrukenzAhJj5NgXA","https://play-lh.googleusercontent.com/P3A_X1_BbzuJt-uwCwtO4LG5Cl0HEeiRSH_BCgQZ-kHTCjKffRSLnhejr1fYhdeAklkfnUipT7M6jldkHXL0"],"tablet_screenshot_urls":[],"description":"Slide sliders into their correct positions. Fill every gap with the right block and enjoy smooth puzzle-solving fun.","subtitle":"","promo_text":"","permissions":{"Other":["full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.fsa.aimblast","canonical_country":"US","name":"Aim Blast","publisher_name":"PTV Networks Pvt. Ltd","publisher_id":"PTV+Networks+Pvt.+Ltd","humanized_name":"Aim Blast","icon_url":"https://play-lh.googleusercontent.com/PKVmH05bFJDR87leIcLLJAY1yabxQroVujc0xu5Yph3dirsJ_xRQmjPeF9WuqpDRsRPzApW0uFotZIfcEoZZcw=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.fsa.aimblast","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/ptv-networks-pvt-ltd/app/aim-blast/com.fsa.aimblast/","publisher_profile_url":"/publisher/android/PTV+Networks+Pvt.+Ltd","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.3","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.fsa.aimblast","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/aim-blastt/home","eula_url":null,"publisher_email":"khurrammahmoodapp@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/nQtlhc8s5DCe8-9AJo1zJY8Vp7dztvVG8v19I2HLfTdfIZNr5Km73CZEfq-QL-Z3b5ygIYv7w3sYpiDKWPxhjqM","short_description":"Tap the shadows at the bottom to shoot bullets.","advisories":null,"content_rating":"Everyone","unified_app_id":"6955e8c2df7e127115db6fff","screenshot_urls":["https://play-lh.googleusercontent.com/4MVwA_P-794A40NbKk4qeJazk0kkulKS7VLZFbcpj2zpnunm5_Q5FnVT1OtuPPlBxWPsCoEGMACOIxwIfquWqw","https://play-lh.googleusercontent.com/DH4-0S8m7oVCZ0a2nc_dBiBH1QLVoQ4abs78REd3OX6nQf81WM41D3lA8cqz7lWfiDcuxLZHXrSlb02owONNiB8","https://play-lh.googleusercontent.com/hlSL9H_eJg34BdJXEGSW5vPhva9mpBoxzv80omgN84XeLMIGLw399xMZlFuhWzvZ68QnHFPSe80UczGCiTqUOg","https://play-lh.googleusercontent.com/VDAZgpz4Q9WHcj6RVH_L2QHpoue1YB0vO4eqQjeLJ_2eQmlEE2GAyrcryDKViOOEl4dUSRxdRb39WsXa9IlHzAA"],"tablet_screenshot_urls":[],"description":"Tap the shadows at the bottom to shoot bullets. Hit falling enemies to protect the five shadows. Game ends when all shadows are hit by enemies. Test your aim now!","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.galx.shadowguard","canonical_country":"US","name":"Mouse Guard","publisher_name":"Apliment Group Perkasa","publisher_id":"Apliment+Group+Perkasa","humanized_name":"Mouse Guard","icon_url":"https://play-lh.googleusercontent.com/U8iwOVkEJrWN-sOwRaQcO0NIFHA9nQN044aHqptMj2NHrY3u6DZF2Tmi0EuHUMoAZThWmw__MI5OO9FdvMcjww=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.galx.shadowguard","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/apliment-group-perkasa/app/mouse-guard/com.galx.shadowguard/","publisher_profile_url":"/publisher/android/Apliment+Group+Perkasa","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.galx.shadowguard","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/mouseguard/home","eula_url":null,"publisher_email":"id.ngabdul.muhtadin@gmail.com","publisher_address":"Indonesia","publisher_country":"Indonesia","feature_graphic":"https://play-lh.googleusercontent.com/yyPvWqP21ue-Gzly6eNKgeITZ3W8-rpvT9c7SkJQO02gPbaVvMrvi0jKL4e5R_K1171tdU6IUBLZVpqBYx1nhQ","short_description":"Tap the mice at the bottom to shoot bullets.","advisories":null,"content_rating":"Everyone","unified_app_id":"6955ace743283a8653db8260","screenshot_urls":["https://play-lh.googleusercontent.com/gvZLCl3c5u-8ZnnU1QFLE7yZSeIHx2FBWUia52L0E1ty-VlS1mHcTszExZVebBYyvrxD3WcjvYk3u3p6_pXWZjk","https://play-lh.googleusercontent.com/I3pBEyXnVlSCREiKKSdQ7E4Rj71cQzOJEElE5aOrJwFS_-LrGMlRfIZ2l-eDAAYynbR1XCgdUlR08QUZzSoe","https://play-lh.googleusercontent.com/GMWHsPMxZFzc6u3mmIkr_-CbPcJdXevRIal1Z5cXyFXdYjRh23AEXnMSfXg4VIvH_pDP5EdQWXzYb2BLxeC5","https://play-lh.googleusercontent.com/IqUaCvN6g57lWn6UiNpKAoQUqRFzrWW5AmPhbfDn76ZAerImnR1FNWzJfOgDsuRJa36zQluUJYhcw2yuuRfO7A"],"tablet_screenshot_urls":[],"description":"Tap the mice at the bottom to shoot bullets. Hit falling enemies to protect the five mice. Game ends when all mice are hit by enemies. Test your aim now!","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.gnxoll.platformjumper","canonical_country":"US","name":"PlatformJumper","publisher_name":"Hey-Gamez","publisher_id":"Hey-Gamez","humanized_name":"PlatformJumper","icon_url":"https://play-lh.googleusercontent.com/eKkElBm29LGP_LZsVBsH4VCpz3tTqWQb6bSwJteBjIjhdqrHl1zeSLYjNuMp_hDB35kTvUGE1kN_MHertBkrFw=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.gnxoll.platformjumper","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/hey-gamez/app/platformjumper/com.gnxoll.platformjumper/","publisher_profile_url":"/publisher/android/Hey-Gamez","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.gnxoll.platformjumper","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/platformjumperr/home","eula_url":null,"publisher_email":"heydotgamez@gmail.com","publisher_address":"Dar-ul-Huda School, Factory Area, Muhalla Chak#8 Shumali, Bhalwal, District Sargodha\nBhalwal, District Sargodha\nBhalwal, 40410\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/jf0NAfG_sgCSDfsYVVfMXLWnkZBj0eX_pSQckjloVGYFivo9gp8Bdud3pC2yMmYsw_wcjf_tEjjrVMW7sdytuw","short_description":"Experience endless vertical fun as you bounce your ball upward.","advisories":null,"content_rating":"Everyone","unified_app_id":"6956ffeb43283ae716918dd8","screenshot_urls":["https://play-lh.googleusercontent.com/y37gjnXECmBu-0AwhiC1UUgnrQgEv2JwJIuB0f7XOh-3Sc2ltNOkbMhnBhsqlMx7ESwcYrNBxul_1rmcAaOUZiY","https://play-lh.googleusercontent.com/gUsTZv8JcZKMByKPZqODa6tr_68uZefRAHtY3HkaV2_2tMOvjcjWn3CbCYzflzIkaWBhavoWIx5V0JhpB_-QBg","https://play-lh.googleusercontent.com/T2bhawVj4kzIDcygwPCXMKZF14dGNU_1X8feST7Ou0L2x9pcS2NKL4F2-SIc51QhFJKAgaOhdgIT1DPXJ74L","https://play-lh.googleusercontent.com/ttelb8zwF_wUH3cCm_kvIgOUq2vxioMKG-XWx7LyrmFfUI7zubxtw7ngDw3Do7jVoYl2euUCIiIQPPGbsI9a","https://play-lh.googleusercontent.com/ldDv8eLIzocb4Iq9oLdHBSX5WPL3GEPlImjeJeksIfdrYCnx__1HZQd0VeyB3kaG7b34VX6SLslkK0hzmnv-A48","https://play-lh.googleusercontent.com/zse0Db21BqcAxXgEmrBcUYWaXGmogyCgVDh43Satani6Ss-1fFZCmil4jtxWaPNP0SUAwepHvco4wkzgJJbUXuM"],"tablet_screenshot_urls":[],"description":"Experience endless vertical fun as you bounce your ball upward. Each platform offers different abilities to maximize your score. Challenge yourself today!","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.hkd.ghostruins","canonical_country":"US","name":"Ghost Ruins","publisher_name":"Hey-Gamez","publisher_id":"Hey-Gamez","humanized_name":"Ghost Ruins","icon_url":"https://play-lh.googleusercontent.com/wBSg_TfiM5GIMfJ0lgD1Xmjk_uRAvynTniW_rnREZB1uFoiyB2aqGxVyEK4v987hSESy4SiJUZ8YpqzyAu_h-24=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.hkd.ghostruins","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/hey-gamez/app/ghost-ruins/com.hkd.ghostruins/","publisher_profile_url":"/publisher/android/Hey-Gamez","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.5","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.hkd.ghostruins","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/ghostruins/home","eula_url":null,"publisher_email":"heydotgamez@gmail.com","publisher_address":"Dar-ul-Huda School, Factory Area, Muhalla Chak#8 Shumali, Bhalwal, District Sargodha\nBhalwal, District Sargodha\nBhalwal, 40410\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/LgD6bZ5DdRTCoSwVSpliR9dncXkv7A6v597Tw9qbzxKS3Dc8jnDlnwp_vGLX1nly9Z5m7Gz98f9xBDggExBPQg","short_description":"In the haunted ruins, hungry ghosts emerge to threaten innocent civilians.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954a962df43aade8ad32001","screenshot_urls":["https://play-lh.googleusercontent.com/OAVdSL5feVXtpB4Id87RuqQm0fEmaKBWjJlG1YVM_iS6d6uAYnrXAxiMZ5ugh1WhTjm12fFvLP3uhhUs2UH8","https://play-lh.googleusercontent.com/TIN00v-TWhGnpuE1u4O7mHsPLSXwNrqXzbWqjHGBC59u3H52jovuoeCrr4VXWGVdrIy6Ib2wNtFwHwJk7JOO5w","https://play-lh.googleusercontent.com/oUpzmoUQkoa3N0tDP8Hv8mtuyAv60K-zf9CLFepXLd-_83UwefCWm7j8IoXGp-A5d-EVH6sw6FGOsudQQQEv","https://play-lh.googleusercontent.com/Tx7GsPKyZuEWMzZwYHLxnnYqvJRhEE9pa_mcdGEKj8WZPdmLZ0xt9WPPWNVNd12y68_lrlZYBk-9dkWcJusd-Q","https://play-lh.googleusercontent.com/_hTA9kkUm1Af6t_4sBajXsuGSrLF7rERFmRWpYAdsOcNTxxhgv22o9rvnPiXBRIdQkHDA2Ldd8eAqkDFMQid","https://play-lh.googleusercontent.com/JlDg9UL3ebIXZ_I3mGVHT6eT2gGN4vS3bvMp4kwt4Hmwr0gbUmbWQve7iEaptRw36V8sFrUTdSzb7SecE0X9"],"tablet_screenshot_urls":[],"description":"In the haunted ruins, hungry ghosts have appeared, threatening innocent civilians. Click in sequence to drive away these evil spirits before they harm anyone. Test your reflexes in this fast-paced clicker adventure game and become a hero of this cursed land.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.hs.smash.annoying.guy.shooter","canonical_country":"US","name":"Smash Guy: Cannon Shooter","publisher_name":"Hyper Strike Pvt Ltd","publisher_id":"Hyper+Strike+Pvt+Ltd","humanized_name":"Smash Guy: Cannon Shooter","icon_url":"https://play-lh.googleusercontent.com/rhA5fcjUIwxtgUsuILMcA_Ai0fErTRMXl6evR59OwYnq3YIO9EZMqeSrX2Fadf9wi_g=s150","os":"android","active":true,"url":"https://play.google.com/store/apps/details?hl=en&id=com.hs.smash.annoying.guy.shooter&gl=IN","categories":["game_casual","game"],"valid_countries":["US","AU","BR","CA","CN","FR","DE","GB","JP","KR","MX","ES","IT","RU","DZ","AO","AR","AT","AZ","BH","BY","BE","BG","CL","CO","CR","HR","CY","CZ","DK","DO","EC","EG","SV","FI","GH","GR","GT","HK","HU","IN","ID","IE","IL","KZ","KE","KW","LB","LT","LU","MO","MY","MT","NL","NZ","NG","NO","OM","PK","PA","PE","PH","PL","PT","QA","RO","SA","RS","SG","SK","SI","ZA","LK","SE","CH","TW","TH","TN","TR","UA","AE","UY","UZ","VE","VN","BO","KH","EE","LV","NI","PY","GE","IQ","LY","MA","MZ","MM","YE","BD","BJ","BF","CM","CG","CI","JO","LA","ML","SN","TZ","UG","ZM","ZW"],"top_countries":["IN","BR","TR"],"app_view_url":"/android/us/hyper-strike-pvt-ltd/app/smash-guy-cannon-shooter/com.hs.smash.annoying.guy.shooter/","publisher_profile_url":"/publisher/android/Hyper+Strike+Pvt+Ltd","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-12T00:00:00Z","in_app_purchases":true,"rating":4.6666665,"price":0,"global_rating_count":106,"rating_count":106,"rating_count_for_current_version":106,"rating_for_current_version":4.6666665,"version":"3.2.9","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":20000,"downloads_rounded":20,"prefix":null,"string":"20k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.hs.smash.annoying.guy.shooter","support_url":"https://thehyperstrike.com/","website_url":"https://thehyperstrike.com/","privacy_policy_url":"https://thehyperstrike.com/privacy-policy/","eula_url":null,"publisher_email":"hyperstrikegames@gmail.com","publisher_address":"44 D1, Gulberg 3\nLahore, 54000\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/M9m-UojNTZJjntp_GGPpSKT8LiuOKdOjbpeXr55r1Xm5g1CkIZbwhdy-jsjDoUiCVh5D","short_description":"Tap and aim the cannon to launch the ball and beat your target","advisories":null,"content_rating":"Teen","unified_app_id":"66e50ef18174458ab1f4731d","screenshot_urls":["https://play-lh.googleusercontent.com/2akoNVW3KRMv84gGWA12OXatX3WvAEpOIsoSZahvbXpKdAk9Bp9wqkVbpkpWPb5jwV8","https://play-lh.googleusercontent.com/AmvmJXq5sATiBqJiS6i8YXp_shwW-P93ABhot2D-njgcw6yBr0PNm_K2jQHd-O6wDqJZ","https://play-lh.googleusercontent.com/kSg7Ax4Gv6_GXcMzk-oQsfopBk0Ucy3GAjDJt6UBfPW7jZYFMUBPRyZ17eEV-Gphh9M","https://play-lh.googleusercontent.com/pnfZQLcwMTKv0dspkTfyEvjEzVbsy9ifsINbUnElZuaNawD8Dy5ZycqGCNVEYY715pka","https://play-lh.googleusercontent.com/2VZJ3IVAS72JwV-E1CZd1VpNrqRpgCtRd6cemBnsGshzj3IhudNDoHpE47eBfxKgS88X","https://play-lh.googleusercontent.com/yaC8H8qwVwfyehi582HRKtELGlwEnrmRrierGxY4lSbPC7N0O0bnHHK9o37zvGuwgd4","https://play-lh.googleusercontent.com/VQKKxJASQaSX4bckWY-jJhxjHuN9NQOtyjo9xBGQ33pRO2O2i04ZFANcWiEZnyAUgQ","https://play-lh.googleusercontent.com/pGgYtaRLOwNivk25VXJRomm2GWb3lG9P1mHMJ23YE6hRt9PbpTiLN8GCE-_EzPqx9bM"],"tablet_screenshot_urls":[],"description":"Smash Guy: Cannon Shooter is an action-packed, physics-based punching game where power meets fun!<br>Launch your hero like a cannonball, charge your punch, and send enemies flying through walls, buildings, and obstacles. Each hit feels satisfying with realistic ragdoll physics and explosive impact effects that make every level pure chaos and joy! 💥<br><br>💪 Simple to play, impossible to stop!<br>Just tap, aim, and smash easy to learn but crazy fun to master. Unlock new levels, upgrade your strength, and discover hilarious ways to destroy enemies. Feel the thrill of becoming the ultimate smash hero in this addictive one-punch action game.<br><br>🎯 Why Players Love Smash Guy:<br><br>⚡ Super-satisfying punch &amp; smash mechanics<br>😎 Funny ragdoll physics and realistic reactions<br>🧱 Destructible environments with epic slow-motion impacts<br>💥 Charge your power and break everything in your way<br>🥇 Unlock new skins, levels, and powerful upgrades<br><br>Whether you love Smash Guy Punch Games, Smash and Tear the Annoying Guy offline Games, Break Ragdoll Physics Games, or just want some stress relief Smash Guy: Cannon Shooter delivers nonstop fun, quick play sessions, and rewarding gameplay that keeps you coming back for more!<br><br>🚀 Be the strongest smash guy and show your power with every punch!<br>Ready to smash them all? Download now and start punching your way to victory!","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","control vibration","prevent device from sleeping"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ice.fishing.live.game","canonical_country":"US","name":"Ice Fishing","publisher_name":"Fdroid","publisher_id":"Fdroid","humanized_name":"Ice Fishing","icon_url":"https://play-lh.googleusercontent.com/wVhKq-sdrYfelh2j8qtpYvsBtV2vgZuEzMUJE_stuGgSwSLQkmrPS79Qnlkc9Xd2PNhIaiFsLm2GJ_zI689q=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ice.fishing.live.game","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/fdroid/app/ice-fishing/com.ice.fishing.live.game/","publisher_profile_url":"/publisher/android/Fdroid","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ice.fishing.live.game","support_url":null,"website_url":null,"privacy_policy_url":"https://policywaterapps.com/ice_game_policy","eula_url":null,"publisher_email":"fahdroid2@gmail.com","publisher_address":"Egypt","publisher_country":"Egypt","feature_graphic":"https://play-lh.googleusercontent.com/AP7P2XRZYE1G9GTlP5xR7J6tBCHPsicDI_a61UZvoI9aTC8tDLwZFfRwCHJSpez-Y9Dlz-OrGsW5QnxPXlQz","short_description":"Cool ice fishing game with realistic AI fish and spectacular rare catch effects!","advisories":null,"content_rating":"Teen","unified_app_id":"6954bef7e3babb70bbd7e05e","screenshot_urls":["https://play-lh.googleusercontent.com/pi8OovdJi21zzRcdXUIMIt0aIjV4q2NpCe3fYxZvax7e9xW20Zezl0d2Us_hulhDn9eE7g21OvHgjf98LKoDFbM","https://play-lh.googleusercontent.com/5QTOeJsSmaGTuhzEfBYDCsR-jmpGnp2D7GznLuZQlOHDKkVMyhHoSKjZEBOeDLjYv0nSVIySYlQCW_vqDmrNPA","https://play-lh.googleusercontent.com/NXekdk3THkhtDrRix_LiBr02IYmfXs3GvJGuszwywF8o666cm-NIGxuqO7lLmgM5HlB_6611X6Kb7twQpHXtiA","https://play-lh.googleusercontent.com/no92kYl9-WTufLW1BrxcOnRcjii086FjckrgvNyaO7f_8xF3obuHIaS-fqe5QtPUC-7_MXPTkfN98_wIwEcH","https://play-lh.googleusercontent.com/a2K6CZ9AiJartxgDsEM8TAMhchuKiLem6hLDvI3ok8yXxQ_263gncC1tXKf2pNe8F2XZPTdOGSCsi5DlOrN_eQ"],"tablet_screenshot_urls":[],"description":"Ice Fishing - Premium Casual Fishing Experience<br>Test your reflexes and timing in this polished ice fishing game. Drop your line through an ice hole and catch as many fish as you can in 60 seconds!<br>GAMEPLAY<br><br>Drop your fishing line with a simple tap<br>Wait for fish to bite and watch for the visual indicators<br>Tap the HOOK button when you see the bite alert<br>Reel in your catch before the line breaks<br>Each fish has different behaviors and point values<br><br>FISH TYPES<br>Discover 5 different fish species, each with unique characteristics:<br><br>Perch - Common and easier to catch<br>Trout - Moves faster, requires good timing<br>Pike - Rare catch with quick movements<br>Salmon - Even rarer with challenging behavior<br>Golden Trout - Legendary fish with spectacular catch animation<br><br>When you catch rare fish, enjoy stunning visual effects including light streaks, particle animations, and cinematic presentations.<br>DIFFICULTY LEVELS<br>Choose your challenge:<br><br>Easy Mode - Slower fish, longer reaction time, perfect for learning<br>Normal Mode - Balanced difficulty for regular play<br>Hard Mode - Fast fish, quick reactions needed, for experts<br><br>PREMIUM FEATURES<br><br>Smooth 60 FPS gameplay with no lag<br>Beautiful frosted glass UI design<br>Animated snow particles and ice shimmer effects<br>Natural fish AI with curved swimming paths<br>Rod tension physics - careful not to break your line!<br>Persistent statistics tracking across sessions<br>Haptic feedback for immersive experience<br><br>GAME MODES<br><br>Timed Challenge - 60 second sessions to maximize your score<br>Track your best score and total fish caught<br>See how many rare fish you've discovered<br><br>NO ADS, NO IAP<br>This is a complete game with no advertisements and no in-app purchases. What you download is what you get - a premium fishing experience.<br>CONTROLS<br>Simple and intuitive:<br><br>Tap DROP LINE to cast<br>Wait for fish to approach your bait<br>Watch for the bright red FISH BITING alert<br>Tap HOOK to catch the fish<br>Tap REEL IN to bring it up<br><br>Clear on-screen instructions guide you every step of the way.<br>STATISTICS<br>Track your progress:<br><br>Total fish caught<br>Rare fish discovered<br>Best score achieved<br>Total time played<br><br>SETTINGS<br>Customize your experience:<br><br>Adjust difficulty level<br>Toggle vibration feedback<br>Graphics quality options<br><br>ABOUT<br>Ice Fishing is designed for quick gaming sessions. Perfect for:<br><br>Short breaks during the day<br>Casual gaming sessions<br>Testing your reflexes<br>Relaxing with beautiful animations<br><br>The game features clean architecture, optimized performance, and attention to detail in every animation. We've focused on creating a smooth, responsive experience that feels premium from the moment you start playing.<br>TECHNICAL HIGHLIGHTS<br><br>Built with modern Android development practices<br>Optimized battery usage<br>Smooth animations with advanced easing curves<br>No lag or frame drops<br>Persistent data saving<br><br>Download Ice Fishing today and experience casual fishing gaming done right. No tricks, no gimmicks - just a well-crafted game that respects your time and device.","subtitle":"","promo_text":"","permissions":{"Camera":["take pictures and videos"],"Other":["receive data from Internet","view network connections","full network access","run at startup","control vibration","prevent device from sleeping","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.inuitvy.agonic","canonical_country":"US","name":"Cybele Vasotonic","publisher_name":"LazyBaksho","publisher_id":"LazyBaksho","humanized_name":"Cybele Vasotonic","icon_url":"https://play-lh.googleusercontent.com/xqCu_d9zB22Q7uLyGk034Mxtxds7ku6j0C1YSyIgXIYAgfO7lasPrLYJmdCqVcKcj7HZxMlbWywqtgWslMbwrQ=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.inuitvy.agonic","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/lazybaksho/app/cybele-vasotonic/com.inuitvy.agonic/","publisher_profile_url":"/publisher/android/LazyBaksho","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.inuitvy.agonic","support_url":null,"website_url":null,"privacy_policy_url":"https://www.termsfeed.com/live/d9833dee-a05e-43a6-8412-7488cc65c34b","eula_url":null,"publisher_email":"lazybaksho@gmail.com","publisher_address":"Bangladesh","publisher_country":"Bangladesh","feature_graphic":"https://play-lh.googleusercontent.com/ZaUrylSKUO7VqKLUVVYr8cN-N3cIgZDG6mFlsr4PpNmj7xMA38j8yjFa1K_9g6GXMyVY3aeF71jr8k3z3tGCdQ","short_description":"Welcome to join Cybele Vasotonic","advisories":null,"content_rating":"Everyone","unified_app_id":"6954bd977d1795e3d403a71a","screenshot_urls":["https://play-lh.googleusercontent.com/aSU8N4BHHtI6ZVSBJV3MgQtckjsMKq5p-2fHx9dyIq6O4jyp03aFa7RBMHr-Xk5GvxTFTzMRK6ljUZKjKnc7-g","https://play-lh.googleusercontent.com/fJHjfJwE9n-M_Q33LW9YecQs1biPmEGY2nV8elIajskkgwG_Hyl7juIQHG0arRqYEXKGjv_fr4GUOjog6NZMjw","https://play-lh.googleusercontent.com/InGFufQ3mOsge6mjXyVnLSFZ2Wp5ClBxx7ofw2qYPZUa1fxsrRw5-TtpydlwosEKgqFYXf7I7XbUya9Z9z3Z"],"tablet_screenshot_urls":[],"description":"## Game Features<br><br>- **Simple and Intuitive Controls:** Simply tap the screen to plant and harvest.<br><br>- **Diverse Crops:** Wheat, carrots, watermelons, pumpkins, and many other crops are available to plant.<br><br>- **Weather System:** Dynamic weather changes affect crop growth speed.<br><br>- **Task System:** Complete daily tasks to earn extra rewards.<br><br>- **Leveling System:** Gain experience points through planting and harvesting to level up and unlock more content.<br><br>- **Shop System:** Purchase seeds and expand your land.<br><br>- **Inventory Management:** Manage your harvested crops and purchased items.<br><br>## Basic Gameplay<br><br>### Start the Game<br><br>1. Click \"START GAME\" on the welcome screen to enter the main game interface.<br><br>2. The main game interface displays your farm, with coins, level, and energy information displayed at the top.<br><br>3. The bottom features a seed selection bar and function buttons.<br><br>### Planting and Harvesting<br><br>1. **Planting Crops:**<br><br>- Select the crop seed you want to plant at the bottom.<br><br>- Click on an empty plot of land to plant.<br><br>- Planting requires energy and seeds.<br><br>2. **Harvesting Crops:**<br><br>- Once crops are mature (displayed as green with a maturity indicator), click \"Harvest\".<br><br>- Harvested crops will be automatically added to your inventory.<br><br>- You will also receive coins and experience points.<br><br>### Weather System<br><br>The weather in the game will change randomly, and different weather conditions will have different effects on crop growth:<br><br>- **Sunny Day**: Crops grow at normal speed<br><br>- **Cloudy Day**: Crops grow slightly slower<br><br>- **Rainy Day**: Crops grow faster<br><br>- **Stormy Day**: Crops grow significantly slower<br><br>### Task System<br><br>1. Click the \"DAILY TASKS\" button at the bottom to view daily tasks.<br><br>2. Task types include:<br><br>- Planting a specific number of crops<br><br>- Harvesting a specific number of crops<br><br>- Earning a certain amount of coins<br><br>- Unlocking new land<br><br>3. After completing a task, click \"CLAIM\" to claim your reward (coins and experience points).<br><br>4. Click \"REFRESH\" to refresh the task list.<br><br>### Inventory Management<br><br>1. Click the \"INVENTORY\" button at the bottom to open the inventory interface.<br><br>2. Inventory displays all crops and items you own.<br><br>3. Click on a single item to sell it.<br><br>4. Use the \"SELL\" button to sell one of each crop.<br><br>5. Use the \"SELL ALL\" button to sell all crops.<br><br>### Shop System<br><br>1. Click the \"SHOP\" button at the bottom to open the shop.<br><br>2. The shop offers the following items:<br><br>- Seeds for various crops<br><br>- Expansion licenses (unlock new land)<br><br>### Upgrade System<br><br>1. Gain experience points by planting, harvesting, and completing tasks.<br><br>2. Automatically level up after accumulating enough experience points.<br><br>3. Leveling up unlocks new crops and features.","subtitle":"","promo_text":"","permissions":{"Photos/Media/Files":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Storage":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","control vibration","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.jijingshes.jjsssa","canonical_country":"US","name":"bee999Archer","publisher_name":"FD Corp","publisher_id":"FD+Corp","humanized_name":"bee999Archer","icon_url":"https://play-lh.googleusercontent.com/fCM0Gen__TtbjqBAXs3db5Vd4sDqFotQJXVX9Ec9MrCrSM_jLJvKuKycRj2afUKr03Gb7fXTuGQpzLoFKE5BgQ=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.jijingshes.jjsssa","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BD","US","SA"],"app_view_url":"/android/us/fd-corp/app/bee999archer/com.jijingshes.jjsssa/","publisher_profile_url":"/publisher/android/FD+Corp","release_date":"2025-12-29T00:00:00Z","updated_date":"2025-12-30T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.jijingshes.jjsssa","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/elite-archer/home","eula_url":null,"publisher_email":"fikriiks69@gmail.com","publisher_address":"khajori, PO bara, tootki Dhand, Bara\nKhyber, 24801\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/gN3Uwv5TcqHE1KuD3eRe-WTYA3i0stnSwKrYcL1xVrbt6oNvC_Q94qT9CLJcnyrMaxWXx4SSy7ZTjPptqsIu","short_description":"defending your territory with godly aim.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954ed8ee6df3c504e6459b3","screenshot_urls":["https://play-lh.googleusercontent.com/SJqb3-k920-mM6-zmGyz46MCFgMpr6OTERQpKEG_7yCsk65QwjSB56XYSe0pSkhLQhCC0XKLDX0fiDbOE6PaLw","https://play-lh.googleusercontent.com/cmPTN7s78trSDPE6O3f_7aaMfwyQScLgp2CPQI230AcsghvAHMEJcALG3V1I3wiZQC00RUXnIcp1WcLo9S9mfA","https://play-lh.googleusercontent.com/Kc6lzmEJAzVzExlwN_ADNgWW97_6pIglrdKmWGWoTxu8f9O04vRrlHVBE60lufO9lkVZDV9XdlKGw-IKqGqyeQ","https://play-lh.googleusercontent.com/ixK-vMvnDihYqB03FnVSSkn2oTwKyTzUDJSOjayZjuQNIdfwGtVHycUdN0NHwgCRtjUeTlGbCC2A8eu3FaTSSUw"],"tablet_screenshot_urls":[],"description":"Become an elite archer and experience the ultimate thrill of combat through minimalist tap controls. Watch for enemy attack cues and find the perfect window to fire, defending your territory with godly aim.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.kT38uX.fmNRdVqe","canonical_country":"US","name":"Lucky 777 Maya Golden","publisher_name":"T DARCY CONTRACTING INC","publisher_id":"T+DARCY+CONTRACTING+INC","humanized_name":"Lucky 777 Maya Golden","icon_url":"https://play-lh.googleusercontent.com/mNYHoXrgIxRnQq6oGogNAK_yUGVD4XKADp3GK5Ldx8atzBPdf7K0lYVinQ0yhPDES936AQMzqx9QUE-vx9aKdg=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.kT38uX.fmNRdVqe","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/t-darcy-contracting-inc/app/lucky-777-maya-golden/com.kT38uX.fmNRdVqe/","publisher_profile_url":"/publisher/android/T+DARCY+CONTRACTING+INC","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0.4","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.kT38uX.fmNRdVqe","support_url":null,"website_url":null,"privacy_policy_url":"https://www.freeprivacypolicy.com/live/6fb011dc-eb41-455e-a7b8-500e58f79da8","eula_url":null,"publisher_email":"0061alitabegum@gmail.com","publisher_address":"31 Walcott Ave\nEast Walpole, MA 02032-1232\nUnited States","publisher_country":"US","feature_graphic":"https://play-lh.googleusercontent.com/bcjLYRVi3jhye-8apaViDjEhQfNN7tLnSAuq_1lJABU2gOW9FVJnALUhx3wEprSGLDo0ZScCP7tFqKGi-HqTyk0","short_description":"Experience the joy of slot machines at any time!","advisories":null,"content_rating":"Teen","unified_app_id":"6955ee837403839976fc5c1b","screenshot_urls":["https://play-lh.googleusercontent.com/-JEVFxC4SDWS-PR93WnQr-tG4ipS2mPDTKQS-4jJGR8EPKhpUNk4GZMXpo-pQHXJyXRZZ2Y9_qUfJXacVEbb6g","https://play-lh.googleusercontent.com/vAPn99Ec9PoucDRqr7c58xXCKK8DF21CvT-_CgtN3Dw80S6pKaH15U4sjqMgs3WAZwfkjmWDgm2SuhOG1e2A","https://play-lh.googleusercontent.com/Mm0J_FwyHsNV-IxQqEK9Uu_JiZ8slPv0Wg5EbV40unod5o4l2ReGrF7N1tqcjDHoZQFfgtRtQwFja7XbiZdj","https://play-lh.googleusercontent.com/x6-BbsamcGN_vyA9YALkgVs0cxaLkKPZKswABBXFB-6okIg2nKtGa8kAKcTRPLB0J_-Mf8XAnZcLYEI6DVP0nw","https://play-lh.googleusercontent.com/bcjLYRVi3jhye-8apaViDjEhQfNN7tLnSAuq_1lJABU2gOW9FVJnALUhx3wEprSGLDo0ZScCP7tFqKGi-HqTyk0"],"tablet_screenshot_urls":[],"description":"In this game, players don't need to perform complex operations. Just by gently pulling the joystick, they can immerse themselves in the colorful symbol vortex and enjoy the surprises and expectations brought by each rotation. Whether it's for relaxation during a short break or seeking simple moments of joy, this is your ideal choice!<br>Note: This application is only for users aged 18 and above and is for entertainment purposes only. Game currency or prizes have no real-world value and cannot be exchanged for cash or other assets. The game玩法 does not reflect the future results of real-money gambling.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["receive data from Internet","view network connections","full network access","run at startup","control vibration","prevent device from sleeping","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.kdhsbx.stretchdash","canonical_country":"US","name":"Stretch Dash","publisher_name":"Renflair Technologies","publisher_id":"Renflair+Technologies","humanized_name":"Stretch Dash","icon_url":"https://play-lh.googleusercontent.com/J-8DnGbmMaYLcPaanb6S0oxlB7hpG5ijE2LZ9Nz_llCq1kjVhlRmkKDNlKLAAyQskVXyXdCNUkPF5iTYJxph=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.kdhsbx.stretchdash","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/renflair-technologies/app/stretch-dash/com.kdhsbx.stretchdash/","publisher_profile_url":"/publisher/android/Renflair+Technologies","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.kdhsbx.stretchdash","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/stretchdash/home","eula_url":null,"publisher_email":"mithumistri6060@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/rSk3w0lUfY0NkmLLd2SOLVofrbRHejZQl_MQcisvNk_kc40fXi2UHol5q0spsUyj07a3uAsszqvoAHVINUcaSg","short_description":"Eat round balls to stretch your blob longer.","advisories":null,"content_rating":"Everyone","unified_app_id":"69547734373c1f8318437b29","screenshot_urls":["https://play-lh.googleusercontent.com/ALZT3J-jp0AZVE7pT4meRN2lfm3epsZAVMHPNxxRcOLckNOEtB6PMNznnLylAdM1kSye3kR27eBHh50sQg8V","https://play-lh.googleusercontent.com/3kk0onCZstWe9ZX5dqqGmChOQ5xw4xYy_k9burqJTwQaxww-8bMf4aHKownNdRodSGLEw5EbMIaXiCguVdacTu8","https://play-lh.googleusercontent.com/qXsKHMJ7cIYaGMetfhPV-OglS-dWrjYyO7Qt6-N4faMJsyP4vSkkBHaYDzEHvTCVQjsfZeh8rVewMAfws4gLXw","https://play-lh.googleusercontent.com/VWtc1IKlWwRTAtgm9_Esmg71Sv3fdMukjJtJ5qpGJsCS_ctYp51jQdoGictvETex83tYyf7tqDhmuzJC--aocw"],"tablet_screenshot_urls":[],"description":"Eat round balls to stretch your blob longer. Collide with blocks to consume length. Destroy blocks to earn points. Simple controls, endless fun.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.kmhx.ballblast","canonical_country":"US","name":"Ball Blast","publisher_name":"Hey-Gamez","publisher_id":"Hey-Gamez","humanized_name":"Ball Blast","icon_url":"https://play-lh.googleusercontent.com/5czQ0oeDHlG7j1d5E80UtpX97aWvZm8akIFzilV8g8tJqQE56pU-H667HciTeh5EdCY-B2zVEsBB0p5jGQY97A=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.kmhx.ballblast","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/hey-gamez/app/ball-blast/com.kmhx.ballblast/","publisher_profile_url":"/publisher/android/Hey-Gamez","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.kmhx.ballblast","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/ball-blastt/home","eula_url":null,"publisher_email":"heydotgamez@gmail.com","publisher_address":"Dar-ul-Huda School, Factory Area, Muhalla Chak#8 Shumali, Bhalwal, District Sargodha\nBhalwal, District Sargodha\nBhalwal, 40410\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/PgCct3-Hptx_mYON7bOoLzC__iERQjraXHKaAmpoQrHmZODe52Hb_IKTxeRovq0vMC0Zs2nG_V8MPr1c3iHZoQ","short_description":"Eat round balls to stretch your blob longer.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954706140c2340c4d1d20c3","screenshot_urls":["https://play-lh.googleusercontent.com/ewgeGbbxzHQXgsJEe7suTCwmEUxW2lc1_S4yHDnScBMtUlX_HLBP1VZt-SDIdiUg0qRXPPsY31OYYrTy-FXnxw","https://play-lh.googleusercontent.com/MQ7fh_QobVW4Uer0ktZjjRxonYlV6D60PWyTxnDo7aRyussvmSmi7XgEJqwsvUnzK_nFbAP4ZxdZRsFB41D4hE8","https://play-lh.googleusercontent.com/4S8O4wbZEJ_nJhEYtfV5JLNzP6sIg0jliwFdpxAq5AMhTtEmR96yt8pU_JLCyEqY6A7czC1-j27d3buAEvy3xGU","https://play-lh.googleusercontent.com/VIZgZ-6Y9qyL8un6XRuwy6KU2oyOHDZzzrNlxAObJR4fnWkba3iovj7EAtNiPCaFkA9_MmD0bNvwah5-J4-_4A"],"tablet_screenshot_urls":[],"description":"Eat round balls to stretch your blob longer. Collide with blocks to consume length. Destroy blocks to earn points. Simple controls, endless fun.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ljnb.weaponaim","canonical_country":"US","name":"Weapon Aim","publisher_name":"Ormatrix","publisher_id":"Ormatrix","humanized_name":"Weapon Aim","icon_url":"https://play-lh.googleusercontent.com/B5souc07snPrw333NI-4cIrnt8aUIgBdF9QcX5eOAOyJpILxo_IU5A6QmMqDT8y0bMcRY7aDxu_wl0c1nTy5=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ljnb.weaponaim","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/ormatrix/app/weapon-aim/com.ljnb.weaponaim/","publisher_profile_url":"/publisher/android/Ormatrix","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ljnb.weaponaim","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/weaponaim/home","eula_url":null,"publisher_email":"info.ormatrix@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/LKKncoQUDCcd22VX3D8K5cAjNXvcAI3vuOnyaY7sKuLlp6nBYA_HAqlXn0qF7709yKqFeVUSC-AyE14QDOOTrxU","short_description":"Enemies are closing in from all sides.","advisories":null,"content_rating":"Everyone","unified_app_id":"695479615dd180b1bcd3002b","screenshot_urls":["https://play-lh.googleusercontent.com/HHXYeOayG1M7pqiZOUYP-35VDVz2cEXP6eBR62gCzYGCXCcwrah5w8YsuMLGEH76nGyVNFV2icQ02ZaF-3S5pA","https://play-lh.googleusercontent.com/KbI5ujCX_miYDi-ZIAeemkB-Q4nDt_UdT0QtvR9L1SwQUbd7uPkrauYy4JanfCsaet6OeiZGDYpNjW6qjjH9","https://play-lh.googleusercontent.com/-xJ2LIXTbfocGDWoCxgVn8BbwYvnMm3BU86QpXcaDBgosJbjwbjHsc3pC1KpDomRUzK23hI07qavYEfi1HQRpw","https://play-lh.googleusercontent.com/96K9fcIpw7US8EE5Bbcq4AvbytXL4MmvW0hROD5sCKRTvbIFsqz4Ek4DUIg77cGnUr0jIkOuaSucTZJn516WJA"],"tablet_screenshot_urls":[],"description":"Enemies are closing in from all sides. Use the joystick to control your weapon direction and eliminate them before they reach you. Your only defense is accurate aim and quick reflexes.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.mnbx.spikejumper","canonical_country":"US","name":"Spike Jumper","publisher_name":"Cam Applications","publisher_id":"Cam+Applications","humanized_name":"Spike Jumper","icon_url":"https://play-lh.googleusercontent.com/RaaVl97UxaQMkm_qGTd6BwWPbPxj-MEEMsgEqUZ6nSIFdt5Pd2NFOjBxXVKIHAo8HcUbLx0DZuSnd5Ix2upB9w=s150","os":"android","active":true,"url":"https://play.google.com/store/apps/details?hl=en&id=com.mnbx.spikejumper&gl=US","categories":["game_casual","game"],"valid_countries":["US","AU","BR","CA","CN","FR","DE","GB","JP","KR","MX","ES","IT","RU","DZ","AO","AR","AT","AZ","BH","BY","BE","BG","CL","CO","CR","HR","CY","CZ","DK","DO","EC","EG","SV","FI","GH","GR","GT","HK","HU","IN","ID","IE","IL","KZ","KE","KW","LB","LT","LU","MO","MY","MT","NL","NZ","NG","NO","OM","PK","PA","PE","PH","PL","PT","QA","RO","SA","RS","SG","SK","SI","ZA","LK","SE","CH","TW","TH","TN","TR","UA","AE","UY","UZ","VE","VN","BO","KH","EE","LV","NI","PY","GE","IQ","LY","MA","MZ","MM","YE","BD","BJ","BF","CM","CG","CI","JO","LA","ML","SN","TZ","UG","ZM","ZW"],"top_countries":[],"app_view_url":"/android/us/cam-applications/app/spike-jumper/com.mnbx.spikejumper/","publisher_profile_url":"/publisher/android/Cam+Applications","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.2","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.mnbx.spikejumper","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/spikejumper/home","eula_url":null,"publisher_email":"elinarosadelgermania@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/BQPVOPAi8PJS_9ffYkaobSdvs5dNvE38B3h6veE1MxAiTrExTSh_F4IalJkBvwJu4lgsNWRXgYWx0t9_9cYYvA","short_description":"Dodge deadly spikes and collect as many gems as possible.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954b2e69ed13776ebba20af","screenshot_urls":["https://play-lh.googleusercontent.com/ytha27mnT_qXa2u6K82k6tFNI366ov2BaqMPWUeTLqRrGPtrILCV4YLxhTfbl6cbFYPMyHaxXb39LGLeb3_dUg","https://play-lh.googleusercontent.com/C_Z_XZuYQIVXj1zkWb9VUTo4dklyO_okDbCZnk-76a8vUmF3uA_lwGncIDhbJy9HCZYGl_Ud35oNQtTL13pzOw","https://play-lh.googleusercontent.com/yAMm7xaltoYhUyOJiJpbGihlZhxkDR8bbcHpDBcLd0BpHNC_MsvqjlQAjh-wDPIysH9EuflPKn_ddyBxxzBQUbU","https://play-lh.googleusercontent.com/V-BLxAjlGFAANxLnf1Xpnh9PdI-P2bKv7Acob6h9h6zWxuyhe0Vkdx3974aYVFW-cMFygmA9RHcfDhN9y_P-Ni0","https://play-lh.googleusercontent.com/fIGGjMgkRrDWgQpKaeWm28uTibxsnmuPqOeTUocZO0gQS3ESBo-i7qaB8dosNN2TjzSXRWJnrG8hRtPDU1TV","https://play-lh.googleusercontent.com/zUOkf7N8WAgfcqmzSGL1jWeIK_0daGz022MzOVXb24QA7wHsMQ_5S0h7JjNSAcgS4bfVg7z6aSvMq-ImxQAkOU4"],"tablet_screenshot_urls":[],"description":"Dodge deadly spikes and collect as many gems as possible. One wrong move and the game is over. Simple controls, extremely challenging gameplay.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.mnksbx.balllength","canonical_country":"US","name":"Ball Length","publisher_name":"Artifis","publisher_id":"Artifis","humanized_name":"Ball Length","icon_url":"https://play-lh.googleusercontent.com/g4goSk89fBgQPxq1EqUumDCdkullhYNOD9E373u8tmo9RG0_4dNk9mHRTbunm4mBwr_UKiIRhyC7yZtQGJryvjI=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.mnksbx.balllength","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/artifis/app/ball-length/com.mnksbx.balllength/","publisher_profile_url":"/publisher/android/Artifis","release_date":"2025-12-29T00:00:00Z","updated_date":"2025-12-30T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.mnksbx.balllength","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/balllength/home","eula_url":null,"publisher_email":"rydallbalkcomm54274@gmail.com","publisher_address":"Morocco","publisher_country":"Morocco","feature_graphic":"https://play-lh.googleusercontent.com/I3ziAhdL5aFNbI_4R1eKtq77qRa6Ui7r5SU-DGJB3GsxvyTEePtbHdC9upKs_veJhAp5bYm8D-HuJaAqiG4tQ1M","short_description":"Eat round balls to stretch your blob longer.","advisories":null,"content_rating":"Everyone","unified_app_id":"695495a67e6afbecf47a5a48","screenshot_urls":["https://play-lh.googleusercontent.com/pSc7y37TSInn0hmgFznZySLQnb0vWpcO_Vmay6zRzxOjsKdJu1PT-tCy_sdr6x4ngp8d01ZaLl5Q_vb7Z1cyc-o","https://play-lh.googleusercontent.com/yxLEOhwJRJehU-2ZIC_vuDSXrE5kSB9uW6e4PoMFXv3u-p6QmoTxTdW6dPLibGblDe5bdGKKxAPdOLriqLDv","https://play-lh.googleusercontent.com/PYf8nW6zbMN8As7501secWf8DbkZJgiLWYJbrbjEZkTpUTcBbwzUSTLFavGaGzIb9_nDGtK_KuW5vYtVIvr5L0Y","https://play-lh.googleusercontent.com/5KtjD2Y1wqYlY8AeAvP6X9shEdW6bnmLKUg8KGQel3FNWBAOR_tdPkvEE799hl6V6kox1hTiMYp-p2_sRarJmvM"],"tablet_screenshot_urls":[],"description":"Eat round balls to stretch your blob longer. Collide with blocks to consume length. Destroy blocks to earn points. Simple controls, endless fun.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.muqsqty.poaroorexia","canonical_country":"US","name":"Leading Tiger DE","publisher_name":"Tanveer Ahmad Nazir","publisher_id":"Tanveer+Ahmad+Nazir","humanized_name":"Leading Tiger DE","icon_url":"https://play-lh.googleusercontent.com/Or21n8NyXwi4nUA3JWKsqJjaOikXCy_l1dTmHeqTFLEZEUCZAhrCL-PXL1wxBljrVTREj0plTFHB2FTtWWRI=s150","os":"android","active":true,"url":"https://play.google.com/store/apps/details?hl=en&id=com.muqsqty.poaroorexia&gl=US","categories":["game_casual","game"],"valid_countries":["US","AU","BR","CA","CN","FR","DE","GB","JP","KR","MX","ES","IT","RU","DZ","AO","AR","AT","AZ","BH","BY","BE","BG","CL","CO","CR","HR","CY","CZ","DK","DO","EC","EG","SV","FI","GH","GR","GT","HK","HU","IN","ID","IE","IL","KZ","KE","KW","LB","LT","LU","MO","MY","MT","NL","NZ","NG","NO","OM","PK","PA","PE","PH","PL","PT","QA","RO","SA","RS","SG","SK","SI","ZA","LK","SE","CH","TW","TH","TN","TR","UA","AE","UY","UZ","VE","VN","BO","KH","EE","LV","NI","PY","GE","IQ","LY","MA","MZ","MM","YE","BD","BJ","BF","CM","CG","CI","JO","LA","ML","SN","TZ","UG","ZM","ZW"],"top_countries":[],"app_view_url":"/android/us/tanveer-ahmad-nazir/app/leading-tiger-de/com.muqsqty.poaroorexia/","publisher_profile_url":"/publisher/android/Tanveer+Ahmad+Nazir","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-07T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"6.0.45","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.muqsqty.poaroorexia","support_url":null,"website_url":null,"privacy_policy_url":"https://www.termsfeed.com/live/257d6285-27b0-480f-a567-c95479483cfe","eula_url":null,"publisher_email":"TimothyJohnso0384@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/9g2ylt7k8C87DDqgGKE_dVMklCCPQ1qKYz4hUaL8EaJ4ryA0WaoYvw4XICFO-JpanbcfRjVkJ-TFCYeJQtUd0Q","short_description":"Welcome to join Leading Tiger DE","advisories":null,"content_rating":"Everyone","unified_app_id":"695b033643283a1375622de4","screenshot_urls":["https://play-lh.googleusercontent.com/4jKiJJ3MEYq6j8WXsalPc6Zm29FMHpBeGRC4HP91a7DIZSkOQmYgkUW1rK8l-lvs6hOUDecdU8rVIhvJ_HN8GA","https://play-lh.googleusercontent.com/83nz1ZgkN9JMZZX4pXtUDvZ5vzX3e1Fi5pfcUwPqOmJU4NDmPgnI3SQ8OQiu0qLbVvFAe82OgLQlanHMV-jJ","https://play-lh.googleusercontent.com/4g1QxRJ2emnz0oMhAE4n8Aim2nlZAImO5dpXHLxqlGVMASYdwUuHcrz1BmHG7o15PzmOXm3Fp2SMCAxKKUdj3A","https://play-lh.googleusercontent.com/wjvXs_CcBUuORkqsljVvgXndZk2u0ZQ9IlZE0ioQ9NqwK6vCr0zKprFP6l0pMXQL357oQpLWWEa9WLdGYWzlEg"],"tablet_screenshot_urls":[],"description":"## Game Features<br><br>- **Simple and Intuitive Controls:** Simply tap the screen to plant and harvest.<br><br>- **Diverse Crops:** Wheat, carrots, watermelons, pumpkins, and many other crops are available to plant.<br><br>- **Weather System:** Dynamic weather changes affect crop growth speed.<br><br>- **Task System:** Complete daily tasks to earn extra rewards.<br><br>- **Leveling System:** Gain experience points through planting and harvesting to level up and unlock more content.<br><br>- **Shop System:** Purchase seeds and expand your land.<br><br>- **Inventory Management:** Manage your harvested crops and purchased items.<br><br>## Basic Gameplay<br><br>### Start the Game<br><br>1. Click \"START GAME\" on the welcome screen to enter the main game interface.<br><br>2. The main game interface displays your farm, with coins, level, and energy information displayed at the top.<br><br>3. The bottom features a seed selection bar and function buttons.<br><br>### Planting and Harvesting<br><br>1. **Planting Crops:**<br><br>- Select the crop seed you want to plant at the bottom.<br><br>- Click on an empty plot of land to plant.<br><br>- Planting requires energy and seeds.<br><br>2. **Harvesting Crops:**<br><br>- Once crops are mature (displayed as green with a maturity indicator), click \"Harvest\".<br><br>- Harvested crops will be automatically added to your inventory.<br><br>- You will also receive coins and experience points.<br><br>### Weather System<br><br>The weather in the game will change randomly, and different weather conditions will have different effects on crop growth:<br><br>- **Sunny Day**: Crops grow at normal speed<br><br>- **Cloudy Day**: Crops grow slightly slower<br><br>- **Rainy Day**: Crops grow faster<br><br>- **Stormy Day**: Crops grow significantly slower<br><br>### Task System<br><br>1. Click the \"DAILY TASKS\" button at the bottom to view daily tasks.<br><br>2. Task types include:<br><br>- Planting a specific number of crops<br><br>- Harvesting a specific number of crops<br><br>- Earning a certain amount of coins<br><br>- Unlocking new land<br><br>3. After completing a task, click \"CLAIM\" to claim your reward (coins and experience points).<br><br>4. Click \"REFRESH\" to refresh the task list.<br><br>### Inventory Management<br><br>1. Click the \"INVENTORY\" button at the bottom to open the inventory interface.<br><br>2. Inventory displays all crops and items you own.<br><br>3. Click on a single item to sell it.<br><br>4. Use the \"SELL\" button to sell one of each crop.<br><br>5. Use the \"SELL ALL\" button to sell all crops.<br><br>### Shop System<br><br>1. Click the \"SHOP\" button at the bottom to open the shop.<br><br>2. The shop offers the following items:<br><br>- Seeds for various crops<br><br>- Expansion licenses (unlock new land)<br><br>### Upgrade System<br><br>1. Gain experience points by planting, harvesting, and completing tasks.<br><br>2. Automatically level up after accumulating enough experience points.<br><br>3. Leveling up unlocks new crops and features.","subtitle":"","promo_text":"","permissions":{"Photos/Media/Files":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Storage":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","control vibration","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.mysxounhungun.mysx","canonical_country":"US","name":"Ink Seek","publisher_name":"MobileAppDevt","publisher_id":"MobileAppDevt","humanized_name":"Ink Seek","icon_url":"https://play-lh.googleusercontent.com/itqMcQWsJNoLwnS6mT4FxTKNvyJt4pOwyXmLgKg8KJi5cLEqZc8ia5kkd5ceb_pldBABA5E67yLTTy6q1tyW=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.mysxounhungun.mysx","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/mobileappdevt/app/ink-seek/com.mysxounhungun.mysx/","publisher_profile_url":"/publisher/android/MobileAppDevt","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.mysxounhungun.mysx","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/ink-seek/home","eula_url":null,"publisher_email":"helpdeskgoezie@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/SZSpgchYS5FoLU5-weRD2H9ByIGjnohBDmaBy9rZkpnAqvvbkt3nPqWP6A12GN6c5Fg6K74PMVJca3-v9AS6H7o","short_description":"finding tranquility amidst elegant brushstrokes.","advisories":null,"content_rating":"Everyone","unified_app_id":"6955ce4cd216f7b6872351f0","screenshot_urls":["https://play-lh.googleusercontent.com/Gs5nkG58RZ2hNF-EfNrHWZPrYi5I-CneF2feLtAw4-bLyheO-Fe9A1cztcjwCPiB6iPn20dkawy280_iZY2Jbg","https://play-lh.googleusercontent.com/NrJlBYlJTvt6iKH4LB73usL9TImFb4IEZTeAymI72I9dqX8wy7d7f5eKjLbZa1gpLruy7AIoulgmtM2ElatKxu8","https://play-lh.googleusercontent.com/To-wSi1E9dJHA9nnUYa5QjPd-evZrZ68BfU_SnYoyG9eeWX9xVTThr4c9Xx1nQGA_1ARKLPGo_f8Yi95Hmz0Zg","https://play-lh.googleusercontent.com/mmynk9tpfD3MTK8JAYF1CGLgSvZcAajp-w-s0ineXzgazk-YkqNA9dPqbob2XCrvhbAaga-t6pb7hO-tE4K-","https://play-lh.googleusercontent.com/CsGJnJ3jcjbIa3RibL-MK_XdtT0jXTW7t9YoZ90knsGNOwIRmAbFPvLS0tP_qYpSV6WHNLS92xfKL5H7tA6UmQ","https://play-lh.googleusercontent.com/SzgOihocH7fFgr-b8xHbbU6fvq3HJ70vpG89ngh9bI6oqiHq0Gcc6PQZA9MzvFD5GmqAP2rBr-O2SpyAXoyN5g"],"tablet_screenshot_urls":[],"description":"Immerse yourself in poetic ink-wash landscapes while searching for matching pairs within the scattered scrolls. A test of memory and a journey of mindfulness, finding tranquility amidst elegant brushstrokes.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ninbx.Secrets","canonical_country":"US","name":"Xt7 StarlightNexus","publisher_name":"HUANG BO","publisher_id":"HUANG+BO","humanized_name":"Xt7 StarlightNexus","icon_url":"https://play-lh.googleusercontent.com/fko9dm-SBoHZOejJMSJU9AdtrRKOwziqZX2oEl31IcEBGigikrGUSGtvDgaELahW0-kxG5Yglrrd38B2MOpk-A=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ninbx.Secrets","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/huang-bo/app/xt7-starlightnexus/com.ninbx.Secrets/","publisher_profile_url":"/publisher/android/HUANG+BO","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"10.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ninbx.Secrets","support_url":"https://sites.google.com/view/grid-secrets/home","website_url":"https://sites.google.com/view/grid-secrets/home","privacy_policy_url":"https://sites.google.com/view/grid-secrets/home","eula_url":null,"publisher_email":"williamsoto199742@gmail.com","publisher_address":"中国\n安徽省芜湖市\n无为市无城镇湖滨小区12栋2单元501\n邮政编码: 241000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/YAgwWeWLUzB_13A5HdPxIyoZ8bb4iwBJRteu_haSa0sX94ZZ52_IBtpiOxs_3zM1uyL7Rxn3U-PAm2HWRBRh","short_description":"This is a casual game","advisories":null,"content_rating":"Everyone","unified_app_id":"69570e1067bda8d4f4a6a005","screenshot_urls":["https://play-lh.googleusercontent.com/kLIP05RnJj1qyX3qXeJpxPOz8RrT9V-qKieGshGN7kw2cdke1lDZgb9nCpl2pJbLgj1dqrHf8Zc8W-E328OoMw","https://play-lh.googleusercontent.com/bvqwJe4pNkSdGCG6wuikrMEmimHvXBOZc-t04DYF8AZvkSb5k_7x85wBlZuC7dgc_A_u05qQ1qZKlWaD7Wmsjw","https://play-lh.googleusercontent.com/T-ubpsFNuWxSCanepwKzBL-Y3YEvBY1LHKBqH-sfW3jZA19NelQ2rZE9kI_Agn6kCAHkF0jkeOmRbSjDRoj6k64","https://play-lh.googleusercontent.com/yAsvFsDEsvj7SchFyvTj4L0P_7MD2oAyrblOY2BhXAmRfGiTGDjqo-ayIHo9r-Y2T_AgkEqbshBuHFBpDap8","https://play-lh.googleusercontent.com/a12yncHQ4r1uVcpg7H0jqtx-otfe5ya8ZPJ_18bsqCEGjW-isoCfsVqUZEXF8JWLXW_uj8x2A--Yi3u04e8Chw"],"tablet_screenshot_urls":[],"description":"In a 9x9 maze of numbers, 81 clues have been laid out. Can you fill in all the blanks within 250 seconds using logical reasoning? Use the process of elimination to pinpoint the only possible number, and the remainder method to solve the final puzzle.<br><br>Prioritize filling in the \"unique candidate number,\" then narrow down the possibilities by eliminating blocks. Click now to begin your number decoding journey!","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.nwnxb.fruitmuncher","canonical_country":"US","name":"Fruit Muncher","publisher_name":"Apliment Group Perkasa","publisher_id":"Apliment+Group+Perkasa","humanized_name":"Fruit Muncher","icon_url":"https://play-lh.googleusercontent.com/7rh9QHuiKoGwcPpwPDQBSbN_XeGlNCjOpryBviGUz1Kp1l7BPcgMCLp20qvrcHyKvtu7w4V6PUuxcJ82bFBVZQ=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.nwnxb.fruitmuncher","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/apliment-group-perkasa/app/fruit-muncher/com.nwnxb.fruitmuncher/","publisher_profile_url":"/publisher/android/Apliment+Group+Perkasa","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.5","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.nwnxb.fruitmuncher","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/fruitmuncher/home","eula_url":null,"publisher_email":"id.ngabdul.muhtadin@gmail.com","publisher_address":"Indonesia","publisher_country":"Indonesia","feature_graphic":"https://play-lh.googleusercontent.com/wE57TlJowOImvylUM0L7oeEQvC8exLFjOBeLuJcQxhO_eFDT2nfL0P4LcQVZNNfC2e2-pG2Cv9qMqLW0hpZGiA","short_description":"Guide your adorable orange snake through the garden eating delicious fruits.","advisories":null,"content_rating":"Everyone","unified_app_id":"695331260236184e6c06447b","screenshot_urls":["https://play-lh.googleusercontent.com/RTgJHr9WJHE4MTu6AmlVNbEjXf7iq0tEevO4iNEGm0M0wsAGOy0PRiID_g4TPhIYGCFlbOrLcVEa1_ZkitY2Q2k","https://play-lh.googleusercontent.com/2Us_tczVGqfR7IqwXD3OdSiP4A2IEp6KZkW1ThVGQkmSxDWvd97_v9-K31hXLDkRpi5kfveWh20P_iHBUTbhVQ","https://play-lh.googleusercontent.com/yyz_k3VpmsDDVs7zVNPgkV4XDVNZrplDzJw3oYpfCBYaVKkCYvs3orbXIVHHoOV2BaIeSl7mVAL-20iwqDY_KCk","https://play-lh.googleusercontent.com/KmAA6ylElQABp2dnyObpovFWUMAVgxYUWdck1bJzicAOWPXEk4fytvT2Ad4jp99EgoYpMBTGT2yBDJwp-PYI5OI","https://play-lh.googleusercontent.com/EWUDTyhdR_OoSlHsCBG85uwlhPaCnTvw3JrTfPvqCOuj36YFVb3lFE6Jqxspga3OBaFvbzksfh3dvUzsMdOovLs","https://play-lh.googleusercontent.com/DJXMOg1a39uUqHQjqtojeh9b7WE2e3-tk7v42N1j4Nt4t4t_nSfw78YXGNhcDRsDWB3av-Km72h0ree7m1-F1Q"],"tablet_screenshot_urls":[],"description":"Guide your adorable orange snake through the garden eating delicious fruits. The more you eat the longer you grow. Challenge yourself to beat your high score in this classic snake game with a fresh twist.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.omtosis.tokoloy","canonical_country":"US","name":"Little Cow Lucky Fishing","publisher_name":"Grandtiger","publisher_id":"Grandtiger","humanized_name":"Little Cow Lucky Fishing","icon_url":"https://play-lh.googleusercontent.com/wmpUp5-dLTr_uVBX3YBVlxc-La9FREYJiYUsskRdgJZUT7GdqocxBYKWVZrJQjOgeN4Ao9X7eF5H_hdnRan07U0=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.omtosis.tokoloy","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/grandtiger/app/little-cow-lucky-fishing/com.omtosis.tokoloy/","publisher_profile_url":"/publisher/android/Grandtiger","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-02T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"6.0.4","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.omtosis.tokoloy","support_url":null,"website_url":null,"privacy_policy_url":"https://www.termsfeed.com/live/5c893d3c-3006-4f3c-bf2f-0d256e28ccc9","eula_url":null,"publisher_email":"lazybaksho@gmail.com","publisher_address":"Kenya","publisher_country":"Kenya","feature_graphic":"https://play-lh.googleusercontent.com/AqeBZpv0g_18N5_1pno6qglu4W0X5RIObmcdNneyusnmwd_PhwtwR_IFVvuaSH4xA0i5BAgZ5SI5tQ5lnXQiYg","short_description":"Welcome to join Little Cow Lucky Fishing","advisories":null,"content_rating":"Everyone","unified_app_id":"69570e1b27e2c10be1c31801","screenshot_urls":["https://play-lh.googleusercontent.com/j_x_-3y94UKnRFbLzUmUz7hkJaIMsao9hAS8K-oagWWPuBoNO33SHAn5ObsOCw6snFIoiFFey8OIeI_HcBHMbKA","https://play-lh.googleusercontent.com/tSKq8blywOAW1G7DG4nBSxGuv6-JQEVFMzHvQmlnw2HkYHndDuW1Ga2gdsfpIjqkkYY1HqFUHJ7nxXAynuf-Ig","https://play-lh.googleusercontent.com/kR3lJi0Vvqh1JolO8CQ5tZxSJ80bSY41_UvpVtwP9SEPuGBjp5cRINKnEGXkfsU4fsySQD25FByAgdJvWcKZYvs","https://play-lh.googleusercontent.com/eH434LmzD0m_8xSPhuBNralTetKOm1lcuq3MJKclsLr1ups5GemEluC2hsKzyvNYKFGY_Slm36reyvnyY8ooEA"],"tablet_screenshot_urls":[],"description":"## Game Features<br><br>- **Exquisite Graphics:** Utilizes 2D graphics technology for a fresh and natural look.<br>- **Realistic Fishing Experience:** Includes realistic fishing actions such as charging, casting, and reeling in.<br><br>- **Various Fish Species:** Small fish, medium fish, large fish, and special fish; different fish have different score values.<br><br>- **Level System:** Multiple levels await your challenge, each with different target scores and time limits.<br><br>- **Character Customization:** Supports multiple character color options (blue, red, yellow).<br><br>- **Sound Effects System:** Complete game sound effects enhance the gaming experience.<br><br>- **Leaderboard System:** Records your highest score and allows you to compete with friends.<br><br>## Gameplay<br><br>### Basic Controls<br><br>1. **Charging and Casting:**<br><br>- Click the \"Cast\" button to start charging.<br><br>- The charge bar will swing back and forth; choose the right time to release.<br><br>- The fuller the charge, the farther the cast.<br><br>2. **Depth Control:**<br><br>- Use the \"+\" and \"-\" buttons to adjust the hook depth.<br><br>- Different fish species are found at different depths.<br><br>- Finding areas with dense fish populations makes it easier to catch fish.<br><br>3. **Reeling in**:<br><br>- Click the \"Reel in\" button to reel in the hook.<br><br>- If you catch a fish, it will be automatically added to your catch.<br><br>- Be mindful of the time limit and allocate your time wisely.<br><br>### Fish System<br><br>- **Small Fish**: 1 point, most common, easy to catch.<br><br>- **Medium Fish**: 5 points, medium difficulty, requires some skill.<br><br>- **Large Fish**: 10 points, harder to catch, requires precise depth control.<br><br>- **Special Fish**: 20 points, very rare, requires a combination of luck and skill.<br><br>### Game Mechanics<br><br>- **Time Limit**: Each level has a time limit; you need to reach the target score within the specified time.<br><br>- **Target Score**: Each level has a different target score requirement.<br><br>- **Coin System**: Catching fish earns coins, which can be used to purchase items and upgrade equipment.<br><br>- **Item System:** Various items in the game can help you fish more effectively.<br><br>## Character System<br><br>The game offers three different colored characters to choose from:<br><br>- **Blue Character:** Classic color scheme, suitable for novice players.<br><br>- **Red Character:** Passionate color scheme, full of energy.<br><br>- **Yellow Character:** Bright color scheme, giving a warm feeling.","subtitle":"","promo_text":"","permissions":{"Photos/Media/Files":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Storage":["read the contents of your USB storage","modify or delete the contents of your USB storage"],"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","control vibration","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.oopx.FallMCandy","canonical_country":"US","name":"FallMCandy","publisher_name":"WUNINGTAN NETWORK","publisher_id":"WUNINGTAN+NETWORK","humanized_name":"FallMCandy","icon_url":"https://play-lh.googleusercontent.com/itP3iAQVobhsJG3DWiKwJY1oob7HdaxPnPPsiInsL3pFaG86LDMV232X4ZZ_IPO2hPwQHaEDuf5mBvUAiF_goi4=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.oopx.FallMCandy","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/wuningtan-network/app/fallmcandy/com.oopx.FallMCandy/","publisher_profile_url":"/publisher/android/WUNINGTAN+NETWORK","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"10.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.oopx.FallMCandy","support_url":"https://sites.google.com/view/fallmcandy/home","website_url":"https://sites.google.com/view/fallmcandy/home","privacy_policy_url":"https://sites.google.com/view/fallmcandy/home","eula_url":null,"publisher_email":"janschultz17@gmail.com","publisher_address":"中国\n陕西省西安市\n西咸新区空港新城北杜街道办北杜北街53号\n邮政编码: 710000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/9u8H-IOLMF4WwYo-dReXWDuoQPGfw-asAQSx3WFDfZXVFMwzoO4Phap850l8IRe7uvsDvZr1MOmf3M075I81-A","short_description":"This is a casual game","advisories":null,"content_rating":"Everyone","unified_app_id":"695701b943283ae1f585b1ba","screenshot_urls":["https://play-lh.googleusercontent.com/MvV-5kUkcqKyohfMI4JUM10wH_fe1GQ1ih3MLsxxn8kPLanzjHnXpvRCRWrF1FiplrFsZ8SWlJ3NNXcItYTPcR4","https://play-lh.googleusercontent.com/VkGdsD7PHUBArel1Jcw3eKl9TRLtqmBN5SA_h7iLxpSvsXix9H5kYALNKyEDiMBrBCO12q_tGtkRUkFv6yhM","https://play-lh.googleusercontent.com/f6gs_MwwwnDQ55N4kuGL9Cr9lyeiVowjfTlBXW0FEYeGAhDdvoNf-mgsX6LyYUTAE-fhcVHDGQ_RayaGAF3E","https://play-lh.googleusercontent.com/mHr6X59rWajsAHDjO5ekQV0oWgfBtDOY8S4hbKwd6YvYF24VdV96Vbys7PltSqQqZst3MaBmAcUnvUu0t8EOXA","https://play-lh.googleusercontent.com/P8mVJCa4pXzewe9WqejQBi7Dv3u5Z_t7YN31ky3GFJxVwgfkSEp3DKXET3e4oq95fXH9fiaO0Z7T-iOpkNrLLg"],"tablet_screenshot_urls":[],"description":"Players use their fingers to manipulate a chassis to catch falling objects. The more candies you catch, the higher your score. This game fully tests players' dexterity and reaction speed. Please note that falling objects are affected by gravity.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ooxu.MaskN8","canonical_country":"US","name":"Xt7 EchoChamber","publisher_name":"WUNINGTAN NETWORK","publisher_id":"WUNINGTAN+NETWORK","humanized_name":"Xt7 EchoChamber","icon_url":"https://play-lh.googleusercontent.com/cdWQPBo_rVaXIrIle090n-0W4WShRWh_jXumTYFaz6mrs-X1jOWbOiNC_OwOdZXtiDTUhLl3ee8CzmA_q_gLXuw=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ooxu.MaskN8","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR","NG","UG"],"app_view_url":"/android/us/wuningtan-network/app/xt7-echochamber/com.ooxu.MaskN8/","publisher_profile_url":"/publisher/android/WUNINGTAN+NETWORK","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"10.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ooxu.MaskN8","support_url":"https://sites.google.com/view/maskn8/home","website_url":"https://sites.google.com/view/maskn8/home","privacy_policy_url":"https://sites.google.com/view/maskn8/home","eula_url":null,"publisher_email":"janschultz17@gmail.com","publisher_address":"中国\n陕西省西安市\n西咸新区空港新城北杜街道办北杜北街53号\n邮政编码: 710000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/Uy6ivlVkro-W423D1XeSBIK5XS4VfpQafvSsPy4-ExG8vLTidaTvSvm60MceOUi2IswOGbjF2ukgVoSmRv6Lz80","short_description":"This is a casual puzzle game","advisories":null,"content_rating":"Everyone","unified_app_id":"695701bd27e2c12404451e07","screenshot_urls":["https://play-lh.googleusercontent.com/8JamSmrqilGFePL47cp7YgG-9nc86eISGKryYEYAVLl2iEaYywCGP4zWJzg4hegx0UetcJx_bRzAYE_tSMro","https://play-lh.googleusercontent.com/a2rhh4CsTGEFHzARmbt5GP_Dqt5oyogaf2e5_4SDKt9w7bHnHTsDNHxcLl_H9WqWyOqHfoqwdUQpy5mjOChgEA","https://play-lh.googleusercontent.com/Re7jDO9NvjusQhjfxala2OkD5CMtKPO5rHoHlfvhvy-uFzSpfVjqeG2I1isT96OQ--gL9MLQZcyALhcuW7wQmA","https://play-lh.googleusercontent.com/YoC3_LINRspViV9ClIRuoQSPsLRDfjCYMWUXAPuqMbA0qCB6ldSR6m5QYfZC4cT9_3mhEVJrZKuuazEAdOfx9sQ","https://play-lh.googleusercontent.com/xDAbfbJmkWziisRXWctXvZnRh3S6BEMYwLMeRXTnLxviL329V3QnqmKNIOEinUShzLLdO0EByl3DZNEOdEZ66w","https://play-lh.googleusercontent.com/Q3mhgeJJWUUdVNELX4ui51LiwcetNd54Yfz4LTCXRPh59IWgqKx5vYMQaoTYTD5unZoB_Y0-06LVimnMw3grOVA"],"tablet_screenshot_urls":[],"description":"The game generates 5 cards. If the number 5 is turned over, it represents the joker, and the game fails. If the sum of all the numbers on the card is greater than or equal to 8, the player needs a certain strategy to pass the level.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.party.farty","canonical_country":"US","name":"Farty Party","publisher_name":"Rockers Games Studio","publisher_id":"Rockers+Games+Studio","humanized_name":"Farty Party","icon_url":"https://play-lh.googleusercontent.com/jKcXZ5KwJDiBdFmMEYTf-fn_9YAk-ucPcEnZLd2Pzimlsj57xkTX3PYSDTSwIXNYTnUBQMSv0DMkHWo28AYepQ=s150","os":"android","active":true,"url":"https://play.google.com/store/apps/details?hl=en&id=com.party.farty&gl=US","categories":["game_casual","game"],"valid_countries":["US","AU","BR","CA","CN","FR","DE","GB","JP","KR","MX","ES","IT","RU","DZ","AO","AR","AT","AZ","BH","BY","BE","BG","CL","CO","CR","HR","CY","CZ","DK","DO","EC","EG","SV","FI","GH","GR","GT","HK","HU","IN","ID","IE","IL","KZ","KE","KW","LB","LT","LU","MO","MY","MT","NL","NZ","NG","NO","OM","PK","PA","PE","PH","PL","PT","QA","RO","SA","RS","SG","SK","SI","ZA","LK","SE","CH","TW","TH","TN","TR","UA","AE","UY","UZ","VE","VN","BO","KH","EE","LV","NI","PY","GE","IQ","LY","MA","MZ","MM","YE"],"top_countries":[],"app_view_url":"/android/us/rockers-games-studio/app/farty-party/com.party.farty/","publisher_profile_url":"/publisher/android/Rockers+Games+Studio","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-10T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.party.farty","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/rockersgamesstudio/privacy-policy","eula_url":null,"publisher_email":"rockersgamestudio@gmail.com","publisher_address":"Italy","publisher_country":"Italy","feature_graphic":"https://play-lh.googleusercontent.com/u4TmVLa5_HKwnO2jo17o0xNQl8QDMq4DSTBftD6qcUS5_cwiE7jTPYkB6CEG0zeW-xmyJarLgQtxmgCDKd3etw","short_description":"Fart soundboard with hilarious sounds for pranks and laughs with friends","advisories":null,"content_rating":"Everyone","unified_app_id":"696715cf0668eded1d24df93","screenshot_urls":["https://play-lh.googleusercontent.com/nRoOU-5A0xXPxKbqhlKSltO-mZYFXur7t3OZGsOYHt2V9MwinW_JkF8r-FmK3qldYeZhp8gbX12w2rs4pas","https://play-lh.googleusercontent.com/07jk63ZGlCBqAqqeEI4q4BYNX9SbFFC0kQ52SSKk5FabHmodVPgyBI374Vsn5dZEgFs_V_984S1iChTli9XK","https://play-lh.googleusercontent.com/Y2-6tFKEekM_llEw5p9xEf70NFphQXixJSEaTazfRPWcI2vyDQYHys8OotSiEahbVa4u599wKMehc4liY9cOtQ","https://play-lh.googleusercontent.com/ZpjvafdhqOhqqRT3Gg8GHfi9wjV1p3JV1to61JPsnpzwQgvEqj9Ft0cJdM6S2_6XNw3FcfzC_IYg2wApE6ABkGY","https://play-lh.googleusercontent.com/5oCHy6Qavdab3ZxuKIVQGqXL0O0nl7b58nK9mOzSILFFKdtUb4DIgQxB4wKOPei_hJk7kB5ltSQGLvjDhwiY6Q","https://play-lh.googleusercontent.com/nRoOU-5A0xXPxKbqhlKSltO-mZYFXur7t3OZGsOYHt2V9MwinW_JkF8r-FmK3qldYeZhp8gbX12w2rs4pas","https://play-lh.googleusercontent.com/07jk63ZGlCBqAqqeEI4q4BYNX9SbFFC0kQ52SSKk5FabHmodVPgyBI374Vsn5dZEgFs_V_984S1iChTli9XK","https://play-lh.googleusercontent.com/ZpjvafdhqOhqqRT3Gg8GHfi9wjV1p3JV1to61JPsnpzwQgvEqj9Ft0cJdM6S2_6XNw3FcfzC_IYg2wApE6ABkGY","https://play-lh.googleusercontent.com/Y2-6tFKEekM_llEw5p9xEf70NFphQXixJSEaTazfRPWcI2vyDQYHys8OotSiEahbVa4u599wKMehc4liY9cOtQ","https://play-lh.googleusercontent.com/5oCHy6Qavdab3ZxuKIVQGqXL0O0nl7b58nK9mOzSILFFKdtUb4DIgQxB4wKOPei_hJk7kB5ltSQGLvjDhwiY6Q","https://play-lh.googleusercontent.com/cGA0wDyLKqOGRSxuhI1eGHdHI30_rHIYf7LMfDCUk_yg2y_cHJssoZV62_rVYvLbaEJ6P0zHhykMo7foHQHBKw","https://play-lh.googleusercontent.com/NoZaegbnYXW6cZvnULGEAiOlo7HNuym16urA4KJa6AYtNX0FsPD_BsJapUAhpjrsVeyxnyPjYAEd2GBw84Gf"],"tablet_screenshot_urls":[],"description":"Fart sounds galore! Farty Party is the ultimate fart soundboard packed with dozens of realistic and hilarious fart sound effects for endless pranks and laughs. Download it and Have fun!!!","subtitle":"","promo_text":"","permissions":{"Other":["full network access","control vibration"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.piujzwnea.jigsawsweep","canonical_country":"US","name":"JigsawSweep","publisher_name":"DEVVVS 0040","publisher_id":"DEVVVS+0040","humanized_name":"JigsawSweep","icon_url":"https://play-lh.googleusercontent.com/O7RZ_b-8cODCohPQSsiBQC15DbCqesz3VK3-vXscfvuMZZApMnMAwM75AlMMlZsFx9A3CI7YdWgSPM5TEk3o1w=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.piujzwnea.jigsawsweep","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/devvvs-0040/app/jigsawsweep/com.piujzwnea.jigsawsweep/","publisher_profile_url":"/publisher/android/DEVVVS+0040","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.2","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.piujzwnea.jigsawsweep","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/privacypolicyfordevvvs0040/home","eula_url":null,"publisher_email":"fajar.kurniansyah30@gmail.com","publisher_address":"Indonesia","publisher_country":"Indonesia","feature_graphic":"https://play-lh.googleusercontent.com/jmszCy9S1xMO3tLUQu_9R1SBoUTpZqRVDP-w6lBr9wMUpTjFR2jQbG3YgxgziWLPvN5cgedaojCL8WWbDS2JW58","short_description":"Piece by Piece, Clear the Way","advisories":null,"content_rating":"Everyone","unified_app_id":"69570e6867bda8dbc1ea7c95","screenshot_urls":["https://play-lh.googleusercontent.com/FQDfEyRDRNFznP08iinb4ToUnLaTqTkaAdFzK-D-It6KEht1eySeJymuxtt-pdmRBFmXRWuF-YDzQPaWrvoyeA","https://play-lh.googleusercontent.com/tHLra2p0qbHx7ynx9bmdKnsuifqmu_i59_PyveNLTyNhbZ6QAAXo1L3sDwlT1M-OVa4IoFl0Yek3NotZ5rSVeqo","https://play-lh.googleusercontent.com/VHvwGrs73wXYrA4ZxGnOHI2EyfEgIlxMW-Jyrl9uy2bOenJSHl9LxyZtHyKqkDjHDcqr6yr8yewa2kVz5jVTHA","https://play-lh.googleusercontent.com/VlNskXYG4kvu0C1GnKWqzd3aU_0QjfvTc0e2zi0CYkF147fv5DlL-aDIFVtPzZmi_sWdlc5CS9WePjgNcyOnuw"],"tablet_screenshot_urls":[],"description":"JigsawSweep combines classic puzzle assembly with careful exploration gameplay. Each session encourages thoughtful moves and relaxed problem-solving in a clean, simple layout.<br>Designed as a small and enjoyable mini game, it offers gentle challenges without complexity. Perfect for players who enjoy calm puzzles and steady progress during short play sessions.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","control vibration","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.popuuy.Colors","canonical_country":"US","name":"Xt7 DreamCascade","publisher_name":"HUANG BO","publisher_id":"HUANG+BO","humanized_name":"Xt7 DreamCascade","icon_url":"https://play-lh.googleusercontent.com/1gaB7dMAtvkZAG1DEYImGLHtZPhASlJELCza_jg2UEhvQaCb495uC9E08HJ4XgxBqqe1g9094VBKrtxKAORE=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.popuuy.Colors","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/huang-bo/app/xt7-dreamcascade/com.popuuy.Colors/","publisher_profile_url":"/publisher/android/HUANG+BO","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"101.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.popuuy.Colors","support_url":"https://sites.google.com/view/colors-pop1/home","website_url":"https://sites.google.com/view/colors-pop1/home","privacy_policy_url":"https://sites.google.com/view/colors-pop1/home","eula_url":null,"publisher_email":"williamsoto199742@gmail.com","publisher_address":"中国\n安徽省芜湖市\n无为市无城镇湖滨小区12栋2单元501\n邮政编码: 241000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/cSedjW-l7JuRJFsQVoG-pDa6l5qDYucS7YYoVF49MqUPoK1ZjG947JfkdyxnWiHMm0B5gSzsECysRtRVxwuCPV0","short_description":"This is a casual puzzle game","advisories":null,"content_rating":"Everyone","unified_app_id":"6957020e67bda8f269c87fb3","screenshot_urls":["https://play-lh.googleusercontent.com/9rSe5iXvGugnotn-nS46ug-Tr1ieIWXZKDGOEOHUTtMlQwfoc6VUj565F79WNvaHYYX_CVu436oYA-NdWmLCU1g","https://play-lh.googleusercontent.com/pO03sRB7WYjf7y0xTQk0wnMTzkQRIgvwpYCxfBLn6-KNYWd_XgJw-YOHxIHCQJPFGDExQPeDKBa917vTMPPH","https://play-lh.googleusercontent.com/jYsUvWvq7DqNt3-UnTU4jFETLtUBn2QFDSKTOEB0zmwsHzdUDhYFBPPxlKBRhsEuRNEgSU97qga8wUSLE3o_Upk","https://play-lh.googleusercontent.com/A6r5HjJM46WSe5Wq0kRCjtpDaMfxTkY2LMPzb87qLIbBUUlS2Cx51ACkhwsUi1oQryDPok9g3i8PYGnppTL9","https://play-lh.googleusercontent.com/zAIHAa7XjeuxE3Y-bSXKDlKuyOCnp1AqZr1Z_ooDhmRM3zhmuynXn5zjSZiur5aOWxmt8iZdjy7g8pPrNFXa58k","https://play-lh.googleusercontent.com/sz8kVGjvK3qLdEX6_ErvwZlX5bo6T15I6ZT2kCoJTM7F322YocAQnBGWySvrr1plIDwbAHW552yDHXmiI5tcDw"],"tablet_screenshot_urls":[],"description":"This is a casual puzzle game. Players can get points by selecting the corresponding color blocks according to the prompts within the specified time. The game is won when you reach 15 points. Try to see how many points you can get.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.ppox.ConColor","canonical_country":"US","name":"ConColor","publisher_name":"WUNINGTAN NETWORK","publisher_id":"WUNINGTAN+NETWORK","humanized_name":"ConColor","icon_url":"https://play-lh.googleusercontent.com/r54XkxwnpsaqPvWpFADxDxW00385WGmL1BkZ3-Y1tL3k7ilw1RpBGbWG4_03VIzL5HtToECowBklc9ZG5lny=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.ppox.ConColor","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/wuningtan-network/app/concolor/com.ppox.ConColor/","publisher_profile_url":"/publisher/android/WUNINGTAN+NETWORK","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"10.0.0","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.ppox.ConColor","support_url":"https://sites.google.com/view/concolor1/home","website_url":"https://sites.google.com/view/concolor1/home","privacy_policy_url":"https://sites.google.com/view/concolor1/home","eula_url":null,"publisher_email":"janschultz17@gmail.com","publisher_address":"中国\n陕西省西安市\n西咸新区空港新城北杜街道办北杜北街53号\n邮政编码: 710000","publisher_country":"China","feature_graphic":"https://play-lh.googleusercontent.com/Tck4I1N8h1y8em8W2TlOr4uyPZ2WRwPQYT_V98obhZQWvnumDv2IqUKhf09zASSKV-QPp4bKEX5vKK_SyUuqDtk","short_description":"This is a matching elimination game","advisories":null,"content_rating":"Everyone","unified_app_id":"6954a11830c0bd76d0620809","screenshot_urls":["https://play-lh.googleusercontent.com/R0qEhh9upXKUKrm1tkbxUghzVaUv0nViXLtjwjIgi8AKNJVz-hjp0A-lysVYXaPgmdkX6MbbPb6tc55O1FtdBvw","https://play-lh.googleusercontent.com/ZrZ72EiP5zxh8ua7hJtYDF6eljzEGAPR-nyNTsuDY928vbJ5iS6LeqDomNOLBRreSNQomqhbcukT-rxjfvbRQp0","https://play-lh.googleusercontent.com/3LEZ51KqB2Cy5igT2Puh-1h64nvi1063OQiNDolM6q5Ay498b6en9o3VKd5nOz34xmvYTJ6AZ_Bc7NBEdmWY5P4","https://play-lh.googleusercontent.com/huiHcuSYWjH6a57lJlzoDX5rCWEelqaTUCyYnjhZu4oGZ8P-6v9rU76OtqIG4W3LECElD7cS5G4mY3kDDJ9_WA","https://play-lh.googleusercontent.com/tuGk336TIA1t_NFAcelYSfJuo6C2FybLFi-uTwEQQ_yI8gKMnEUdksslWEALnqQ1rEUB2cIYfH5CYFXSY9RJ","https://play-lh.googleusercontent.com/Z8MeL5Mc9RERKMonNDlOwUMsgumLVfU1HaYpbUbWWQ_KbHE-UVDJ1doWBzcMXmprQGBlcmaoWf2Tyvv7os9tPw"],"tablet_screenshot_urls":[],"description":"In this color matching puzzle game, click on balls of the same color to remove them and get points. The more colors you remove at once, the higher your score. Keep playing until you can't move anymore. It's easy to play and fun.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","change network connectivity","connect and disconnect from Wi-Fi","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.rgg.snakefeast","canonical_country":"US","name":"Snake Feast","publisher_name":"Renflair Technologies","publisher_id":"Renflair+Technologies","humanized_name":"Snake Feast","icon_url":"https://play-lh.googleusercontent.com/HpZFBvodi3TZ7FWH-4VQLl_tSWp48sSJkY3fvUi4E-q02yovuQhANCqzl1V2-fKGZH2Huzqq86Hf6Lur_qeblA=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.rgg.snakefeast","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/renflair-technologies/app/snake-feast/com.rgg.snakefeast/","publisher_profile_url":"/publisher/android/Renflair+Technologies","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.5","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.rgg.snakefeast","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/snakefeast/home","eula_url":null,"publisher_email":"mithumistri6060@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/E4JS7QvXyZkoNvgym8r2_UqmF69NzjuBz0BCPhvouje5Axl1WrXj0XtS4OtuMOwdPRwTYEyDIr8qMnr6vEg","short_description":"Can you set a new high score?","advisories":null,"content_rating":"Everyone","unified_app_id":"6954a3af1960c9207381c5aa","screenshot_urls":["https://play-lh.googleusercontent.com/hAT7LbW9UTQ8b4BYH1saIxUOihYPY8duam-0gsjYdL_-Yx90f0507FEwYsoq9wnTwrh9tcPX7skhFHt0QpQRLQ","https://play-lh.googleusercontent.com/wVFFz-RNHnkLD4IgPt7_7QquNSWsglDsMwL5i9Esag6JZl-dqf3TOXxk0CJ5NeHPuE6zaHqikDk964W8rBA3vw","https://play-lh.googleusercontent.com/NTGQ4JJTIYG6Tm_agrRl8MyXet8rNP22bDH59IG4CTRIHA2cUdFBmfbikvwSOqculg_orTkpxW9-6pZZi9SEXQ","https://play-lh.googleusercontent.com/DIPxxZNltvvSal3q1O-6pmhDFTYRM2FS6jj-SrPzWpvglJeJMPT1gtRaQVu5PVBlVuWxdDjTlCdDMUoh1sWkbw","https://play-lh.googleusercontent.com/xVS8iUC0MjRi7VDSVN6rNz_twpA3igDSLhGnrfgGHH_AlU4KypHGsRY8n_5h6zmpPLaH8B_l6Vsx1EI-owOUeS4","https://play-lh.googleusercontent.com/L8P5Y0EETy_WB1wUvBKud6col2A8jGSWvJoFxeVohAPJ9fVdgWdCJXn_hNaSc4gj6BPvUvO6AnpMliS_23w"],"tablet_screenshot_urls":[],"description":"Enjoy the timeless snake gameplay. Eat as many balls as possible to grow your snake without limits. Stay away from walls and your own tail. Can you set a new high score?","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.rzej.bonedodger","canonical_country":"US","name":"Bone Dodger","publisher_name":"47 APPS","publisher_id":"47+APPS","humanized_name":"Bone Dodger","icon_url":"https://play-lh.googleusercontent.com/urkyCGoEZBrqJTIPKxZGbFBu5grPNWXOU14UHEoaWem3TOjS_hBg6qqRgkZhdzURRwY41YVMok8UgsZlBY_Z=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.rzej.bonedodger","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/47-apps/app/bone-dodger/com.rzej.bonedodger/","publisher_profile_url":"/publisher/android/47+APPS","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-06T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.rzej.bonedodger","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/bone-dodger/home","eula_url":null,"publisher_email":"meaganwitting141@gmail.com","publisher_address":"Dakh khana jaglot phir roli tehsil daril tangir zil diamer\nTangir Chilas, 14151\nPakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/UlJruINkMwPfgVU-hWxwy3FbdeKq7MlaCeulOJ1Y4iSTw8spopN2eTvatA8qV8FjWawNV5cQcb1rh7PJVSPy5A","short_description":"Dodge the deadly spikes while collecting as many bones as possible.","advisories":null,"content_rating":"Everyone","unified_app_id":"695470d13392750d26a83bb4","screenshot_urls":["https://play-lh.googleusercontent.com/0COiIUtGaeHkao7Ro2E_GksV0gMuIlnRF8oXsMlGa_rghq7qH9Qt_r9QJiKV7-UGnXFJt6TQtuc0CGdcogtmxw","https://play-lh.googleusercontent.com/Ui3VCzkDR5QH7vbPcj7bgaL7HdIGQq9W6sgbp74hzMWo-Iue3P9BoRUrLkkQ0raw6QSipJ7eTvCvwe9pzBOs","https://play-lh.googleusercontent.com/Ce_JgvVpJ0V-78rPXaOp5oM-MChBhc3TK3Jrky-sHM5wjZ0IP3IkJ39pzHIYwADFJd7CPE-d8DL7m1TgpBjpvw","https://play-lh.googleusercontent.com/ArA-UnIOXWmgvB1HZkKlfTKRaUcbHZrwPClZi62vHPst0bl_1UbldruxhtSsDQ73bJmqjV-q0sIlPG0G6PU_tg"],"tablet_screenshot_urls":[],"description":"Dodge the deadly spikes while collecting as many bones as possible. One wrong move and its game over. Simple controls, challenging gameplay.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.scakccg.goosehop","canonical_country":"US","name":"Goose Hop","publisher_name":"Tech Tron","publisher_id":"Tech+Tron","humanized_name":"Goose Hop","icon_url":"https://play-lh.googleusercontent.com/pDD7MwPjHsGRmRK_AVRP0ECXDh_Qu-6Tm2zLPXjVPue_0co5XSnbS8CYiccjm9q5ja6jTaTvLb99PPVsPr9_NQ=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.scakccg.goosehop","categories":["game_casual","game"],"valid_countries":[],"top_countries":[],"app_view_url":"/android/us/tech-tron/app/goose-hop/com.scakccg.goosehop/","publisher_profile_url":"/publisher/android/Tech+Tron","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.5","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.scakccg.goosehop","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/goosehop/home","eula_url":null,"publisher_email":"muhammadhamzashakeel51@gmail.com","publisher_address":"Pakistan","publisher_country":"Pakistan","feature_graphic":"https://play-lh.googleusercontent.com/_MPVzVvRbRdz3tvKRPmal8KuhTqxkEWM7y7ZjBx8ZJEAV163ChyqVVeKphgTuCu6nJc_tMk6vOvCmH4GHcDZHw","short_description":"Experience the unique homecoming of a brave schoolgirl boxer.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954b6201deb465f253cd8f8","screenshot_urls":["https://play-lh.googleusercontent.com/kiIuKo_ucHJxLEylaLONF_Tj69_bK2jzdTf38q-uzTufNQjMgC9GppLaLpYdvWUj7DSSHA3HCbBlz5MLakxc","https://play-lh.googleusercontent.com/JWQ_qiAr6YRHWV9lum1t9p_qyGM0NStxKYQ16JL--Bmx-NzdqAPknQ498N7F-F2NWGKEO9S-69chKa4XTt6FNg","https://play-lh.googleusercontent.com/K5JlFGCzgTZjblxSlXP3wmEUU5PAmnxCdGgmkZEamGkVTMZq2xJXbXicq1ZYcBVKTdr2ZLjC18NOPWsyWY9NTg","https://play-lh.googleusercontent.com/dzK8SVWtC6hjOgLgDZZcbi0aUMiCXiHvi4hWVopYvZ4fQrAKFYCbdBQFfpohxvE-tCXqLP4ziZeWjoQWjHw"],"tablet_screenshot_urls":[],"description":"Experience the unique homecoming of a brave schoolgirl boxer. Jump from one goose to another in this exciting endless runner. Master the art of flight and never fall!","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.sct.alienpunch","canonical_country":"US","name":"Alien Punch","publisher_name":"Renflair Technologies","publisher_id":"Renflair+Technologies","humanized_name":"Alien Punch","icon_url":"https://play-lh.googleusercontent.com/QRgknUYFxVFtTkB7rq4d82EtKha5sCC3qS8kCdc-i9QmeQimRD3VgXRKyqqqpWrSogPfzBhceMxYYEjRQVPCdg=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.sct.alienpunch","categories":["game_casual","game"],"valid_countries":[],"top_countries":["BR"],"app_view_url":"/android/us/renflair-technologies/app/alien-punch/com.sct.alienpunch/","publisher_profile_url":"/publisher/android/Renflair+Technologies","release_date":"2025-12-29T00:00:00Z","updated_date":null,"in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"1.1","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.sct.alienpunch","support_url":null,"website_url":null,"privacy_policy_url":"https://sites.google.com/view/alien-punch/home","eula_url":null,"publisher_email":"mithumistri6060@gmail.com","publisher_address":"India","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/fcyJLgPfhbxsWkngwyInlJ4KryjT709bXqzfYhnzAawyKX7aT0YtjQJhRVPiOSB2b0WefRS-E5owMrf_msf6ag","short_description":"Perfect for quick breaks to clear your mind and boost your mood.","advisories":null,"content_rating":"Everyone","unified_app_id":"6954c0d80366184e146d7cc7","screenshot_urls":["https://play-lh.googleusercontent.com/LcKHZ6y5N_dQeXmqAKr1rkYFwpeOrldPs55KtgdFLULpSp5Z29v8q1cZcxEyZmkCivplY1Iq_REPI94gpbTm7Q","https://play-lh.googleusercontent.com/0LPfsBlMTSvk70JTC_PmJ0jCPhM-YEgVdmtepNnp_w0--fwGEtoeZOmQECQsQfHCE3glEROqAXdNnYljtLX8Qw","https://play-lh.googleusercontent.com/9BT6e9UBvAbuiDyihBIFjtUdEDH4-gD4g8C_IfgK3w2j-U3atJ8ZX5fwb9SXwbpd9pE_jH6HI5_KqtxG5yIIGNc","https://play-lh.googleusercontent.com/P2iICzoPBZnXN1mswmM2YoxOoLMcmf1xRKZe8s64_fN1KwdhMc4gCI11qNZsG7l6KkDhDVX4UL_-7vvLkivqdg","https://play-lh.googleusercontent.com/6bnjEBmHp2PwF0tJOuwZ-DgotmpvZsloILaolxCxeiTiXLZvOGoWalXCmFG-dGzwCATyEet_LuX9iH_YU1ukOyg","https://play-lh.googleusercontent.com/oGL1AkjCXfOKQj5aeB6vXhr1bnWu0j5SJMemsK2jveC7Rp6WuC1W6LyR4MBRln2NI8YUGT18axW_rq6jLMeJ"],"tablet_screenshot_urls":[],"description":"Release your stress by punching aliens in this satisfying stress-relief game. Transform your frustrations into fun as you take down each alien opponent. Perfect for quick breaks to clear your mind and boost your mood.","subtitle":"","promo_text":"","permissions":{"Wi-Fi connection information":["view Wi-Fi connections"],"Other":["view network connections","full network access","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"},{"app_id":"com.sl0t.fix22","canonical_country":"US","name":"RPRRTea Merge","publisher_name":"SHREE BALAJI ASHIYANA","publisher_id":"SHREE+BALAJI+ASHIYANA","humanized_name":"RPRRTea Merge","icon_url":"https://play-lh.googleusercontent.com/i3Y-GvVWpUmVr-_vqWQFtCMyF-8khVDAli0ZpKQgrY19owDdL7F2Lqfpf2oUDhxgqusnpvzg1i60b4EJ_R2q=s150","os":"android","active":false,"url":"https://play.google.com/store/apps/details?hl=en&id=com.sl0t.fix22","categories":["game_casual","game"],"valid_countries":[],"top_countries":["ID"],"app_view_url":"/android/us/shree-balaji-ashiyana/app/rprrtea-merge/com.sl0t.fix22/","publisher_profile_url":"/publisher/android/SHREE+BALAJI+ASHIYANA","release_date":"2025-12-29T00:00:00Z","updated_date":"2026-01-03T00:00:00Z","in_app_purchases":"","rating":null,"price":0,"global_rating_count":0,"rating_count":0,"rating_count_for_current_version":0,"rating_for_current_version":null,"version":"101","apple_watch_enabled":null,"imessage_enabled":null,"imessage_icon":null,"humanized_worldwide_last_month_downloads":{"downloads":1000,"downloads_rounded":5,"prefix":"< ","string":"< 5k","units":"k"},"humanized_worldwide_last_month_revenue":{"prefix":"< $","revenue":1000,"revenue_rounded":5,"string":"< $5k","units":"k"},"bundle_id":"com.sl0t.fix22","support_url":"https://ads001-449c4.web.app/","website_url":"https://ads001-449c4.web.app/","privacy_policy_url":"https://www.freeprivacypolicy.com/live/89d20432-f984-430a-b5f8-50df9ad9bc4c","eula_url":null,"publisher_email":"jobElmqe@gmail.com","publisher_address":"12/149, Nawal Ganj Nunhai Yamuna Bridge\nAgra, Uttar Pradesh 282006\nIndia","publisher_country":"India","feature_graphic":"https://play-lh.googleusercontent.com/_ysvXSX4_tDX1fL4M5OEGMFKjE8wFNSa4GzdvM5V0elVgjre7c0DPpWQUyNGr7r2x9AWVF34kT8khbToPaVOqw","short_description":"A calm strategy game where you grow and merge plants to brew fine teas and relax","advisories":null,"content_rating":"Everyone","unified_app_id":"6957099943283ae67d38ceec","screenshot_urls":["https://play-lh.googleusercontent.com/p8n-HmnD7okIsCe8pZwKZihlu2WrHaVgjue66EiGI31O6ECywIIeMMu7qNkmzDp5GjAJWeEPfSWbjTP_hX7m","https://play-lh.googleusercontent.com/0F5SDLZotkirEoAVpmJ5Fh-KfRbRcMuYs0xIUPAk6Ga6lbLDIPslBWD_a04FHqGKhVaKvlc6JFuU23BMisOX14A","https://play-lh.googleusercontent.com/ss85iEBr7F80h64Jc--3BZT7yQjfxWAF-nToQFZfq2wHFzPiSqhzgedLdTN_PwZEM3FwTK879N4SpmBt3ykTXA"],"tablet_screenshot_urls":[],"description":"A calm strategy game where you grow and merge plants to brew fine teas and relax.","subtitle":"","promo_text":"","permissions":{"Other":["view network connections","full network access","run at startup","prevent device from sleeping","Google Play license check"]},"supported_languages":[],"country_release_date":"2025-12-29T00:00:00Z"}]},"os":"android"},"pairedItem":{"item":0}}]},"versionId":"506946fe-6c8e-4f9a-ad0f-edc4d984a886","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T11:00:32.964Z","createdAt":"2026-01-07T11:00:32.964Z","role":"workflow:owner","workflowId":"z9cXrG6cJnhYbveI","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}