[unified]-category-processor-jz1klCNrLUMNqrIx.json
{"updatedAt":"2026-03-19T05:07:28.825Z","createdAt":"2026-01-09T07:09:54.386Z","id":"jz1klCNrLUMNqrIx","name":"[Unified] Category Processor","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,-96],"id":"54d2243e-a466-40f4-9efb-60eda163a343","name":"When Executed by Orchestrator"},{"parameters":{"assignments":{"assignments":[{"id":"category_id","name":"category_id","value":"={{ $json.category_id }}","type":"string"},{"id":"os","name":"os","value":"={{ $('When Executed by Orchestrator').item.json.os }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-96],"id":"d6efe696-695f-4cbf-8ade-814cba529399","name":"Extract Parameters"},{"parameters":{"jsCode":"// Create lookback periods for this category\nconst category_id = $json.category_id;\nconst os = $json.os;\n\nconst lookbacks = [3, 15, 30];  // Add 60 days!\n\nreturn lookbacks.map(days => ({\n  json: {\n    category_id,\n    os,\n    days\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-80],"id":"95d926da-92c0-49d1-bdbb-ddae2b320e8f","name":"Prepare Lookbacks"},{"parameters":{"url":"=https://api.sensortower.com/v1/{{ $json.os }}/apps/app_ids","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"category\": \"{{ $json.category_id }}\",\n  \"start_date\": \"{{ $now.toUTC().minus($json.days, 'day').toFormat('yyyy-MM-dd') }}\",\n  \"limit\": 1500\n}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,-80],"id":"db0eefa4-c111-438b-8870-4edd45a1d658","name":"Fetch App IDs (Per Lookback)","credentials":{"httpHeaderAuth":{"id":"qSScrl4qVobAmpZW","name":"SSTW_other"}}},{"parameters":{"jsCode":"// Merge and deduplicate all IDs from all lookback periods\nlet allIds = [];\nconst os = $('Extract Parameters').first().json.os;\n\nfor (const item of $input.all()) {\n  if (item.json.ids) {\n    allIds.push(...item.json.ids);\n  }\n}\n\n// Deduplicate\nconst uniqueIds = [...new Set(allIds)];\n\nreturn uniqueIds.map(id => ({\n  json: {\n    game_id: id,\n    os: os\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,-80],"id":"46da207e-cdb7-4b47-9887-be07b44fbdff","name":"Merge & Deduplicate IDs"},{"parameters":{"workflowId":{"__rl":true,"value":"K909Jstj4EuX0hhl","mode":"list","cachedResultUrl":"/workflow/K909Jstj4EuX0hhl","cachedResultName":"Production — [Unified] Batch Processor"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1360,-16],"id":"2011a5f0-a4a1-473e-b6de-d66f6923b683","name":"Call Batch Processor"},{"parameters":{"documentId":{"__rl":true,"value":"15J_ENHIKsGJV3ipyIAzM92pK5P6nms8QiOH-hQnQRGQ","mode":"list","cachedResultName":"Data from API SensorTower","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15J_ENHIKsGJV3ipyIAzM92pK5P6nms8QiOH-hQnQRGQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2095792676,"mode":"list","cachedResultName":"Document","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15J_ENHIKsGJV3ipyIAzM92pK5P6nms8QiOH-hQnQRGQ/edit#gid=2095792676"},"filtersUI":{"values":[{"lookupColumn":"platform","lookupValue":"={{ $json.os }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-352,-96],"id":"4ecf3a0c-d48f-477a-ba4e-7bf16727fb95","name":"Reference Sheet1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-96],"id":"a4655df9-1f8b-46f1-a6ab-41f1a35205ca","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7cb60aad-6f6e-4ddf-a7ac-890aadfa1095","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,-80],"id":"4b249ccf-f077-42a3-922c-696cec8ce361","name":"If"}],"connections":{"When Executed by Orchestrator":{"main":[[{"node":"Reference Sheet1","type":"main","index":0}]]},"Extract Parameters":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare Lookbacks":{"main":[[{"node":"Fetch App IDs (Per Lookback)","type":"main","index":0}]]},"Fetch App IDs (Per Lookback)":{"main":[[{"node":"Merge & Deduplicate IDs","type":"main","index":0}]]},"Merge & Deduplicate IDs":{"main":[[{"node":"If","type":"main","index":0}]]},"Reference Sheet1":{"main":[[{"node":"Extract Parameters","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare Lookbacks","type":"main","index":0}]]},"If":{"main":[[{"node":"Call Batch Processor","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Call Batch Processor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Orchestrator":[{"json":{"os":"ios"},"pairedItem":{"item":0}}]},"versionId":"c1d2b432-8ae5-434e-a409-2b29c917642f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T07:09:54.390Z","createdAt":"2026-01-09T07:09:54.390Z","role":"workflow:owner","workflowId":"jz1klCNrLUMNqrIx","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}