[unified]-developer-account-07JCV0TlUMrNcpZG.json
{"updatedAt":"2026-03-19T05:08:19.051Z","createdAt":"2026-01-07T11:03:09.650Z","id":"07JCV0TlUMrNcpZG","name":"[Unified] Developer Account","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,-112],"id":"93cd7935-0af2-42d6-9292-51eab6dfca22","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"publisher_id","name":"publisher_id","value":"={{ $json.publisher_id || $json.body?.publisher_id }}","type":"string"},{"id":"os","name":"os","value":"={{ $json.os || $json.platform }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-112],"id":"7e6832f5-9d62-4b17-97ca-e96d2e7dce73","name":"Extract Publisher Data"},{"parameters":{"operation":"executeQuery","query":"-- SQL-based check: only query the specific publisher we need\nSELECT id, developer_name, unified_publisher_id, platform, modified_date\nFROM developer\nWHERE id = $1;","options":{"queryReplacement":"={{ $json.publisher_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-240],"id":"d2c1475d-6825-4579-8b94-1ad9928a4512","name":"SQL Check - Publisher Exists?","alwaysOutputData":true,"credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{"url":"https://api.sensortower.com/v1/unified/publishers","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ JSON.stringify({ publisher_id_type: $json.os === 'ios' ? 'itunes' : 'android', publisher_ids: $json.publisher_id}) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-80],"id":"ee1daac2-4621-4106-944b-834c26371145","name":"Get Unified Publisher Info","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"httpQueryAuth":{"id":"zEQ5QCMKTBEGTyX2","name":"Query Auth account"}}},{"parameters":{"jsCode":"// Parse unified publisher response\nconst publishers = $json.publishers || [];\nconst result = [];\n\nfor (const pub of publishers) {\n  const base = {\n    unified_publisher_id: pub.unified_publisher_id,\n    company_name: pub.unified_publisher_name\n  };\n\n  // iTunes (iOS)\n  for (const itunes of pub.itunes_publishers || []) {\n    result.push({\n      json: {\n        ...base,\n        publisher_id: itunes.publisher_id.toString(),\n        platform: \"iOS\"\n      }\n    });\n  }\n\n  // Android\n  for (const android of pub.android_publishers || []) {\n    result.push({\n      json: {\n        ...base,\n        publisher_id: android.publisher_id.toString(),\n        platform: \"Android\"\n      }\n    });\n  }\n}\n\nreturn result.length > 0 ? result : [{\n  json: {\n    publisher_id: $('Extract Publisher Data').item.json.publisher_id,\n    platform: $('Extract Publisher Data').item.json.os,\n    unified_publisher_id: 'N/A',\n    company_name: 'Unknown'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-80],"id":"65ffc28f-73d9-4e82-aea8-d527d9baa7a3","name":"Parse Unified Publisher Data"},{"parameters":{"url":"=https://api.sensortower.com/v1/{{ $json.platform === 'iOS' ? 'ios' : 'android' }}/publisher/publisher_apps","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"publisher_id","value":"={{ $json.publisher_id }}"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-80],"id":"16cda515-4c95-454e-a232-9da71bf3a863","name":"Get Publisher Apps (for name)","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"httpHeaderAuth":{"id":"qSScrl4qVobAmpZW","name":"SSTW_other"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"developer","mode":"list","cachedResultName":"developer"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items').item.json.publisher_id }}","developer_name":"={{ $json.publisher_name || $('Loop Over Items').item.json.publisher_id}}","developer_link":"={{ \n  $json.os === \"ios\"\n    ? \"https://apps.apple.com/us/developer/id\" + $json.publisher_id\n    : $json.os === \"android\"\n      ? \"https://play.google.com/store/apps/developer?id=\" + $json.publisher_id\n      : \"\"\n}}","dev_company":"={{ $('Parse Unified Publisher Data').item.json.company_name }}","platform":"={{ $json.os }}","modified_date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","country":"={{ $json.publisher_country || $json.canonical_country}}","unified_publisher_id":"={{ $('Parse Unified Publisher Data').item.json.unified_publisher_id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"developer_name","displayName":"developer_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"unified_publisher_id","displayName":"unified_publisher_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"developer_link","displayName":"developer_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"dev_company","displayName":"dev_company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"input_tagging","displayName":"input_tagging","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false,"removed":true},{"id":"modified_date","displayName":"modified_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1744,-80],"id":"6c0f3130-e0fc-496e-b247-35fd505e8f19","name":"Bulk Upsert Developer","credentials":{"postgres":{"id":"KBZC0RGIJsc8d7GK","name":"Production - Signal Sense"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-416,-304],"id":"28306401-1ec4-495a-901f-09268f136a87","name":"Error Trigger"},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{ JSON.stringify({\n  cardsV2: [{\n    cardId: 'dev-error-card',\n    card: {\n      header: {\n        title: 'DEVELOPER ACCOUNT ERROR 🚨',\n        subtitle: `${$json.workflow.name} - ${$now.format('HH:mm')}`\n      },\n      sections: [{\n        widgets: [\n          {\n            decoratedText: {\n              topLabel: 'Last Node',\n              text: `<b>${$json.execution.lastNodeExecuted}</b>`\n            }\n          },\n          {\n            decoratedText: {\n              topLabel: 'Error',\n              text: $json.execution.error.message\n            }\n          },\n          {\n            buttonList: {\n              buttons: [{\n                text: 'View Details',\n                onClick: { openLink: { url: $json.execution.url } }\n              }]\n            }\n          }\n        ]\n      }]\n    }\n  }]\n}) }}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[-208,-304],"id":"90a1b882-f5f5-4269-aece-71a1c2d7756a","name":"Error Notification","webhookId":"a8719428-d94f-4d09-a4c0-42bf3e7c11d2","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"id","field2":"publisher_id"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[464,-176],"id":"24c8fb21-37c2-4c6c-9f49-6eac379aa246","name":"Compare Datasets"},{"parameters":{"jsCode":"// Deduplicate by publisher_id\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of $input.all()) {\n  const publisherId = item.json.publisher_id || item.json.body?.publisher_id;\n  \n  if (publisherId && !seen.has(publisherId)) {\n    seen.add(publisherId);\n    uniqueItems.push(item);\n  }\n}\n\n// Log deduplication stats\nconst totalInput = $input.all().length;\nconst duplicatesRemoved = totalInput - uniqueItems.length;\nconsole.log(`Deduplication: ${totalInput} input → ${uniqueItems.length} unique (${duplicatesRemoved} duplicates removed)`);\n\nreturn uniqueItems.length > 0 ? uniqueItems : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,-112],"id":"096554a6-8b0d-4d81-b527-318449ff229f","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,-96],"id":"dbe8c688-416c-4c8b-abd4-c016f23148fd","name":"Loop Over Items"},{"parameters":{"amount":0},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,-80],"id":"1a04ab02-a2cb-45ec-afd2-3196f184ea25","name":"Wait","webhookId":"d434794d-8383-47e8-9fe6-68beee731a30"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Extract Publisher Data":{"main":[[{"node":"SQL Check - Publisher Exists?","type":"main","index":0},{"node":"Compare Datasets","type":"main","index":1}]]},"SQL Check - Publisher Exists?":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Get Unified Publisher Info":{"main":[[{"node":"Parse Unified Publisher Data","type":"main","index":0}]]},"Parse Unified Publisher Data":{"main":[[{"node":"Get Publisher Apps (for name)","type":"main","index":0}]]},"Get Publisher Apps (for name)":{"main":[[{"node":"Bulk Upsert Developer","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Notification","type":"main","index":0}]]},"Compare Datasets":{"main":[[],[],[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Extract Publisher Data","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Unified Publisher Info","type":"main","index":0}]]},"Bulk Upsert Developer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"41343","url":"https://autoai9.app.n8n.cloud/workflow/07JCV0TlUMrNcpZG/executions/41343","error":{"level":"warning","tags":{},"timestamp":1768119608935,"context":{"itemIndex":14},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"https://api.sensortower.com/v1/unified/publishers","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","provideSslCertificates":false,"sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"publisher_id_type\": \"{{ $json.os === 'ios' ? 'itunes' : 'android' }}\",\n  \"publisher_ids\": \"{{ $json.publisher_id }}\"\n}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-96],"id":"ee1daac2-4621-4106-944b-834c26371145","name":"Get Unified Publisher Info","credentials":{"httpQueryAuth":{"id":"zEQ5QCMKTBEGTyX2","name":"Query Auth account"}}},"messages":[],"message":"JSON parameter needs to be valid JSON","stack":"NodeOperationError: JSON parameter needs to be valid JSON\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:508:14)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"lastNodeExecuted":"Get Unified Publisher Info","mode":"integrated","executionContext":{"version":1,"establishedAt":1768119608629,"source":"integrated","parentExecutionId":"41342"}},"workflow":{"id":"07JCV0TlUMrNcpZG","name":"[Unified] Developer Account"}},"pairedItem":{"item":0}}],"When Executed by Another Workflow":[{"json":{"publisher_id":"ケルベロゲームス","os":"android"},"pairedItem":{"item":0}},{"json":{"publisher_id":"DEVVVS+0065","os":"android"},"pairedItem":{"item":1}},{"json":{"publisher_id":"NexSight","os":"android"},"pairedItem":{"item":2}},{"json":{"publisher_id":"Wiimob+Global+Pte.+Ltd.","os":"android"},"pairedItem":{"item":3}},{"json":{"publisher_id":"Villa+Games+Hub","os":"android"},"pairedItem":{"item":4}},{"json":{"publisher_id":"Jerry+C+Preston+Hauling,+Inc","os":"android"},"pairedItem":{"item":5}},{"json":{"publisher_id":"dhari+alrufaye","os":"android"},"pairedItem":{"item":6}},{"json":{"publisher_id":"Star+D.+Games","os":"android"},"pairedItem":{"item":7}},{"json":{"publisher_id":"Pravin+vami","os":"android"},"pairedItem":{"item":8}},{"json":{"publisher_id":"Adaric+Ltd","os":"android"},"pairedItem":{"item":9}},{"json":{"publisher_id":"Addictive+Puzzle+Games!","os":"android"},"pairedItem":{"item":10}},{"json":{"publisher_id":"BEMEX+SOFT","os":"android"},"pairedItem":{"item":11}},{"json":{"publisher_id":"wfd","os":"android"},"pairedItem":{"item":12}},{"json":{"publisher_id":"Palbuzzo,+LLC","os":"android"},"pairedItem":{"item":13}},{"json":{"publisher_id":"developerjitu","os":"android"},"pairedItem":{"item":14}},{"json":{"publisher_id":"Grozymart","os":"android"},"pairedItem":{"item":15}},{"json":{"publisher_id":"MatjarJordan","os":"android"},"pairedItem":{"item":16}},{"json":{"publisher_id":"sol+game","os":"android"},"pairedItem":{"item":17}},{"json":{"publisher_id":"tianchining","os":"android"},"pairedItem":{"item":18}},{"json":{"publisher_id":"WinPlus+Games","os":"android"},"pairedItem":{"item":19}},{"json":{"publisher_id":"Scope+co.","os":"android"},"pairedItem":{"item":20}},{"json":{"publisher_id":"Deepliy","os":"android"},"pairedItem":{"item":21}}]},"versionId":"27804d0b-3829-41ae-aa55-48eb0c4dbd35","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T11:03:09.667Z","createdAt":"2026-01-07T11:03:09.667Z","role":"workflow:owner","workflowId":"07JCV0TlUMrNcpZG","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}