auto-assign-game-evaluator-PqtFP3xm06p48tcz.json
{"updatedAt":"2026-03-19T05:09:51.726Z","createdAt":"2025-11-25T10:09:15.562Z","id":"PqtFP3xm06p48tcz","name":"Auto Assign Game Evaluator","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo","mode":"list","cachedResultName":"Handover Game List Request (Responses)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1665366600,"mode":"list","cachedResultName":"Evaluator List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo/edit#gid=1665366600"},"filtersUI":{"values":[{"lookupColumn":"Today Available","lookupValue":"Yes"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,-272],"id":"345ec6a9-e171-4b58-a884-3d70e1d67400","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Evaluator Name","renameField":true,"outputFieldName":"evaluator_list"},{"fieldToAggregate":"Game Platform","renameField":true,"outputFieldName":"game_platform"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[656,-272],"id":"e8936bae-9664-4c7c-ac34-4f529a9a11bc","name":"Aggregate"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,-48],"id":"4a0900c1-d43f-4b4e-86b8-b5db797a7985","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"3af4ef7b-151f-49ff-bd98-b043e793be6e","name":"evaluator_col_id","value":"={{ $json.evaluatorColumnId }}","type":"number"},{"id":"ed2475f3-3fd5-4f3e-a2e8-ca17feb4115f","name":"rows","value":"={{ $json.rows }}","type":"array"},{"id":"3beb46bf-9054-4de0-9acf-aec8c0478f5b","name":"evaluator_list","value":"={{ $json.evaluators }}","type":"array"},{"id":"b19872f3-0ad5-439f-a4f0-a1f285a76935","name":"assigned_date_col_id ","value":"={{ $json.assignedColumnId.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-48],"id":"0b3a032e-0ff4-49bb-b6bf-ec5c6c5e1c0f","name":"Edit Fields3"},{"parameters":{"method":"PUT","url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet3').item.json.content }}/rows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rows }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-48],"id":"21185cce-a9e4-4d7d-a6e9-d8b6b9b2b91a","name":"Adding Smartsheet - Once3","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"jsCode":"// Lấy item duy nhất từ Aggregate\nconst item = $input.first().json;\n\n// Hai mảng do Aggregate trả ra\nconst evaluators = item.evaluator_list || [];\nconst platforms  = item.game_platform || [];\n\n// Gộp thành danh sách { name, platform }\nconst result = evaluators.map((name, index) => ({\n  name,\n  platform: platforms[index] ?? null,   // nếu thiếu thì cho null\n}));\n\n// Trả về 1 item chứa list đã ghép\nreturn [\n  {\n    json: {\n      evaluators: result,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-272],"id":"78ca9797-df49-456a-87d9-7a3de12a2051","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"=https://chat.googleapis.com/v1/spaces/AAAAXjD3VKk/messages","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"cardsV2\": [\n    {\n      \"cardId\": \"append-success-{{ $now.toMillis() }}\",\n      \"card\": {\n        \"header\": {\n          \"title\": \" New games assigned\",\n          \"subtitle\": \"Assigned successfully • {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\",\n          \"imageType\": \"SQUARE\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"textParagraph\": {\n                  \"text\": \"Time: <b>{{ $now.toFormat('HH:mm') }}</b><br/>Date: <b>{{ $now.toFormat('dd/MM/yyyy') }}</b><br/>New games assigned: <b>{{ $('assigned').item.json.rows.length }}</b>\"\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,-32],"id":"0648ebab-f3a7-4c37-95f4-a8dbac5e0d38","name":"Create Thread1","executeOnce":true,"credentials":{"googleApi":{"id":"XcznUwWaMfZdcCYc","name":"Signal Sense SA"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-464,-144],"id":"ffd75a51-67b8-40c0-9060-930b3b171ebf","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7702bc1-4faa-4a61-8b5b-2e9b3c8bd422","leftValue":"={{ $json.rows.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,240],"id":"31f3383c-0169-4706-aad8-3ddc53f03134","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,160],"id":"1c0e79f8-0fa8-432f-9e7b-233823b81a32","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// // Lấy data từ node trước (Edit Fields3)\n// const input = $input.first().json;\n\n// // 1. Lấy các thông tin đầu vào\n// const evaluatorListRaw = input.evaluator_list || [];\n// const rows = input.rows || [];\n// const evaluatorColumnId = input.evaluator_col_id;\n\n// // --- MỚI THÊM: Lấy ID cột Date và Giá trị Date ---\n// const assignedDateColumnId = $input.first().json['assigned_date_col_id '] \n\n// const dateToSet = $now.toFormat('yyyy-MM-dd');\n// // ------------------------------------------------\n\n// // Map platform -> index (giữ nguyên logic cũ của bạn)\n// const platformColumnIndexMap = {\n//   ios: 4,\n//   android: 6,\n// };\n\n// function rowSupportPlatform(row, platform) {\n//   if (!platform || platform === 'all') return true;\n//   const idx = platformColumnIndexMap[platform];\n//   if (idx == null) return false;\n//   const cell = row.cells[idx];\n//   const value = cell?.displayValue ?? cell?.value ?? \"\";\n//   return value !== \"\";\n// }\n\n// // --- LOGIC CHIA QUOTA (GIỮ NGUYÊN) ---\n// const evaluators = evaluatorListRaw.map((ev, index) => ({\n//   name: ev.name,\n//   platform: (ev.platform || 'all').toLowerCase(),\n//   index,\n//   quota: 0,\n//   assigned: 0,\n// }));\n\n// const totalGames = rows.length;\n// const totalEvals = evaluators.length || 1;\n// const baseQuota = Math.floor(totalGames / totalEvals);\n// let extra = totalGames % totalEvals;\n\n// for (const ev of evaluators) {\n//   ev.quota = baseQuota + (extra > 0 ? 1 : 0);\n//   if (extra > 0) extra--;\n// }\n\n// const specificEvals = evaluators.filter(ev => ev.platform !== 'all');\n// const allEvals = evaluators.filter(ev => ev.platform === 'all');\n// const orderedEvals = [...specificEvals, ...allEvals];\n\n// const assignment = new Map();\n// let remainingRows = [...rows];\n\n// for (const ev of orderedEvals) {\n//   let need = ev.quota - ev.assigned;\n//   if (need <= 0 || remainingRows.length === 0) continue;\n\n//   const compatibleRows = remainingRows.filter(row =>\n//     rowSupportPlatform(row, ev.platform)\n//   );\n\n//   const toAssign = compatibleRows.slice(0, need);\n\n//   for (const row of toAssign) {\n//     assignment.set(row.id, ev.name);\n//     ev.assigned++;\n//   }\n//   remainingRows = remainingRows.filter(row => !assignment.has(row.id));\n// }\n\n// // --- LOGIC TẠO PAYLOAD UPDATE (CẬP NHẬT) ---\n// const rowsToUpdate = rows\n//   .filter(row => assignment.has(row.id))\n//   .map(row => ({\n//     id: row.id,\n//     cells: [\n//       // Update cột Người được assign\n//       {\n//         columnId: evaluatorColumnId,\n//         value: assignment.get(row.id),\n//       },\n//       // --- MỚI THÊM: Update cột Ngày assign ---\n//       {\n//         columnId: assignedDateColumnId,\n//         value: dateToSet,\n//       }\n//     ],\n//   }));\n\n// return [\n//   {\n//     json: {\n//       rows: rowsToUpdate,\n//     },\n//   },\n// ];\n\n// Lấy data từ node trước (Edit Fields3)\nconst input = $input.first().json;\n\n// 1. Lấy các thông tin đầu vào\nconst evaluatorListRaw = input.evaluator_list || [];\nconst rows = input.rows || [];\nconst evaluatorColumnId = input.evaluator_col_id;\n\n// --- MỚI THÊM: Lấy ID cột Date và Giá trị Date ---\n// Sửa lỗi khoảng trắng ở key 'assigned_date_col_id '\nconst assignedDateColumnId = input['assigned_date_col_id'] || input['assigned_date_col_id '];\n\nconst dateToSet = $now.toFormat('yyyy-MM-dd');\n// ------------------------------------------------\n\n// Cấu hình cụm phân bổ\nconst BATCH_SIZE = 20;\n\n// Map platform -> index (giữ nguyên logic cũ của bạn)\nconst platformColumnIndexMap = {\n  ios: 4,\n  android: 6,\n};\n\nfunction rowSupportPlatform(row, platform) {\n  if (!platform || platform === 'all') return true;\n  const idx = platformColumnIndexMap[platform];\n  if (idx == null) return false;\n  const cell = row.cells[idx];\n  const value = cell?.displayValue ?? cell?.value ?? \"\";\n  return value !== \"\";\n}\n\n// --- LOGIC CHIA QUOTA (GIỮ NGUYÊN) ---\nconst evaluators = evaluatorListRaw.map((ev, index) => ({\n  name: ev.name,\n  platform: (ev.platform || 'all').toLowerCase(),\n  index,\n  quota: 0,\n  assigned: 0,\n}));\n\nconst totalGames = rows.length;\nconst totalEvals = evaluators.length || 1;\nconst baseQuota = Math.floor(totalGames / totalEvals);\nlet extra = totalGames % totalEvals;\n\nfor (const ev of evaluators) {\n  ev.quota = baseQuota + (extra > 0 ? 1 : 0);\n  if (extra > 0) extra--;\n}\n\nconst specificEvals = evaluators.filter(ev => ev.platform !== 'all');\nconst allEvals = evaluators.filter(ev => ev.platform === 'all');\nconst orderedEvals = [...specificEvals, ...allEvals];\n\n// --- LOGIC PHÂN BỔ XOAY VÒNG THEO CỤM (CẬP NHẬT) ---\nconst assignment = new Map();\nlet remainingRows = [...rows];\n\n// Lặp cho đến khi hết hàng hoặc không ai có thể nhận thêm việc\nlet appsAssignedInLastLoop = true;\nwhile (remainingRows.length > 0 && appsAssignedInLastLoop) {\n  appsAssignedInLastLoop = false;\n\n  for (const ev of orderedEvals) {\n    let need = ev.quota - ev.assigned;\n    if (need <= 0) continue;\n\n    // Mỗi lượt lấy tối đa 20 game hoặc số lượng cần thiết còn lại\n    let currentBatchSize = Math.min(need, BATCH_SIZE);\n\n    // Lọc hàng phù hợp platform cho người này\n    const compatibleRows = remainingRows.filter(row =>\n      rowSupportPlatform(row, ev.platform)\n    );\n\n    if (compatibleRows.length > 0) {\n      const toAssign = compatibleRows.slice(0, currentBatchSize);\n      \n      for (const row of toAssign) {\n        assignment.set(row.id, ev.name);\n        ev.assigned++;\n        \n        // Xóa hàng đã giao khỏi danh sách chờ ngay lập tức\n        const rowIndex = remainingRows.findIndex(r => r.id === row.id);\n        if (rowIndex > -1) remainingRows.splice(rowIndex, 1);\n      }\n      appsAssignedInLastLoop = true;\n    }\n  }\n}\n\n// --- LOGIC TẠO PAYLOAD UPDATE (CẬP NHẬT) ---\nconst rowsToUpdate = rows\n  .filter(row => assignment.has(row.id))\n  .map(row => ({\n    id: row.id,\n    cells: [\n      // Update cột Người được assign\n      {\n        columnId: evaluatorColumnId,\n        value: assignment.get(row.id),\n      },\n      // --- MỚI THÊM: Update cột Ngày assign ---\n      {\n        columnId: assignedDateColumnId,\n        value: dateToSet,\n      }\n    ],\n  }));\n\nreturn [\n  {\n    json: {\n      rows: rowsToUpdate,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-48],"id":"4a4b6ef8-0d0e-4347-a5ce-c3e8b275fdd3","name":"assigned"},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.content }}/columns ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-48],"id":"73513a5d-45a7-4457-8b9a-80371bd66256","name":"Get Columns","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet3').item.json.content }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"rowsModifiedSince","value":"={{ $now.minus({ days: 3 }).startOf('day').toISO() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-48],"id":"de97678f-3c3b-4fdd-9e2f-053b415804f3","name":"Get Modified Rows since last 3 days","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"notes":"4067756853907332\n{{$now.format('yyyy-MM-dd')}}T00:00:00Z"},{"parameters":{"jsCode":"// 1. Lấy dữ liệu CỘT (từ node \"Get Columns\")\n// Lưu ý: Thay đổi tên trong $() nếu tên node của bạn khác\nconst columnsList = $('Get Columns').first().json.data\n\n// 2. Tìm ID và Index của 2 cột cần thiết dựa theo TÊN (Title)\n// Bạn không cần quan tâm nó nằm ở vị trí nào nữa\nconst evalCol = columnsList.find(c => c.title === \"Initial Evaluator\");\nconst createdCol = columnsList.find(c => c.title === \"Release Date\");\n\nconst assignedCol = columnsList.find(c => c.title === \"Assigned Date\");\n\n// Kiểm tra xem có tìm thấy cột không (đề phòng sai tên)\nif (!evalCol || !createdCol) {\n  throw new Error(\"Không tìm thấy cột 'Initial Evaluator' hoặc 'Created'. Hãy kiểm tra lại tên cột trong Sheet.\");\n}\n\n// 3. Lấy dữ liệu DÒNG (từ node \"Get Modified Rows...\")\nconst sheetData = $('Get Modified Rows since last 3 days').first().json;\nconst rows = sheetData.rows || [];\n\n// 4. Thực hiện lọc (Filter)\nconst filteredRows = rows.filter((row) => {\n  // Lấy ô dữ liệu dựa vào Index của cột đã tìm được ở trên\n  // (Dùng index nhanh và chính xác hơn find trong mảng cells)\n  const evalCell = row.cells[evalCol.index];\n  const createdCell = row.cells[createdCol.index];\n\n  // Hàm lấy giá trị an toàn\n  const getVal = (cell) => cell?.displayValue ?? cell?.value ?? \"\";\n\n  const evalValue = getVal(evalCell);\n  const createdValue = getVal(createdCell);\n\n  // ĐIỀU KIỆN LỌC:\n  // 1. Initial Evaluator phải TRỐNG (=== \"\")\n  // 2. VÀ (&&) Created phải CÓ DỮ LIỆU (!== \"\")\n  return evalValue === \"\" && createdValue !== \"\";\n});\n\n// 5. Trả về kết quả\nreturn [\n  {\n    json: {\n      evaluatorColumnId: evalCol.id, // ID để dùng cho việc update sau này\n      assignedColumnId: assignedCol,\n      rows: filteredRows,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-48],"id":"0a026f2f-6dfc-4285-b755-7c0adb106257","name":"Filter rows with conditions"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-432,-752],"id":"354e9167-a98e-448b-9079-59c0b26c6286","name":"Error Trigger"},{"parameters":{"content":"## Error","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-544,-880],"typeVersion":1,"id":"3930ed08-04d3-4f5e-b67b-f05c6bf8e695","name":"Sticky Note"},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{\n{\n  \"cardsV2\": [\n    {\n      \"cardId\": \"error-card\",\n      \"card\": {\n        \"header\": {\n          \"title\": \"WORKFLOW EXECUTION ERROR 🚨\",\n          \"subtitle\": \"<b>\" + $json.workflow.name + \" (ID: \" + $json.workflow.id + \")</b>\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Execution\",\n                  \"text\": \"ID: \" + $json.execution.id + \" | Retry Of: \" + ($json.execution.retryOf || '') + \" | Mode: \" + $json.execution.mode\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Last Node\",\n                  \"text\": \"<b>\" + $json.execution.lastNodeExecuted + \"</b>\"\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"topLabel\": \"Error Message\",\n                  \"text\": \"<b>\" + $json.execution.error.message + \"</b>\"\n                }\n              },\n              {\n                \"textParagraph\": {\n                  \"text\": \"<b>\" + ($json.execution.error.description || '') + \"</b>\"\n                }\n              },\n              {\n                \"buttonList\": {\n                  \"buttons\": [\n                    {\n                      \"text\": \"View Execution Details\",\n                      \"onClick\": {\n                        \"openLink\": {\n                          \"url\": $json.execution.url\n                        }\n                      }\n                    }\n                  ]\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n}}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[-192,-752],"id":"aafc08e5-2669-41bd-88b9-e9d61c75b59c","name":"Create a message","webhookId":"da207355-2554-4032-9500-3ebb7c175f7b","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"spaceId":"spaces/AAQAHvco23k","jsonParameters":true,"messageJson":"={\n  \"cardsV2\": [\n    {\n      \"cardId\": \"append-success-{{ $now.toMillis() }}\",\n      \"card\": {\n        \"header\": {\n          \"title\": \" New games assigned\",\n          \"subtitle\": \"Assigned successfully • {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\",\n          \"imageType\": \"SQUARE\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"textParagraph\": {\n                  \"text\": \"Time: <b>{{ $now.toFormat('HH:mm') }}</b><br/>Date: <b>{{ $now.toFormat('dd/MM/yyyy') }}</b><br/>New games assigned: <b>{{ $('assigned').item.json.rows.length }}</b>\"\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[2240,336],"id":"f73abe3e-5e2a-4cbb-a7c3-ad728be56252","name":"Create a message1","webhookId":"9d877717-a6d9-432d-afdb-f62893c71cb1","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1691917800,"mode":"list","cachedResultName":"N8N configs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=1691917800"},"filtersUI":{"values":[{"lookupColumn":"field","lookupValue":"Puzzle smartsheet ID"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-48,-48],"id":"8c1a0b17-cc04-493e-ab5f-26973622c97a","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"documentId":{"__rl":true,"value":"1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo","mode":"list","cachedResultName":"Handover Game List Request (Responses)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1899752935,"mode":"list","cachedResultName":"Final Evaluator","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kR6I3DnYCn67GUqZv0ms6cksUnRTHEBQniVjOuoEqlo/edit#gid=1899752935"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3456,112],"id":"efe99086-ced2-43b1-a9e7-41acfe14bb7a","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Evaluator Name","renameField":true,"outputFieldName":"evaluator_list"},{"fieldToAggregate":"Game Platform","renameField":true,"outputFieldName":"game_platform"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3760,112],"id":"6743d1ec-8a83-4a5a-9a06-98f064a0adcb","name":"Aggregate1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4464,336],"id":"d3e251de-1c59-4871-b55e-f345b39a484d","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"3af4ef7b-151f-49ff-bd98-b043e793be6e","name":"evaluator_col_id","value":"={{ $json.evaluatorColID }}","type":"number"},{"id":"ed2475f3-3fd5-4f3e-a2e8-ca17feb4115f","name":"rows","value":"={{ $json.rows }}","type":"array"},{"id":"3beb46bf-9054-4de0-9acf-aec8c0478f5b","name":"evaluator_list","value":"={{ $json.evaluators }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4656,336],"id":"5c36ca89-df65-49e0-9a48-eaf52d475f7d","name":"Edit Fields"},{"parameters":{"method":"PUT","url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet4').item.json.content }}/rows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rows }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5344,336],"id":"ed679a23-ede5-4b4e-8792-3fbf7e098303","name":"Adding Smartsheet - Once","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"jsCode":"// Lấy item duy nhất từ Aggregate\nconst item = $input.first().json;\n\n// Hai mảng do Aggregate trả ra\nconst evaluators = item.evaluator_list || [];\nconst platforms  = item.game_platform || [];\n\n// Gộp thành danh sách { name, platform }\nconst result = evaluators.map((name, index) => ({\n  name,  // nếu thiếu thì cho null\n}));\n\n// Trả về 1 item chứa list đã ghép\nreturn [\n  {\n    json: {\n      evaluators: result,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,112],"id":"0157422b-934a-4d68-976e-19e1bec52dbd","name":"Code in JavaScript"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// input từ Edit Fields\nconst evaluatorColumnId = input.evaluator_col_id;\nconst rows = input.rows || [];\nconst evaluatorListRaw = input.evaluator_list || [];\n\nif (!evaluatorColumnId) throw new Error(\"Missing evaluator_col_id\");\nif (!Array.isArray(rows)) throw new Error(\"rows must be an array\");\nif (!Array.isArray(evaluatorListRaw)) throw new Error(\"evaluator_list must be an array\");\n\n// evaluator_list: [{name, platform?}, ...]\nconst evaluators = evaluatorListRaw\n  .map((ev) => ({\n    name: (ev?.name ?? \"\").toString().trim(),\n    platform: (ev?.platform ?? \"all\").toString().toLowerCase(),\n  }))\n  .filter((ev) => ev.name);\n\nif (evaluators.length === 0) throw new Error(\"evaluator_list empty\");\n\n// --- (giữ logic platform index như code gốc nếu bạn cần) ---\nconst platformColumnIndexMap = { ios: 4, android: 6 };\n\nfunction rowSupportPlatform(row, platform) {\n  if (!platform || platform === \"all\") return true;\n  const idx = platformColumnIndexMap[platform];\n  if (idx == null) return false;\n  const cell = row.cells?.[idx];\n  const value = cell?.displayValue ?? cell?.value ?? \"\";\n  return String(value).trim() !== \"\";\n}\n\n// --- chia quota y như code gốc ---\nconst totalGames = rows.length;\nconst totalEvals = evaluators.length || 1;\nconst baseQuota = Math.floor(totalGames / totalEvals);\nlet extra = totalGames % totalEvals;\n\nconst evalsWithQuota = evaluators.map((ev) => ({\n  ...ev,\n  quota: baseQuota + (extra-- > 0 ? 1 : 0),\n  assigned: 0,\n}));\n\nconst specificEvals = evalsWithQuota.filter((ev) => ev.platform !== \"all\");\nconst allEvals = evalsWithQuota.filter((ev) => ev.platform === \"all\");\nconst orderedEvals = [...specificEvals, ...allEvals];\n\nconst assignment = new Map();\nlet remainingRows = [...rows];\n\nfor (const ev of orderedEvals) {\n  let need = ev.quota - ev.assigned;\n  if (need <= 0 || remainingRows.length === 0) continue;\n\n  const compatibleRows = remainingRows.filter((row) =>\n    rowSupportPlatform(row, ev.platform)\n  );\n\n  const toAssign = compatibleRows.slice(0, need);\n\n  for (const row of toAssign) {\n    assignment.set(row.id, ev.name);\n    ev.assigned++;\n  }\n\n  remainingRows = remainingRows.filter((row) => !assignment.has(row.id));\n}\n\n// --- tạo rowsToUpdate đúng schema Smartsheet ---\nconst rowsToUpdate = rows\n  .filter((row) => assignment.has(row.id))\n  .map((row) => ({\n    id: row.id,\n    cells: [\n      {\n        columnId: evaluatorColumnId,\n        value: assignment.get(row.id),\n      },\n    ],\n  }));\n\n// ✅ RETURN: để truyền thẳng vào Smartsheet update node\nreturn [\n  {\n    json: {\n      rows: rowsToUpdate,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4880,336],"id":"230643d9-8c98-4f31-92d8-f00b517531c8","name":"assigned1"},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.content }}/columns ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,336],"id":"d88854b8-cefd-49bc-9c30-f81286478975","name":"Get Columns1","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet4').item.json.content }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"rowsModifiedSince","value":"={{ $now.minus({ days: 2 }).startOf('day').toISO() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3728,336],"id":"ced7caaf-996b-4c45-8cdc-991d4289328a","name":"Get Modified Rows since last 3 days1","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"notes":"4067756853907332\n{{$now.format('yyyy-MM-dd')}}T00:00:00Z"},{"parameters":{"jsCode":"// 1. Lấy dữ liệu CỘT\nconst columnsList = $('Get Columns1').first().json.data;\n\n// 2. Tìm cột theo Title\nconst assignedCol = columnsList.find(c => c.title === \"Assigned Date\");\n\nconst evaluatorCol = columnsList.find(c => c.title === \"Evaluator\");\n\nif (!assignedCol) {\n  throw new Error(\"Không tìm thấy cột 'Assigned Date'. Hãy kiểm tra lại tên cột trong Sheet.\");\n}\n\nif (!evaluatorCol) {\n  throw new Error(\"Không tìm thấy cột 'Evaluator'. Hãy kiểm tra lại tên cột trong Sheet.\");\n}\n\n\n// 3. Lấy dữ liệu DÒNG\nconst sheetData = $('Get Modified Rows since last 3 days1').first().json;\nconst rows = sheetData.rows || [];\n\n// 4. Lọc: Assigned Date CÓ dữ liệu + Evaluator TRỐNG\nconst filteredRows = rows.filter((row) => {\n  const assignedCell = row.cells?.[assignedCol.index];\n  const evaluatorCell = row.cells?.[evaluatorCol.index];\n\n  // Hàm lấy giá trị an toàn\n  const getVal = (cell) => cell?.displayValue ?? cell?.value ?? \"\";\n\n  const assignedValue = String(getVal(assignedCell)).trim();\n  const evaluatorValue = String(getVal(evaluatorCell)).trim();\n\n  // Điều kiện:\n  // - Assigned Date có dữ liệu\n  // - Evaluator trống\n  return assignedValue !== \"\" && evaluatorValue === \"\";\n});\n\n\n// 5. Trả về kết quả\nreturn [\n  {\n    json: {\n      evaluatorColID: evaluatorCol.id,\n      rows: filteredRows,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,336],"id":"b6f8aa9b-34ad-48f8-b3b6-a701cd29ba24","name":"Filter rows with conditions1"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1691917800,"mode":"list","cachedResultName":"N8N configs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=1691917800"},"filtersUI":{"values":[{"lookupColumn":"field","lookupValue":"Puzzle smartsheet ID"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3056,336],"id":"abc4c862-75f4-4000-ae4c-da987156476d","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"assigned","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Adding Smartsheet - Once3":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Create a message1","type":"main","index":0}]]},"assigned":{"main":[[{"node":"Adding Smartsheet - Once3","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Get Columns":{"main":[[{"node":"Get Modified Rows since last 3 days","type":"main","index":0}]]},"Get Modified Rows since last 3 days":{"main":[[{"node":"Filter rows with conditions","type":"main","index":0}]]},"Filter rows with conditions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Create a message","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Get Columns","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"assigned1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"assigned1":{"main":[[{"node":"Adding Smartsheet - Once","type":"main","index":0}]]},"Get Columns1":{"main":[[{"node":"Get Modified Rows since last 3 days1","type":"main","index":0}]]},"Get Modified Rows since last 3 days1":{"main":[[{"node":"Filter rows with conditions1","type":"main","index":0}]]},"Filter rows with conditions1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Get Columns1","type":"main","index":0}]]},"Create a message1":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"PqtFP3xm06p48tcz"},"staticData":{"node:Puzzle Trigger":{"recurrenceRules":[]},"node:Aracade Trigger":{"recurrenceRules":[]},"node:Simulation Trigger":{"recurrenceRules":[]},"node:Puzzle Trigger - 11AM":{"recurrenceRules":[]},"node:Puzzle Trigger - 4PM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"runAt":"2025-12-24T09:09:52.432+07:00","trigger":"orchestrator"},"pairedItem":{"item":0}}]},"versionId":"61706266-7e11-41a3-9fab-2fd897ca4fae","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-25T10:09:15.572Z","createdAt":"2025-11-25T10:09:15.572Z","role":"workflow:owner","workflowId":"PqtFP3xm06p48tcz","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}