delete-die-link-69NZBEW0gFsTve6Q.json
{"updatedAt":"2026-03-19T07:15:16.637Z","createdAt":"2025-12-30T04:32:49.871Z","id":"69NZBEW0gFsTve6Q","name":"delete-die-link","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[144,112],"id":"55e7d4b1-1292-4b34-be7f-b497a9054021","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $json.content }}/columns ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,112],"id":"c0140db6-6b77-4886-8fe7-9d764ee1dd51","name":"Get Columns","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}},{"parameters":{"url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet3').item.json.content }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"rowsModifiedSince","value":"={{ $now.minus({ days:360 }).startOf('day').toISO() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,112],"id":"f5892224-d7c2-4cc1-9321-65d8c9c0ca4b","name":"Get Modified Rows since last 3 days","credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}},"notes":"4067756853907332\n{{$now.format('yyyy-MM-dd')}}T00:00:00Z"},{"parameters":{"jsCode":"// 1. Lấy dữ liệu CỘT (từ node \"Get Columns\")\nconst columnsList = $('Get Columns').first().json.data;\n\n// 2. Tìm ID và Index của các cột cần thiết dựa theo TÊN (Title)\nconst conclusionCol = columnsList.find(c => c.title === \"Initial Conclusion\");\nconst iosLinkCol = columnsList.find(c => c.title === \"IOS Link\");\nconst androidLinkCol = columnsList.find(c => c.title === \"AND Link\");\n\n// Kiểm tra xem có tìm thấy các cột quan trọng không\nif (!conclusionCol || !iosLinkCol || !androidLinkCol) {\n  throw new Error(\"Không tìm thấy một trong các cột: 'Initial Conclusion', 'iOS Link', hoặc 'Android Link'.\");\n}\n\n// 3. Lấy dữ liệu DÒNG (từ node \"Get Modified Rows...\")\nconst sheetData = $('Get Modified Rows since last 3 days').first().json;\nconst rows = sheetData.rows || [];\n\n// 4. Thực hiện lọc và xử lý dữ liệu\nconst processedRows = rows\n  .filter((row) => {\n    // Lấy ô dữ liệu dựa vào Index của cột Conclusion\n    const conclusionCell = row.cells[conclusionCol.index];\n    const getVal = (cell) => cell?.displayValue ?? cell?.value ?? \"\";\n    \n    // ĐIỀU KIỆN LỌC: Initial Conclusion phải TRỐNG\n    return getVal(conclusionCell) === \"Bypass\";\n  })\n  .map((row) => {\n    const getVal = (cell) => cell?.displayValue ?? cell?.value ?? \"\";\n    \n    // Lấy link từ 1 trong 2 cột (iOS hoặc Android)\n    const iosLink = getVal(row.cells[iosLinkCol.index]);\n    const androidLink = getVal(row.cells[androidLinkCol.index]);\n    \n    // Ưu tiên lấy link nào có dữ liệu (vì logic của bạn là 1 dòng chỉ có 1 trong 2)\n    const activeLink = iosLink || androidLink;\n    const platform = iosLink ? \"ios\" : (androidLink ? \"android\" : \"unknown\");\n\n    return {\n      ...row,\n      activeLink: activeLink, // Trả ra link cuối cùng để dùng ở node sau\n      platform: platform      // Trả ra platform để bạn tiện phân loại nếu cần\n    };\n  });\n\n// 5. Trả về kết quả\nreturn [\n  {\n    json: {\n      conclusionColumnId: conclusionCol.id,\n      rows: processedRows,\n      count: processedRows.length\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,112],"id":"cc591162-3853-4ad0-96b4-90375e6b7bdf","name":"Filter rows with conditions"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1691917800,"mode":"list","cachedResultName":"N8N configs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=1691917800"},"filtersUI":{"values":[{"lookupColumn":"field","lookupValue":"Puzzle smartsheet ID"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,112],"id":"eaffd698-1f55-4f68-a3d4-1b2053c2fefe","name":"Get row(s) in sheet3","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"fieldToSplitOut":"rows","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1648,112],"id":"90c880a6-8cbd-4a5a-b5ef-ffabba717834","name":"Split Out"},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2256,112],"id":"f862a29e-7b3b-4eef-8af3-b5bdf25f7498","name":"Loop Over Items"},{"parameters":{"method":"HEAD","url":"={{ $json.activeLink }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2656,128],"id":"8ec5c39e-1448-4dae-b401-2d1f3ca5d3ba","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3312,432],"id":"060a85e7-e757-43ef-9e46-4fcb27234e3f","name":"Merge"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3104,192],"id":"91e7b261-e825-4bdc-8698-4479c1599a51","name":"Wait","webhookId":"a32f44a7-4555-475a-bec7-c3aa2186c8ab"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id","renameField":true,"outputFieldName":"all_rows"}]},"options":{"mergeLists":false}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3616,432],"id":"8634cab1-3d5b-41e7-934a-6191625824d3","name":"Aggregate"},{"parameters":{"jsCode":"const allIds = $json.all_rows; // Tên field từ node Aggregate của bạn\nconst batches = [];\nconst size = 300;\n\nfor (let i = 0; i < allIds.length; i += size) {\n    batches.push({ \n        ids: allIds.slice(i, i + size).join(',') \n    });\n}\nreturn batches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,432],"id":"0162f4b6-53be-4299-b22d-c66ac6cd5bf2","name":"Code in JavaScript"},{"parameters":{"method":"DELETE","url":"=https://api.smartsheet.com/2.0/sheets/{{ $('Get row(s) in sheet3').item.json.content }}/rows?ids={{ $json.ids }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4272,432],"id":"32d9b3ba-cbd8-434c-b1a6-8452c7f5aa11","name":"HTTP Request1","retryOnFail":false,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"vAGuEElrZVb7OOoI","name":"Smartsheet Token"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Get Columns":{"main":[[{"node":"Get Modified Rows since last 3 days","type":"main","index":0}]]},"Get Modified Rows since last 3 days":{"main":[[{"node":"Filter rows with conditions","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Get Columns","type":"main","index":0}]]},"Filter rows with conditions":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{},"pairedItem":{"item":0}}]},"versionId":"d8e731dc-f5e0-4cfe-ad3c-21b18bad350d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T04:32:49.875Z","createdAt":"2025-12-30T04:32:49.875Z","role":"workflow:owner","workflowId":"69NZBEW0gFsTve6Q","projectId":"67WNTZumHvK64fAX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}