upload-ytb-9ehXZD1W8a7aYy3j.json
{"updatedAt":"2026-03-19T05:10:18.951Z","createdAt":"2026-01-05T07:12:30.023Z","id":"9ehXZD1W8a7aYy3j","name":"Upload YTB","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[416,608],"id":"4f0acbe6-5524-4b28-b5b9-de5a8627d8ca","name":"Error Trigger"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error === undefined }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,1024],"id":"200710ee-2529-4aa4-aa84-626f0b7fbf8d","name":"Check Success"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $('Loop Over Items').item.json.fileId }}","status":"FAILED"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,1120],"id":"3661ea03-0aae-441e-9205-b7d6f8e34952","name":"Log FAILED","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $('Loop Over Items').item.json.fileId }}","time":"={{$now.toLocal().format('yyyy-MM-dd HH:mm:ss')}}","status":"DONE"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,928],"id":"93c3627b-ecd3-4cdb-bfd3-58181876508b","name":"Log DONE","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"jsCode":"// Deduplicate by fileId (keeping latest timestamp) and filter out FAILED status\nconst groups = {};\n\nfor (const item of $input.all()) {\n  const json = item.json;\n  const id = json.fileId;\n  if (!id) continue;\n  \n  // Simple string comparison for ISO-like dates works mostly, or rely on arrival order (bottom is latest)\n  groups[id] = json;\n}\n\nconst out = [];\nfor (const id in groups) {\n  if (groups[id].status !== 'FAILED') {\n    out.push({ json: groups[id] });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,1104],"id":"3c4360f3-72f2-45ee-8c17-853cfd935ab5","name":"Filter Existing"},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","searchMethod":"query","queryString":"='1tf_Kf_wi6wu6mD6vI8CWlIHUhZXsg1TU' in parents and trashed = false\nand mimeType contains 'video/'\nand createdTime >= '{{$now.startOf(\"day\").minus(5, 'days').toISO()}}'\nand createdTime <= '{{$now.startOf(\"day\").plus(1, 'days').toISO()}}'","limit":200,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[864,912],"id":"de92a300-c350-46a7-a1db-4787abc0ff5b","name":"Search files and folders1","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Accept filename pattern:\n// <part1>_<part2>_<n>mins\n// Optional extension is allowed: ...mins.<anything>\n// - part1, part2: không chứa dấu gạch dưới\n// - n: số nguyên dương\n// Case-insensitive (MINs, Mins,...)\nconst re = /^([^_]+)_([^_]+)_(\\d+)mins(?:\\..*)?$/i;\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const id = j.id || j.fileId;\n  let name = j.name || j.fileName;\n\n  if (!id || !name) continue;\n\n  name = String(name).trim();\n  if (!name) continue;\n\n  // bỏ folder nếu Drive có mimeType folder\n  const mimeType = j.mimeType || j.mime_type;\n  if (mimeType === \"application/vnd.google-apps.folder\") continue;\n\n  const m = name.match(re);\n  if (!m) continue;\n\n  const [, part1Raw, part2Raw, minsRaw] = m;\n\n  const mins = Number(minsRaw);\n  if (!Number.isInteger(mins) || mins <= 0) continue;\n\n  const part1 = String(part1Raw).trim();\n  const part2 = String(part2Raw).trim();\n\n  out.push({\n    json: {\n      fileId: id,\n      fileName: name,\n      part1,\n      part2,\n      mins,\n      title: `${part1} ${part2} (${mins} mins)`,\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,912],"id":"c11aa320-ce91-489f-ae20-8d883102e322","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1984,928],"id":"0a083c05-f2ee-4ce2-80f0-f95e27fd420b","name":"Loop Over Items"},{"parameters":{"spaceId":"spaces/AAQAHvco23k","jsonParameters":true,"messageJson":"={\n  \"cardsV2\": [\n    {\n      \"cardId\": \"yt-upload-single-mini\",\n      \"card\": {\n        \"header\": {\n          \"title\": \"✅ Video Uploaded\",\n          \"subtitle\": \"{{ $now.format('dd/MM/yyyy - HH:mm') }}\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"decoratedText\": {\n                  \"text\": \"<b>{{ $('Loop Over Items').item.json.fileName }}</b>\",\n                  \"wrapText\": true,\n                  \"startIcon\": { \"knownIcon\": \"VIDEO_CAMERA\" }\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"text\": \"https://www.youtube.com/watch?v={{ $('Credential ').item.json.uploadId }}\",\n                  \"wrapText\": true,\n                  \"onClick\": {\n                    \"openLink\": {\n                      \"url\": \"https://www.youtube.com/watch?v={{ $('Credential ').item.json.uploadId }}\"\n                    }\n                  }\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[3328,1008],"id":"c3c47e59-36fa-48c9-a13a-a05f40fed6b2","name":"Create a message1","webhookId":"da207355-2554-4032-9500-3ebb7c175f7b","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}?alt=media","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2432,1024],"id":"7eca9ea7-2b2c-4245-a551-b6011b38b3d7","name":"GET media1","retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"SaElFWq033FqwVD2","name":"MinhLQ Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Loop Over Items').item.json.fileName }}","regionCode":"VN","categoryId":"=20","options":{"description":"=Game Title: {{ $('Loop Over Items').item.json.part1 }}\nRecoreded by: {{ $('Loop Over Items').item.json.part2 }}\nDuration: {{ $('Loop Over Items').item.json.mins }} mins","privacyStatus":"unlisted","selfDeclaredMadeForKids":false}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2656,1024],"id":"32b84f0d-a84b-4557-ac08-00b8b58f7654","name":"Credential ","retryOnFail":true,"waitBetweenTries":5000,"maxTries":3,"alwaysOutputData":false,"credentials":{"youTubeOAuth2Api":{"id":"XTwKKqfUXCEXNtYY","name":"YouTube account 4"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,1104],"id":"ac24eaef-ca45-42da-97a3-7ee53f251811","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"fileId","field2":"fileId"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1312,896],"id":"7a0775eb-bf03-48c5-890c-38f662cd8483","name":"Compare Datasets1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $json.fileId }}","time":"={{$now.toLocal().format('yyyy-MM-dd HH:mm:ss')}}","status":"PROCESSING"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,1024],"id":"c9effec0-28ce-45e1-9de2-b3cdd1283894","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,928],"id":"6d781318-e758-40c4-99de-8d4feca27683","name":"Merge"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"yes"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1536,752],"id":"f6effd8f-2119-4592-94c1-73ba30083e94","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,832],"id":"ab71e86b-bfef-4bb0-8980-4a5ed2577c51","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[416,928],"id":"bdf1cec5-8fe4-45a9-a1e7-64cb25c51ae5","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"filtersUI":{"values":[{"lookupColumn":"running","lookupValue":"not"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,928],"id":"041f1e6a-e3ae-44ce-8a2f-1914f40498d0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{ JSON.stringify({\n  cardsV2: [{\n    cardId: 'push-error',\n    card: {\n      header: {\n        title: 'PUSH SMARTSHEET ERROR 🚨',\n        subtitle: $json.workflow.name\n      },\n      sections: [{\n        widgets: [\n          {\n            decoratedText: {\n              topLabel: 'Last Node',\n              text: `<b>${$json.execution.lastNodeExecuted}</b>`\n            }\n          },\n          {\n            decoratedText: {\n              topLabel: 'Error',\n              text: $json.execution.error.message\n            }\n          },\n          {\n            buttonList: {\n              buttons: [{\n                text: 'View Details',\n                onClick: { openLink: { url: $json.execution.url } }\n              }]\n            }\n          }\n        ]\n      }]\n    }\n  }]\n}) }}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[640,608],"id":"71d17932-f561-430a-8230-afd9a22a7bb4","name":"Error Notification","webhookId":"95c5bad4-3ae5-436b-9119-1e28b22722cb","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","messageUi":{"text":"Update youtube credential"},"additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[3328,1200],"id":"2a84b2f1-3c74-4693-8743-caa7e2084119","name":"Error Notification1","webhookId":"95c5bad4-3ae5-436b-9119-1e28b22722cb","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3552,1200],"id":"0d78acc8-ccc3-4c41-88c5-5a1b9a40959a","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,608],"id":"527817df-2ff8-4f4b-8d01-9870773a98ec","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Error Notification","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Log DONE","type":"main","index":0}],[{"node":"Log FAILED","type":"main","index":0}]]},"Log FAILED":{"main":[[{"node":"Error Notification1","type":"main","index":0}]]},"Log DONE":{"main":[[{"node":"Create a message1","type":"main","index":0}]]},"Filter Existing":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"Search files and folders1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Compare Datasets1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}]]},"Create a message1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GET media1":{"main":[[{"node":"Credential ","type":"main","index":0}]]},"Credential ":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter Existing","type":"main","index":0}]]},"Compare Datasets1":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Update row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"GET media1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search files and folders1","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Error Notification1":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Error Notification":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2026-01-13T11:26:48Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37042f27-669f-4310-965b-a57334cced51","activeVersionId":"37042f27-669f-4310-965b-a57334cced51","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T07:12:30.030Z","createdAt":"2026-01-05T07:12:30.030Z","role":"workflow:owner","workflowId":"9ehXZD1W8a7aYy3j","projectId":"67WNTZumHvK64fAX"}],"activeVersion":{"updatedAt":"2026-03-19T05:10:18.952Z","createdAt":"2026-03-19T05:10:18.952Z","versionId":"37042f27-669f-4310-965b-a57334cced51","workflowId":"9ehXZD1W8a7aYy3j","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[416,608],"id":"4f0acbe6-5524-4b28-b5b9-de5a8627d8ca","name":"Error Trigger"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error === undefined }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,1024],"id":"200710ee-2529-4aa4-aa84-626f0b7fbf8d","name":"Check Success"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $('Loop Over Items').item.json.fileId }}","status":"FAILED"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,1120],"id":"3661ea03-0aae-441e-9205-b7d6f8e34952","name":"Log FAILED","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $('Loop Over Items').item.json.fileId }}","time":"={{$now.toLocal().format('yyyy-MM-dd HH:mm:ss')}}","status":"DONE"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,928],"id":"93c3627b-ecd3-4cdb-bfd3-58181876508b","name":"Log DONE","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"jsCode":"// Deduplicate by fileId (keeping latest timestamp) and filter out FAILED status\nconst groups = {};\n\nfor (const item of $input.all()) {\n  const json = item.json;\n  const id = json.fileId;\n  if (!id) continue;\n  \n  // Simple string comparison for ISO-like dates works mostly, or rely on arrival order (bottom is latest)\n  groups[id] = json;\n}\n\nconst out = [];\nfor (const id in groups) {\n  if (groups[id].status !== 'FAILED') {\n    out.push({ json: groups[id] });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,1104],"id":"3c4360f3-72f2-45ee-8c17-853cfd935ab5","name":"Filter Existing"},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","searchMethod":"query","queryString":"='1tf_Kf_wi6wu6mD6vI8CWlIHUhZXsg1TU' in parents and trashed = false\nand mimeType contains 'video/'\nand createdTime >= '{{$now.startOf(\"day\").minus(5, 'days').toISO()}}'\nand createdTime <= '{{$now.startOf(\"day\").plus(1, 'days').toISO()}}'","limit":200,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[864,912],"id":"de92a300-c350-46a7-a1db-4787abc0ff5b","name":"Search files and folders1","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Accept filename pattern:\n// <part1>_<part2>_<n>mins\n// Optional extension is allowed: ...mins.<anything>\n// - part1, part2: không chứa dấu gạch dưới\n// - n: số nguyên dương\n// Case-insensitive (MINs, Mins,...)\nconst re = /^([^_]+)_([^_]+)_(\\d+)mins(?:\\..*)?$/i;\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const id = j.id || j.fileId;\n  let name = j.name || j.fileName;\n\n  if (!id || !name) continue;\n\n  name = String(name).trim();\n  if (!name) continue;\n\n  // bỏ folder nếu Drive có mimeType folder\n  const mimeType = j.mimeType || j.mime_type;\n  if (mimeType === \"application/vnd.google-apps.folder\") continue;\n\n  const m = name.match(re);\n  if (!m) continue;\n\n  const [, part1Raw, part2Raw, minsRaw] = m;\n\n  const mins = Number(minsRaw);\n  if (!Number.isInteger(mins) || mins <= 0) continue;\n\n  const part1 = String(part1Raw).trim();\n  const part2 = String(part2Raw).trim();\n\n  out.push({\n    json: {\n      fileId: id,\n      fileName: name,\n      part1,\n      part2,\n      mins,\n      title: `${part1} ${part2} (${mins} mins)`,\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,912],"id":"c11aa320-ce91-489f-ae20-8d883102e322","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1984,928],"id":"0a083c05-f2ee-4ce2-80f0-f95e27fd420b","name":"Loop Over Items"},{"parameters":{"spaceId":"spaces/AAQAHvco23k","jsonParameters":true,"messageJson":"={\n  \"cardsV2\": [\n    {\n      \"cardId\": \"yt-upload-single-mini\",\n      \"card\": {\n        \"header\": {\n          \"title\": \"✅ Video Uploaded\",\n          \"subtitle\": \"{{ $now.format('dd/MM/yyyy - HH:mm') }}\"\n        },\n        \"sections\": [\n          {\n            \"widgets\": [\n              {\n                \"decoratedText\": {\n                  \"text\": \"<b>{{ $('Loop Over Items').item.json.fileName }}</b>\",\n                  \"wrapText\": true,\n                  \"startIcon\": { \"knownIcon\": \"VIDEO_CAMERA\" }\n                }\n              },\n              {\n                \"decoratedText\": {\n                  \"text\": \"https://www.youtube.com/watch?v={{ $('Credential ').item.json.uploadId }}\",\n                  \"wrapText\": true,\n                  \"onClick\": {\n                    \"openLink\": {\n                      \"url\": \"https://www.youtube.com/watch?v={{ $('Credential ').item.json.uploadId }}\"\n                    }\n                  }\n                }\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}\n","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[3328,1008],"id":"c3c47e59-36fa-48c9-a13a-a05f40fed6b2","name":"Create a message1","webhookId":"da207355-2554-4032-9500-3ebb7c175f7b","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}?alt=media","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2432,1024],"id":"7eca9ea7-2b2c-4245-a551-b6011b38b3d7","name":"GET media1","retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"SaElFWq033FqwVD2","name":"MinhLQ Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Loop Over Items').item.json.fileName }}","regionCode":"VN","categoryId":"=20","options":{"description":"=Game Title: {{ $('Loop Over Items').item.json.part1 }}\nRecoreded by: {{ $('Loop Over Items').item.json.part2 }}\nDuration: {{ $('Loop Over Items').item.json.mins }} mins","privacyStatus":"unlisted","selfDeclaredMadeForKids":false}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2656,1024],"id":"32b84f0d-a84b-4557-ac08-00b8b58f7654","name":"Credential ","retryOnFail":true,"waitBetweenTries":5000,"maxTries":3,"alwaysOutputData":false,"credentials":{"youTubeOAuth2Api":{"id":"XTwKKqfUXCEXNtYY","name":"YouTube account 4"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,1104],"id":"ac24eaef-ca45-42da-97a3-7ee53f251811","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"fileId","field2":"fileId"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1312,896],"id":"7a0775eb-bf03-48c5-890c-38f662cd8483","name":"Compare Datasets1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":621980228,"mode":"list","cachedResultName":"ytb_uploaded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=621980228"},"columns":{"mappingMode":"defineBelow","value":{"fileId":"={{ $json.fileId }}","time":"={{$now.toLocal().format('yyyy-MM-dd HH:mm:ss')}}","status":"PROCESSING"},"matchingColumns":["fileId"],"schema":[{"id":"fileId","displayName":"fileId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,1024],"id":"c9effec0-28ce-45e1-9de2-b3cdd1283894","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,928],"id":"6d781318-e758-40c4-99de-8d4feca27683","name":"Merge"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"yes"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1536,752],"id":"f6effd8f-2119-4592-94c1-73ba30083e94","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,832],"id":"ab71e86b-bfef-4bb0-8980-4a5ed2577c51","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[416,928],"id":"bdf1cec5-8fe4-45a9-a1e7-64cb25c51ae5","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"filtersUI":{"values":[{"lookupColumn":"running","lookupValue":"not"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,928],"id":"041f1e6a-e3ae-44ce-8a2f-1914f40498d0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","jsonParameters":true,"messageJson":"={{ JSON.stringify({\n  cardsV2: [{\n    cardId: 'push-error',\n    card: {\n      header: {\n        title: 'PUSH SMARTSHEET ERROR 🚨',\n        subtitle: $json.workflow.name\n      },\n      sections: [{\n        widgets: [\n          {\n            decoratedText: {\n              topLabel: 'Last Node',\n              text: `<b>${$json.execution.lastNodeExecuted}</b>`\n            }\n          },\n          {\n            decoratedText: {\n              topLabel: 'Error',\n              text: $json.execution.error.message\n            }\n          },\n          {\n            buttonList: {\n              buttons: [{\n                text: 'View Details',\n                onClick: { openLink: { url: $json.execution.url } }\n              }]\n            }\n          }\n        ]\n      }]\n    }\n  }]\n}) }}","additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[640,608],"id":"71d17932-f561-430a-8230-afd9a22a7bb4","name":"Error Notification","webhookId":"95c5bad4-3ae5-436b-9119-1e28b22722cb","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"spaceId":"spaces/AAQAfbThMHc","messageUi":{"text":"Update youtube credential"},"additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[3328,1200],"id":"2a84b2f1-3c74-4693-8743-caa7e2084119","name":"Error Notification1","webhookId":"95c5bad4-3ae5-436b-9119-1e28b22722cb","credentials":{"googleApi":{"id":"5MOpxh9U04GXBIJp","name":"Google Service Account account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3552,1200],"id":"0d78acc8-ccc3-4c41-88c5-5a1b9a40959a","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg","mode":"list","cachedResultName":"[Signal] Logging","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":91540771,"mode":"list","cachedResultName":"routing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yb558PpmunJcdDYCyVzdDpBfKDiIArMBG4IBI-eR0dg/edit#gid=91540771"},"columns":{"mappingMode":"defineBelow","value":{"row_number":2,"running":"not"},"matchingColumns":["row_number"],"schema":[{"id":"running","displayName":"running","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"not","displayName":"not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,608],"id":"527817df-2ff8-4f4b-8d01-9870773a98ec","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"UMl5XCc7aOcf9yi3","name":"HandoverRequest-HungDT"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Error Notification","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Log DONE","type":"main","index":0}],[{"node":"Log FAILED","type":"main","index":0}]]},"Log FAILED":{"main":[[{"node":"Error Notification1","type":"main","index":0}]]},"Log DONE":{"main":[[{"node":"Create a message1","type":"main","index":0}]]},"Filter Existing":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"Search files and folders1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Compare Datasets1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}]]},"Create a message1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GET media1":{"main":[[{"node":"Credential ","type":"main","index":0}]]},"Credential ":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter Existing","type":"main","index":0}]]},"Compare Datasets1":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Update row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"GET media1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search files and folders1","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Error Notification1":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Error Notification":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]}},"authors":"Hung Dang","name":null,"description":null},"tags":[{"updatedAt":"2026-03-19T05:07:06.319Z","createdAt":"2026-03-19T05:07:06.319Z","id":"moavZC1AzFH3NlKm","name":"signal-team"}]}