workflows/smartsheet-to-db-evaluations.json
{
  "name": "smartsheet-to-db-evaluations (puzzle)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run (manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sheet id(s) for this category. Running MANY big sheets at once can OOM n8n,\n// so keep ONE id here and swap it per run (puzzle is split across ~6 sheets).\nconst sheetIds = [\n  '2184120410001284',\n];\nreturn sheetIds.map(id => ({ json: { sheetId: String(id) } }));\n"
      },
      "id": "sheet-ids",
      "name": "Sheet IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.smartsheet.com/2.0/sheets/{{ $json.sheetId }}?includeAll=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-sheet",
      "name": "Get Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_SMARTSHEET_HEADER_AUTH_CRED_ID",
          "name": "Smartsheet Authorization Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map ALL fetched sheets -> rows, then build ONE parameter-free INSERT that feeds\n// the data as a dollar-quoted JSON literal into json_to_recordset. Postgres parses\n// the JSON itself, so quotes / commas / newlines in the data can't break the SQL\n// (fixes \"syntax error near ...\").\nconst out = [];\nconst seen = new Set();\n\n// ── category for these rows ──\nconst category = 'puzzle';\n\nfunction clean(v){ const s = v == null ? '' : String(v).trim(); return s === '' ? null : s; }\nfunction parseTs(v){ const s = clean(v); if(!s) return null; const d = new Date(s); return isNaN(d.getTime()) ? null : d.toISOString(); }\nfunction parseDate(v){ const t = parseTs(v); return t ? t.slice(0,10) : null; }\n\nfor (const item of $input.all()) {            // iterate every fetched sheet\n  const data = item.json || {};\n  const cols = data.columns || [];\n  const idToTitle = Object.fromEntries(cols.map(c => [c.id, c.title]));\n  for (const r of (data.rows || [])) {\n    const row = {};\n    for (const cell of (r.cells || [])) {\n      const t = idToTitle[cell.columnId];\n      if (t) row[t] = cell.value != null ? cell.value : (cell.displayValue != null ? cell.displayValue : '');\n    }\n    const gameId = clean(row['GameID']);\n    if (!gameId || seen.has(gameId)) continue;   // dedup by game_id (first wins)\n    seen.add(gameId);\n    const sk = (clean(row['StoreKit']) || '').toLowerCase();\n    let conclusion = clean(row['Initial Conclusion']);\n    if (sk === 'x') conclusion = 'Link_dead';      // StoreKit 'x' = dead link\n    out.push({\n      game_id: gameId,\n      category_group: category,\n      initial_evaluator: clean(row['Initial Evaluator']),\n      assigned_date: parseDate(row['Assigned Date']),\n      evaluate_date: parseTs(row['Evaluate Date']),\n      initial_note: clean(row['Initial Evaluator note']),\n      initial_conclusion: conclusion,\n      genre_1: clean(row['Genre 1']),\n      genre_2: clean(row['Genre 2']),\n      youtube_link: clean(row['Youtube Video']),\n      drive_link: clean(row['Drive Video']),\n    });\n  }\n}\n\nconst jsonLit = JSON.stringify(out);\nconst sql =\n  \"DELETE FROM game_evaluations WHERE category_group = '\" + category + \"';\\n\" +\n  \"INSERT INTO game_evaluations (game_id, category_group, initial_evaluator, assigned_date, evaluate_date, initial_note, initial_conclusion, genre_1, genre_2, youtube_link, drive_link)\\n\" +\n  \"SELECT v.game_id, v.category_group, v.initial_evaluator, v.assigned_date, v.evaluate_date, v.initial_note, v.initial_conclusion, v.genre_1, v.genre_2, v.youtube_link, v.drive_link\\n\" +\n  \"FROM json_to_recordset($jrows$\" + jsonLit + \"$jrows$::json) AS v(\\n\" +\n  \"  game_id text, category_group text, initial_evaluator text, assigned_date date,\\n\" +\n  \"  evaluate_date timestamptz, initial_note text, initial_conclusion text,\\n\" +\n  \"  genre_1 text, genre_2 text, youtube_link text, drive_link text)\\n\" +\n  \"WHERE EXISTS (SELECT 1 FROM game_info gi WHERE gi.game_id = v.game_id)\\n\" +\n  \"ON CONFLICT (game_id, category_group) DO NOTHING;\";\n\nreturn [{ json: { sql, count: out.length } }];\n"
      },
      "id": "build-sql",
      "name": "Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "insert-rows",
      "name": "Insert Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "KBZC0RGIJsc8d7GK",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rows whose StoreKit cell holds a pasted image → { game_id, imageId },\n// batched 50 per item for POST /imageurls.\nconst out = [];\nconst seen = new Set();\nfor (const item of $input.all()) {\n  const data = item.json || {};\n  const cols = data.columns || [];\n  const idByTitle = Object.fromEntries(cols.map(c => [c.title, c.id]));\n  const gameIdCol = idByTitle['GameID'];\n  const storeKitCol = idByTitle['StoreKit'];\n  if (!gameIdCol || !storeKitCol) continue;\n  for (const r of (data.rows || [])) {\n    let gameId = null, imageId = null;\n    for (const cell of (r.cells || [])) {\n      if (cell.columnId === gameIdCol && cell.value != null) gameId = String(cell.value).trim();\n      if (cell.columnId === storeKitCol && cell.image && cell.image.id) imageId = cell.image.id;\n    }\n    if (!gameId || !imageId || seen.has(gameId)) continue;\n    seen.add(gameId);\n    out.push({ game_id: gameId, imageId });\n  }\n}\nconst batches = [];\nfor (let i = 0; i < out.length; i += 50) batches.push({ json: { batch: out.slice(i, i + 50) } });\nreturn batches.length ? batches : [{ json: { batch: [] } }];\n"
      },
      "id": "collect-cell-images",
      "name": "Collect Cell Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.batch.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-images",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smartsheet.com/2.0/imageurls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch.map(b => ({ imageId: b.imageId }))) }}",
        "options": {}
      },
      "id": "get-image-urls",
      "name": "Get Image URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_SMARTSHEET_HEADER_AUTH_CRED_ID",
          "name": "Smartsheet Authorization Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Join temporary URLs (expire ~30 min) back to game_ids by imageId; chunk 50 per app call.\nconst sent = $('Has Images?').all();\nconst responses = $input.all();\nconst items = [];\nfor (let i = 0; i < responses.length; i++) {\n  const batch = (sent[i] && sent[i].json.batch) || [];\n  const urlById = Object.fromEntries(((responses[i].json || {}).imageUrls || []).map(u => [u.imageId, u.url]));\n  for (const b of batch) {\n    const url = urlById[b.imageId];\n    if (url) items.push({ game_id: b.game_id, image_urls: [url] });\n  }\n}\nconst chunks = [];\nfor (let i = 0; i < items.length; i += 50) chunks.push({ json: { items: items.slice(i, i + 50) } });\nreturn chunks.length ? chunks : [{ json: { items: [] } }];\n"
      },
      "id": "build-items",
      "name": "Build Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=REPLACE_WITH_APP_URL/api/admin/import-screenshots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "REPLACE_WITH_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items }) }}",
        "options": {}
      },
      "id": "send-to-app",
      "name": "Send To App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ]
    }
  ],
  "connections": {
    "Run (manual)": {
      "main": [
        [
          {
            "node": "Sheet IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet IDs": {
      "main": [
        [
          {
            "node": "Get Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Cell Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Insert Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Cell Images": {
      "main": [
        [
          {
            "node": "Has Images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Images?": {
      "main": [
        [
          {
            "node": "Get Image URLs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Image URLs": {
      "main": [
        [
          {
            "node": "Build Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Items": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Send To App",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}